<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 34d8f3e77c2ae40f3ecec5aa7e0f87f35a4af9af
>>>>>>> 7ab2f4cb7ba14e24b8e4d4cb73c2b8ca497dbc95
<script> 
jQuery(function() {
  
 
    if (localStorage.getItem('storedDiscount')){  
      var discountStored = localStorage.getItem('storedDiscount');   
      $('input[name="discount"]').val(localStorage.getItem('storedDiscount'));  
    }  

    $(document).on("click", ".btn--cart-checkout", function(e) {
        var $discountCode = $('input[name="discount"]').val(); 
      localStorage.setItem('storedDiscount', $discountCode);  
    })
  
})(jQuery);   
</script> 

<div class="coupon-section">
    <label>{{ section.settings.coupon_title }}</label>
    <div class="form">
      <input type="text"  autocomplete="off" placeholder="Coupon Code" name="discount">
      {% comment %}
      <input type="button" value="Apply" class="btn-coupon">
      {% endcomment %}
    </div>
    <p>{{ section.settings.coupon_content }}</p>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
=======
<script> 
jQuery(function() {
  
 
    if (localStorage.getItem('storedDiscount')){  
      var discountStored = localStorage.getItem('storedDiscount');   
      $('input[name="discount"]').val(localStorage.getItem('storedDiscount'));  
    }  

    $(document).on("click", ".btn--cart-checkout", function(e) {
        var $discountCode = $('input[name="discount"]').val(); 
      localStorage.setItem('storedDiscount', $discountCode);  
    })
  
})(jQuery);   
</script> 

<div class="coupon-section">
    <label>{{ section.settings.coupon_title }}</label>
    <div class="form">
      <input type="text"  autocomplete="off" placeholder="Coupon Code" name="discount">
      {% comment %}
      <input type="button" value="Apply" class="btn-coupon">
      {% endcomment %}
    </div>
    <p>{{ section.settings.coupon_content }}</p>
>>>>>>> 46b3aba0af5ca5f9040fa1bee244760204e8c6c9
>>>>>>> 34d8f3e77c2ae40f3ecec5aa7e0f87f35a4af9af
>>>>>>> 7ab2f4cb7ba14e24b8e4d4cb73c2b8ca497dbc95
  </div>