.default-page-content {
  padding: 73px 0 100px;
  position: relative;
  &:before {
    background: url(body-default-wave.svg) repeat-x center / 100%;
    // height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    // top: -125px;
    content: "";
    height: 214px;
    top: -158px;
    // background-size: contain;
    z-index: 2;
    // filter: brightness(0) saturate(100%) invert(100%) sepia(56%) saturate(587%)
    //   hue-rotate(316deg) brightness(105%) contrast(114%);
    // @include MQ(MQ-1440) {
    //   height: 114px;
    //   top: -97px;
    //   background-size: cover;
    // }
    @media (min-width: 1440px) {
      height: 260px;
      top: -190px;
    }
    @include MQ(MQ-1330) {
      top: -145px;
    }
    @include MQ(MQ-980) {
      height: 155px;
      top: -100px;
    }
    @include MQ(MQ-768) {
      // height: 88px;
      // top: -54px;
      // background-size: cover;
      height: 91px;
      top: -66px;
      background-size: cover;
      background-position: left;
    }
  }
  &:after {
    width: 82px;
    height: 81px;
    content: "";
    position: absolute;
    left: 37%;
    z-index: 10;
    top: -127px;
    background: url(ufo.webp) no-repeat center / 100%;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-480) {
      display: none;
    }
  }
  @include MQ(MQ-980) {
    padding: 60px 0 120px;
  }
  @include MQ(MQ-767) {
    padding-bottom: 80px;
  }
  .container-1240 {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      right: 22%;
      top: -126px;
      background: url(icon-cloud.webp) no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      width: 65px;
      height: 52px;
      z-index: 2;
      @include MQ(MQ-480) {
        display: none;
      }
    }
  }
}

.shopify-policy__container {
  max-width: 1020px !important;
  width: 100%;
  padding: 55px 30px 157px;
  margin: 0 auto;
  .shopify-policy__title {
    h1 {
      margin-bottom: 75px;
    }
  }
}

.ambassador-program {
  &.default-page-content {
    position: relative;
    overflow-x: clip;
    &:after {
      width: 234px;
      height: 200px;
      background: url(line.webp) no-repeat center/100%;
      right: 0px;
      top: 0px;
      left: unset;
      transform: rotate(-4.65deg);
      z-index: 0;
    }
    .container-1240 {
      &:before {
        width: 82px;
        height: 81px;
        content: "";
        position: absolute;
        left: 37%;
        z-index: 10;
        top: -190px;
        background: url(ufo.webp) no-repeat center / 100%;
        animation-name: flow;
        animation-duration: 10s;
        animation-iteration-count: infinite;

        @include MQ(MQ-980) {
          top: -140px;
        }
        @include MQ(MQ-480) {
          display: none;
        }
      }
      &::after {
        right: 25%;
        top: -106px;
      }
      // .full-format {
      //   padding-bottom: 66px;
      //   @include MQ(MQ-500) {
      //     padding-bottom: 50px;
      //   }
      // }
    }
  }
}
