.full-width-content-section {
  position: relative;
  .top-wave {
    position: relative;
    // &::after {
    //   background: url("shape.svg") repeat left / 100%;
    //   height: 101px;
    //   width: 100%;
    //   position: absolute;
    //   left: 0;
    //   top: -41px;
    //   z-index: 2;
    //   content: "";
    // }
    &:before {
      background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center / 1452px;
      height: 6vw;
      width: 100%;
      position: absolute;
      left: 0;
      top: -3px;
      z-index: 2;
      background-size: contain;
      content: "";
      @media (min-width: 1440px) {
        background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center / 100%;
        height: 6vw;
        top: -6px;
      }
      @include MQ(MQ-1300) {
        height: 136px;
        top: -37px;
      }
      @include MQ(MQ-1100) {
        top: -47px;
      }
      @include MQ(MQ-768) {
        // background-size: calc(1452px / 2);
        // top: -32px;
        background-size: contain;

        top: -50px;
        // height: 11vw;
      }
      @include MQ(MQ-600) {
        height: 85px;
        top: -32px;
      }
      @include MQ(MQ-350) {
        top: -33px;
      }
    }
  }
  &::before {
    // width: 620px;
    // height: 773px;
    // content: "";
    // position: absolute;
    // left: 0px;
    // z-index: 0;
    // bottom: 0px;
    // background: url("thread-multi-white.webp") no-repeat center / 100%;
    // transform: (40deg) translate(-32%, -50px);
    width: 603px;
    height: 840px;
    content: "";
    position: absolute;
    -webkit-transform: rotate(35.9deg);
    transform: rotate(35.9deg);
    top: -129px;
    left: -148px;
    z-index: 0;
    background: url(thread-multi-white.webp) no-repeat center / 100%;
    @include MQ(MQ-768) {
      display: none;
    }
  }
  &::after {
    width: 412.57px;
    height: 702.57px;
    content: "";
    position: absolute;
    right: -67.05px;
    z-index: 0;
    top: -36.73px;
    background: url(white-thread-2.0.svg) no-repeat center / contain;
    @include MQ(MQ-980) {
      top: -150px;
    }
    @include MQ(MQ-768) {
      width: 125px;
      height: 426px;
      top: -130px;
      right: -20px;
    }
    @include MQ(MQ-500) {
      width: 95px;
      height: 396px;
    }
  }

  .container-1440 {
    padding: 293px 0 314px;
    @include MQ(MQ-1200) {
      padding-bottom: 360px;
    }
    @include MQ(MQ-768) {
      padding: 110px 0 150px;
    }
    position: relative;
    z-index: 1;
    &::before {
      width: 114px;
      height: 91px;
      content: "";
      position: absolute;
      left: 131px;
      z-index: 1;
      top: 210px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      @include MQ(MQ-980) {
        display: none;
      }
    }
    &::after {
      width: 173px;
      height: 120px;
      content: "";
      position: absolute;
      right: 70px;
      z-index: 1;
      top: 110px;
      background: url("graphic-planet.png") no-repeat center / 100%;
      @include MQ(MQ-768) {
        width: 57px;
        height: 40px;
        top: 40px;
      }
    }
  }
  .container-840 {
    position: relative;
    @include MQ(MQ-350) {
      padding: 0 30px;
    }
    &::before {
      width: 137px;
      height: 137px;
      content: "";
      position: absolute;
      left: -45px;
      z-index: 1;
      bottom: -150px;
      background: url("ufo.webp") no-repeat center / 100%;
      @include MQ(MQ-768) {
        width: 60px;
        height: 60px;
        left: 23px;
        bottom: -66px;
      }
    }
    &::after {
      width: 31px;
      height: 44px;
      content: "";
      position: absolute;
      left: 145px;
      z-index: -1;
      bottom: -13px;
      background: url("star-large.webp") no-repeat center / 100%;
      @include MQ(MQ-980) {
        display: none;
      }
    }
  }
  .kids-images {
    position: absolute;
    right: 72px;
    width: 532px;
    height: 330px;
    @include MQ(MQ-768) {
      width: 205.7px;
      height: 127.7px;
      right: 15px;
    }
    img {
      @include img-object-contain;
    }
    bottom: 0px;
    z-index: 0;
  }
  text-align: center;
  background: url("full-width-bg-green.jpg") repeat center / 100%;
  h2 {
    margin-bottom: 20px;
    position: relative;
    &::before {
      width: 90px;
      height: 119px;
      content: "";
      position: absolute;
      left: 158px;
      z-index: 1;
      top: -180px;
      background: url("kite.svg") no-repeat center / 100%;
      @include MQ(MQ-768) {
        width: 49px;
        height: 64px;
        left: 18px;
        top: -63px;
      }
    }
    &::after {
      width: 63.9px;
      height: 51px;
      content: "";
      position: absolute;
      top: -132px;
      z-index: 1;
      right: 150px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      @include MQ(MQ-980) {
        display: none;
      }
    }
  }
  .btn--primary {
    margin: 0 auto;
  }
  .description {
    margin-bottom: 20px;
  }
  &.blue-bg {
    background: url("full_width_bg_blue.webp") repeat center / 100%;
  }
}
.template-index {
  .full-width-content-section {
    .top-wave {
      &:before {
        background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center /
          1452px;
        height: 12vw;
        width: 100%;
        position: absolute;
        left: 0;
        top: -2px;
        z-index: 2;
        content: "";
        filter: brightness(0) saturate(100%) invert(97%) sepia(90%)
          saturate(332%) hue-rotate(309deg) brightness(102%) contrast(102%);
        @media (min-width: 1440px) {
          background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center /
            100%;
          height: 6vw;
          top: -6px;
        }
        @include MQ(MQ-1300) {
          top: -12px;
        }
        @include MQ(MQ-1100) {
          top: -22px;
        }
        @include MQ(MQ-768) {
          // background-size: calc(1452px / 2);
          // top: -32px;
          background-size: contain;
          height: 11vw;
        }
        @include MQ(MQ-600) {
          height: 85px;
          top: -31px;
        }
        @include MQ(MQ-350) {
          top: -34px;
        }
      }
    }
  }
}
