.half-image-half-content-outer {
  position: relative;
  z-index: 2;
  &::before {
    height: 197px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -97px;
    content: "";
    z-index: 0;
  }

  &.blue-wave::before {
    background: url("wave-sky-blue.svg") repeat-x left / 100%;
    @include MQ(MQ-980) {
      // height: 155px;
      // top: -100px;
      // height: 95px;
      height: 214px;
      top: -160px;
    }
    @include MQ(MQ-480) {
      height: 80px;
      top: -44px;
      background-size: cover;
    }
  }
  &.transparent-wave::before {
    background: url(wave-transparent.svg) repeat-x center / 100%;
    // height: 176px;
    // top: -128px;
    height: 214px;
    top: -160px;
    @include MQ(MQ-1330) {
      top: -130px;
    }
    @include MQ(MQ-980) {
      height: 155px;
      top: -100px;
    }
    @include MQ(MQ-768) {
      height: 65px;
      top: -55px;
      background-size: cover;
      background-position: left;
    }
  }

  &.yellow-wave::before {
    background: url(yellow-wave.webp) repeat-x left / 1327px;
    height: 156.5px;
    top: -90px;
    @include MQ(MQ-980) {
      height: 155px;
      top: -100px;
    }
    @include MQ(MQ-480) {
      height: 88px;
      top: -54px;
      background-size: cover;
    }
  }
  &.section-row-right {
    .half-image-half-content {
      &:nth-child(odd) {
        overflow-x: clip;
        .container-1260 {
          flex-direction: row-reverse;
          @include MQ(MQ-980) {
            flex-direction: column;
          }
          &:before {
            z-index: -1;
            left: 0;
            right: unset;
          }
        }
        &:before {
          display: none;
        }
        .content {
          &:after {
            right: 0;
            bottom: unset;
            top: -18px;
          }
        }
        .image-wrapper {
          margin-right: -190px;
          margin-left: 139px;
          &:after {
            display: none;
          }
          &:before {
            mask-image: url(yellow-shape-right.svg);
            transform: translateX(-20px);
            @include MQ(MQ-768) {
              width: 500px;
              height: 424px;
              left: 0;
              right: 0;
              margin: 0 auto;
            }
            @include MQ(MQ-600) {
              width: 350px;
              height: 296px;
              top: 40px;
            }
            @include MQ(MQ-480) {
              width: 320px;
              height: 273px;
            }
            @include MQ(MQ-400) {
              width: 280px;
              height: 239px;
              left: -10px;
              top: 25px;
            }
          }
          @include MQ(MQ-1280) {
            margin-left: 70px;
          }
          @include MQ(MQ-1100) {
            margin-right: -250px;
          }
          @include MQ(MQ-980) {
            width: 100%;
            max-width: 722px;
            margin: 0;
            display: flex;
            justify-content: center;
          }
        }
        .image-section,
        .video-section {
          mask-image: url(right-shape.svg);
        }
      }
      &:nth-child(even) {
        overflow-x: clip;
        .container-1260 {
          flex-direction: row;
          @include MQ(MQ-980) {
            flex-direction: column;
          }
        }
        &:before {
          display: none;
        }
        .content {
          &:after {
            right: 0;
            bottom: unset;
            top: 27px;
          }
        }
        .image-wrapper {
          margin-left: -190px;
          margin-right: 139px;
          &:after {
            display: none;
          }
          &:before {
            mask-image: url(yellow-shape-left.svg);
            @include MQ(MQ-768) {
              width: 500px;
              height: 424px;
              left: 0;
              right: 0;
              margin: 0 auto;
            }
            @include MQ(MQ-600) {
              width: 350px;
              height: 296px;
              top: 40px;
            }
            @include MQ(MQ-480) {
              width: 320px;
              height: 273px;
            }
            @include MQ(MQ-400) {
              width: 280px;
              height: 239px;
              left: -10px;
              top: 25px;
            }
          }
          @include MQ(MQ-1280) {
            margin-right: 70px;
          }
          @include MQ(MQ-1100) {
            margin-left: -250px;
          }
          @include MQ(MQ-980) {
            width: 100%;
            max-width: 722px;
            margin: 0;
            display: flex;
            justify-content: center;
          }
        }
        .image-section,
        .video-section {
          mask-image: url(left-shape.svg);
        }
      }
    }
  }
}

.template-index {
  .half-image-half-content-outer {
    z-index: 0;
    .half-image-half-content {
      &::before {
        right: 0px;
        top: -315px;
        width: 284px;
        height: 642px;
        background: url("thread-yellow.webp") no-repeat center / 100%;
      }
    }
  }
}
.half-image-half-content {
  position: relative;
  // z-index: 1;
  padding: 0px 0 160px;
  &.bg-blue {
    background-color: $color-sky-blue;
  }
  &.bg-brown {
    background-color: $color-off-white;
  }
  &.no-bg-color {
    background-color: transparent;
  }
  &:first-child {
    padding-top: 50px;
    &::before {
      position: absolute;
      content: "";
      right: 0px;
      top: 0;
      background: url("thread-orange.svg") no-repeat center / 100%;
      width: 221.6px;
      height: 182.06px;
    }
  }
  &::before {
    position: absolute;
    content: "";
    right: 0px;
    top: -315px;
    background: url("thread-yellow.webp") no-repeat center / 100%;
    width: 284px;
    height: 642px;
    z-index: 1;
    @include MQ(MQ-980) {
      display: none;
    }
  }
  .container-1260 {
    @include MQ(MQ-980) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 161px;
      top: -82px;
      background: url("star-large-white.webp") repeat center / 100%;
      width: 31.4px;
      height: 38.2px;
      animation-name: wstarRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-980) {
        display: none;
      }
    }
  }
  .video-section {
    position: relative;
    .video-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
    }
    video,
    iframe {
      object-fit: cover;
      border-radius: 4px;
      width: 100%;
      height: 100%;
      position: relative;
    }
    &:before {
      display: none;
    }
    .play-icon {
      position: absolute;
      // top: 50%;
      // left: 50%;
      top: 53%;
      left: 54%;

      width: 63px;
      height: 63px;
      transform: translate(-50%, -50%);
      z-index: 1;
      cursor: pointer;
      background: url(icon-play-white.svg) no-repeat center/63px;
      @include MQ(MQ-980) {
        width: 50px;
        height: 50px;
        background: url(icon-play-white.svg) no-repeat center/50px;
      }
    }
  }
  .image-wrapper {
    width: 722px;
    margin-right: 139px;
    margin-left: -190px;
    @include MQ(MQ-1280) {
      margin-right: 70px;
    }
    @include MQ(MQ-1100) {
      margin-left: -250px;
    }
    @include MQ(MQ-980) {
      width: 100%;
      max-width: 722px;
      margin: 0;
      display: flex;
      justify-content: center;
    }
    flex: none;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: -290px;
      bottom: 16px;
      background: url("thread-blue.webp") no-repeat center / 100%;
      width: 352px;
      height: 81px;
      @include MQ(MQ-980) {
        position: absolute;
        content: "";
        right: 0px;
        top: -72px;
        background: url("icon-cloud.webp") no-repeat center / 100%;
        animation: 10s linear infinite;
        animation-name: animateCloud;
        width: 65px;
        height: 52px;
      }
      @include MQ(MQ-480) {
        position: absolute;
        content: "";

        top: -42px;
        width: 47px;
        height: 38px;
      }
    }

    &::before {
      width: 726px;
      height: 617px;
      @include MQ(MQ-768) {
        width: 500px;
        height: 424px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      aspect-ratio: 1;
      -webkit-mask-image: url(yellow-shape-left.svg);
      mask-image: url(yellow-shape-left.svg);
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-size: cover;
      mask-size: cover;
      position: absolute;
      content: "";
      left: 0;
      top: 70px;
      transform: translateX(15px);
      @include MQ(MQ-600) {
        width: 350px;
        height: 296px;
        top: 40px;
      }
      @include MQ(MQ-480) {
        width: 320px;
        height: 273px;
      }
      @include MQ(MQ-400) {
        width: 280px;
        height: 239px;
        left: 0px;
        top: 30px;
      }
      @include MQ(MQ-350) {
        width: 260px;
        height: 221px;
      }
      background: $color-yellow;
      opacity: 1;

      z-index: 1;
    }
  }
  .image-section,
  .video-section {
    width: 722px;
    height: 654px;
    display: block;
    @include MQ(MQ-768) {
      width: 500px;
      height: 454px;
    }
    @include MQ(MQ-600) {
      width: 350px;
      height: 318px;
    }
    @include MQ(MQ-480) {
      width: 325px;
      height: 294px;
    }
    @include MQ(MQ-400) {
      width: 280px;
      height: 254px;
    }
    @include MQ(MQ-350) {
      width: 260px;
      height: 236px;
    }
    aspect-ratio: 1;
    -webkit-mask-image: url(left-shape.svg);
    mask-image: url(left-shape.svg);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: cover;
    mask-size: cover;

    //border-radius: 75% 25% 31% 69% / 60% 65% 35% 40%;
    z-index: 2;
    position: relative;
    overflow: hidden;

    img {
      @include img-object-cover;
    }
  }

  .content {
    width: 100%;
    padding-right: 0px;
    display: flex;
    align-items: center;
    position: relative;
    @include MQ(MQ-980) {
      margin-top: 80px;
    }
    &::after {
      position: absolute;
      content: "";
      right: 130px;
      bottom: 27px;
      background: url("star-large.webp") repeat center / 100%;
      animation-name: starRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      width: 42px;
      height: 51px;
      z-index: -1;
      @include MQ(MQ-980) {
        display: none;
      }
    }
    &::before {
      position: absolute;
      content: "";
      left: 0px;
      top: 20px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      width: 65px;
      height: 52px;
      @include MQ(MQ-980) {
        display: none;
      }
    }
    .description {
      max-width: 440px;
      width: 100%;
      @include MQ(MQ-768) {
        max-width: 100%;
      }
    }
    h2 {
      margin: 0 0 15px;
      padding-bottom: 0;
    }
    .inner {
      max-width: 544px;
      width: 100%;
    }
    &.center {
      @include MQ(MQ-768) {
        text-align: center;
      }
    }
    &.full {
      padding-top: 0px;
      width: 100% !important;
      margin-right: 0;
    }

    @include MQ(MQ-980) {
      padding-right: 0px;
    }
    @include MQ(MQ-768) {
      width: 100%;
      max-width: 100%;
      order: 2;
      // padding-top: 60px;
      margin: 80px 0 0;
      padding-right: 0;
    }
    @include MQ(MQ-500) {
      margin-top: 60px;
    }
    .pre-title {
      margin-bottom: 20px;
      color: $color-orange;
    }
    h2 {
      margin-bottom: 20px;
    }
    .btn--primary {
      margin-top: 30px;
      &:hover {
        color: $color-white !important;
      }
    }
  }
  // &:nth-child(even) {
  //   // padding-top: 0;
  //   .content {
  //     width: 47.416%;
  //     order: 2;
  //     // padding-left: 113px;
  //     padding-right: 0;
  //     @include MQ(MQ-980) {
  //       // padding-left: 40px;
  //     }
  //     @include MQ(MQ-1200) {
  //       // padding-left: 80px;
  //     }
  //     @include MQ(MQ-768) {
  //       width: 100% !important;
  //       margin-left: 0;
  //       padding-left: 0;
  //     }
  //   }
  //   @include MQ(MQ-768) {
  //     .image-section {
  //       width: 100%;
  //     }
  //   }
  // }
  &:nth-child(even) {
    overflow-x: clip;
    .container-1260 {
      flex-direction: row-reverse;
      @include MQ(MQ-980) {
        flex-direction: column;
      }
    }
    &:before {
      display: none;
    }
    .content {
      &:after {
        right: 0;
        bottom: unset;
        top: 27px;
      }
    }
    .image-wrapper {
      margin-right: -190px;
      margin-left: 139px;
      &:after {
        display: none;
      }
      &:before {
        mask-image: url(yellow-shape-right.svg);
        transform: translateX(-20px);
        @include MQ(MQ-768) {
          width: 500px;
          height: 424px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
        @include MQ(MQ-600) {
          width: 350px;
          height: 296px;
          top: 40px;
        }
        @include MQ(MQ-480) {
          width: 320px;
          height: 273px;
        }
        @include MQ(MQ-400) {
          width: 280px;
          height: 239px;
          left: -10px;
          top: 25px;
        }
      }
      @include MQ(MQ-1280) {
        margin-left: 70px;
      }
      @include MQ(MQ-1100) {
        margin-right: -250px;
      }
      @include MQ(MQ-980) {
        width: 100%;
        max-width: 722px;
        margin: 0;
        display: flex;
        justify-content: center;
      }
    }
    .image-section,
    .video-section {
      mask-image: url(right-shape.svg);
    }
  }
  .full-format {
    p {
      // padding-bottom: 0;
      // @include MQ(MQ-768) {
      //   padding-bottom: 0;
      // }
      strong {
        text-transform: uppercase;
      }
    }
  }
}

.about-us-section {
  &:after {
    width: 82px;
    height: 81px;
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translate(-100%, -12px);
    z-index: 2;
    top: -90px;
    background: url(ufo.webp) no-repeat center / 100%;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-980) {
      top: -57px;
    }
    @include MQ(MQ-480) {
      display: none;
    }
  }
  // &:before {
  //   background: url(yellow-wave.webp) repeat-x top / 100%;
  //   height: 200px;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: -125px;
  //   content: "";
  //   background-size: contain;
  //   z-index: 2;
  //   filter: brightness(0) saturate(100%) invert(100%) sepia(56%) saturate(587%)
  //     hue-rotate(316deg) brightness(105%) contrast(114%);
  //   @include MQ(MQ-1440) {
  //     height: 114px;
  //     top: -97px;
  //     background-size: cover;
  //   }
  //   @include MQ(MQ-768) {
  //     height: 88px;
  //     top: -54px;
  //     background-size: cover;
  //   }
  // }
  .half-image-half-content {
    @include MQ(MQ-980) {
      padding-bottom: 65px;
    }
    @include MQ(MQ-480) {
      padding-bottom: 45px;
    }
    .btn--primary {
      &:hover {
        color: $color-white !important;
      }
    }
    &:nth-child(1) {
      .content {
        .btn--primary {
          background: url(Isolation_mode-pink.webp) no-repeat center / 100%;
          color: $color-white !important;
        }
      }
    }
    &:nth-last-child(1) {
      padding-bottom: 0;
    }
    &:nth-child(1),
    &:nth-child(2) {
      .container-1260:after {
        display: none;
      }
    }
    &:nth-child(2) {
      .container-1260:before {
        display: none;
      }
    }
    .content {
      &:before {
        z-index: -1;
      }
      &:after {
        right: 0;
      }
      // @include MQ(MQ-768) {
      //   padding-top: 45px;
      // }
    }
    &:nth-child(1) {
      .content {
        &:after {
          @include MQ(MQ-980) {
            display: block;
            bottom: -55px;
          }
        }
      }
    }
    &:nth-child(2) {
      .content {
        &:after {
          @include MQ(MQ-980) {
            display: block;
            bottom: -70px;
            top: unset;
            right: unset;
            left: 27px;
          }
        }
      }
      &:nth-child(3) {
        .content {
          &:after {
            @include MQ(MQ-980) {
              display: none;
            }
          }
        }
      }
      p {
        padding-bottom: 0;
      }
      @include MQ(MQ-1200) {
        padding-right: 20px;
      }
      @include MQ(MQ-980) {
        padding-right: 40px;
      }
      @include MQ(MQ-768) {
        padding-right: 0;
      }
    }
    .image-wrapper:after {
      @include MQ(MQ-980) {
        display: none;
      }
    }
  }
}

.body-safety-1,
.author-visit-1 {
  overflow-x: clip;
  @include MQ(MQ-980) {
    margin-bottom: -20px;
  }
  &:after {
    width: 82px;
    height: 81px;
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    transform: translate(-100%, -12px);
    z-index: 2;
    top: -90px;
    background: url(ufo.webp) no-repeat center / 100%;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-980) {
      top: -57px;
    }
    @include MQ(MQ-480) {
      display: none;
    }
  }
  .half-image-half-content {
    padding-bottom: 70px;
    @include MQ(MQ-980) {
      padding-bottom: 0px;
    }
    .content {
      &:before {
        left: unset;
        top: -80px;
        right: 53%;
        transform: translateX(50%);
      }
      &:after {
        right: 29px;
        bottom: -33px;
      }
    }
    .image-wrapper {
      &:after {
        right: -190px;
        bottom: -50px;
      }
    }
    .container-1260 {
      &:after {
        display: none;
      }
      &::before {
        width: 234px;
        height: 200px;
        background-image: url(line.webp);
        background-repeat: no-repeat;
        right: -85px;
        top: -50px;
        transform: rotate(-4.65deg);
        z-index: 0;
        @include MQ(MQ-1300) {
          right: 0;
          top: -90px;
        }
      }
    }
  }
}
.body-safety-2 {
  // &:before {
  //   top: -75px;
  //   height: 96px;
  // }
  .half-image-half-content {
    padding-top: 150px;
    padding-top: 50px;
    margin-top: 75px;
    overflow-x: clip;
    @include MQ(MQ-980) {
      padding-bottom: 100px;
    }
    .container-1260 {
      flex-direction: row-reverse;
      @include MQ(MQ-980) {
        flex-direction: column;
      }
      &:before {
        right: unset;
        left: -290px;
        transform: rotate(166.2deg);
        top: -269px;
        @include MQ(MQ-980) {
          display: block;
          background: url(icon-cloud.webp) no-repeat center / 100%;
          animation: 10s linear infinite;
          animation-name: animateCloud;
          width: 47px;
          height: 37px;
          left: unset;
          right: 59px;
          bottom: unset;
          top: -43px;
          transform: none;
        }
      }
      &:after {
        display: none;
      }
      .content {
        &:after {
          right: 0;
          bottom: unset;
          top: 27px;
        }
      }
      .image-wrapper {
        margin-right: -190px;
        margin-left: 139px;
        &:after {
          display: none;
        }
        &:before {
          mask-image: url(yellow-shape-right.svg);
          @include MQ(MQ-768) {
            width: 500px;
            height: 424px;
            left: 0;
            right: 0;
            margin: 0 auto;
          }
          @include MQ(MQ-600) {
            width: 350px;
            height: 296px;
            top: 40px;
          }
          @include MQ(MQ-480) {
            width: 320px;
            height: 273px;
          }
          @include MQ(MQ-400) {
            width: 280px;
            height: 239px;
            left: -10px;
            top: 25px;
          }
        }
        @include MQ(MQ-1280) {
          margin-left: 70px;
        }
        @include MQ(MQ-1100) {
          margin-right: -250px;
        }
        @include MQ(MQ-980) {
          width: 100%;
          max-width: 722px;
          margin: 0;
          display: flex;
          justify-content: center;
        }
      }
      .image-section,
      .video-section {
        mask-image: url(right-shape.svg);
      }
    }
  }
}

.body-safety-3 {
  .half-image-half-content {
    padding-bottom: 75px;
    overflow-x: clip;
  }
  .transparent-wave {
    &:before {
      background-image: url(yellow-wave-2.svg);
      top: -70px;
      transform: rotate(1.35deg);
    }
  }
  .container-1260 {
    &::before {
      right: -195px;
      @include MQ(MQ-1280) {
        right: 0;
      }
    }
    &:after {
      @include MQ(MQ-980) {
        display: block;
        background-image: url(star-large.webp);
        animation-name: starRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        left: 47px;
        top: 0;
      }
    }
  }
  .image-wrapper {
    &:after {
      right: -127px;
    }
  }
}

.author-visit-1 {
  @include MQ(MQ-980) {
    margin-bottom: 5px;
  }
  .image-wrapper {
    margin-right: 107px;
    @include MQ(MQ-1280) {
      margin-right: 70px;
    }
    @include MQ(MQ-980) {
      margin: 0;
    }
    &:after {
      display: none;
    }
  }
}
.author-visit-2 {
  &:before {
    display: none;
  }
  .container-1260 {
    &:before {
      display: none;
    }
  }
  .half-image-half-content {
    // padding-bottom: 75px;
    @include MQ(MQ-980) {
      padding-top: 0;
      // padding-bottom: 50px;
    }
    &:first-child {
      .container-1260 {
        &:after {
          top: unset;
          bottom: 65px;
          left: -44px;
          @include MQ(MQ-980) {
            background: url(star-large.webp) no-repeat center / 100%;
            animation-name: starRotate;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            width: 21.37px;
            height: 28.52px;
            display: block;
            left: 50px;
            bottom: -60px;
          }
        }
      }
      .content {
        &:before {
          left: 10.93px;
          top: -93px;
        }
        &:after {
          top: -22px;
        }
      }
    }
    &:nth-child(2) {
      .container-1260 {
        &:after {
          display: none;
        }
      }
      .content {
        &:before {
          left: -81px;
          top: -97px;
        }
        &:after {
          top: unset !important;
          bottom: -22px !important;
          right: -43px !important;
          @include MQ(MQ-1280) {
            right: 0 !important;
          }
        }
      }
    }
    &:nth-child(3) {
      .container-1260 {
        &:after {
          display: none;
        }
        &:before {
          display: block;
          background: url(star-large.webp) no-repeat center / 100%;
          animation-name: starRotate;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          width: 42px;
          height: 51px;
          top: unset !important;
          left: unset !important;
          bottom: -50px !important;
          right: -43px !important;
          @include MQ(MQ-1280) {
            right: 0 !important;
          }
          @include MQ(MQ-980) {
            display: none;
          }
        }
      }
      .content {
        &:before {
          left: -56px;
          top: -86px;
          @include MQ(MQ-1280) {
            left: 0 !important;
          }
        }
        &:after {
          display: none;
        }
      }
    }
  }
}
