footer {
  // overflow: hidden;
  position: relative;
  overflow-x: clip;
  background-color: $color-yellow;
  z-index: 3 !important;
  // margin-top: 233px;
  // @include MQ(MQ-768) {
  //   margin-top: 180px;
  // }
  // @include MQ(MQ-480) {
  //   margin-top: 120px;
  // }
  &:before {
    background: url(graphic-yellow-wave.png) repeat-x top/100%;
    position: absolute;
    content: "";
    width: 100%;
    height: 200px;
    left: 0;
    top: -125px;
    background-size: contain;

    @include MQ(MQ-1280) {
      top: -100px;
    }
    @include MQ(MQ-980) {
      top: -70px;
    }
    @include MQ(MQ-768) {
      top: -60px;
    }
    @include MQ(MQ-600) {
      top: -54px;
    }
    @include MQ(MQ-480) {
      top: -34px;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 111px;
    height: 85px;
    background: url(icon-cloud.webp) no-repeat center / 100%;
    animation: 10s linear infinite;
    animation-name: animateCloud;
    top: -70px;
    left: 25%;
    background-size: contain;
    @include MQ(MQ-480) {
      width: 60px;
      height: 45px;
      top: -44px;
      display: none;
    }
  }
  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include MQ(MQ-768) {
      flex-direction: column;
    }
    ul.insta-list {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 11px);
      max-width: 490px;
      margin-left: -11px;
      @include MQ(MQ-1200) {
        margin-left: -8px;
        width: calc(100% + 8px);
      }
      @include MQ(MQ-768) {
        margin-top: 32px;
        padding-left: 0;
        justify-content: center;
        max-width: 430px;
      }

      li {
        margin-left: 11px;
        width: 135px;
        height: 135px;
        margin-bottom: 11px;
        @include MQ(MQ-1200) {
          margin-left: 8px;
          width: 135px;
          height: 120px;
          margin-bottom: 8px;
        }
        @include MQ(MQ-1024) {
          width: 100px;
          height: 100px;
        }
        .image-section {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
          // display: block;
          // &::after {
          //   position: absolute;
          //   display: block !important;
          //   content: "";
          //   width: 100%;
          //   height: 0;
          //   transition: 0.4s ease all;
          //   left: 0;
          //   bottom: 0;
          //   z-index: 2;
          //   background: linear-gradient(
          //     180.22deg,
          //     #d51f9100 -0.64%,
          //     #d51f91 85.13%
          //   );
          //   @include MQ(MQ-768) {
          //     background: linear-gradient(
          //       180.22deg,
          //       #d51f9100 -0.64%,
          //       #d51f91 97.13%
          //     );
          //   }
          // }
          &:hover {
            img {
              transform: scale(1.2);
              transition: 0.4s ease all;
            }
            // &::after {
            //   height: 100%;
            //   transition: 0.4s ease all;
            // }
          }
          img {
            width: 100%;
            height: 100%;
            transition: 0.4s ease all;
            object-fit: cover;
          }
        }
      }
    }
    .left-insta {
      padding-right: 20px;
      @include MQ(MQ-768) {
        display: none !important;
      }
    }
    .rigt-insta {
      justify-content: end;
      padding-left: 20px;
    }
    .middle-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      span {
        font-family: var(--font-family-secondary);
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 0.6px;
        text-align: center;
        margin-bottom: 29px;
        display: block;
        @include MQ(MQ-768) {
          margin-bottom: 12px;
        }
        @include MQ(MQ-480) {
          font-size: 25px;
        }
      }
      .footer-logo {
        width: 113px;
        height: 76px;
        // margin-bottom: 25px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .social-icons {
        display: flex;
        margin-top: 25px;

        @include MQ(MQ-980) {
          justify-content: center;
          margin-top: 26px;
        }

        ul {
          display: flex;
          align-items: center;
        }

        li {
          margin-right: 11px;

          &:last-child {
            margin-right: 0;
          }

          a {
            display: flex;
            align-items: center;

            &:hover {
              svg {
                path {
                  &:first-child {
                    fill: $color-pink;
                  }
                  &:nth-child(2) {
                    fill: $color-white;
                  }
                }
              }
            }

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  a {
    &::before,
    &::after {
      display: none;
    }
  }
  .main-footer {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      width: 60px;
      height: 45px;
      background: url(icon-cloud.webp) no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      top: -30px;
      right: 18%;
      background-size: contain;
      @include MQ(MQ-480) {
        width: 45.95px;
        height: 37.98px;
        top: -35px;
      }
    }
    &:before {
      position: absolute;
      content: "";
      left: 35.7px;
      top: 93px;
      background: url(star-large-white.webp) no-repeat center / 100%;
      animation-name: wstarRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      width: 27.2px;
      height: 41.9px;
      @include MQ(MQ-480) {
        display: none;
      }
    }
  }
  // .footer-top-bar {
  //   padding: 22px 0 18px;
  //   // background-color: $color-black;

  //   * {
  //     color: $color-black;
  //     text-transform: uppercase;
  //     text-align: center;
  //   }

  //   .slider {
  //     overflow: hidden;
  //   }

  //   .swiper-initialized {
  //     overflow: hidden;

  //     .swiper-slide {
  //       display: flex !important;
  //       justify-content: center;

  //       p {
  //         font-family: var(--font-family-secondary);
  //         font-weight: bold;
  //         line-height: normal;
  //         text-transform: uppercase;
  //         font-size: 16px;
  //         letter-spacing: 0.12px;
  //         text-align: center;
  //       }
  //     }
  //   }
  // }

  .main-footer {
    padding: 50px 0 20px;
    // background: $color-navy;

    @include MQ(MQ-980) {
      padding: 41px 0 0px;
    }

    &__middle {
      // padding-left: 35px;
      padding-top: 92px;
      max-width: 1098px;
      width: 100%;
      margin: 0 auto;
      justify-content: space-between;
      position: relative;
      z-index: 6;
      &:before {
        position: absolute;
        content: "";
        right: -68px;
        top: 160px;
        background: url(star-large-white.webp) no-repeat center / 100%;
        width: 27.2px;
        height: 41.9px;
        animation-name: wstarRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      @include MQ(MQ-1280) {
        justify-content: flex-start;
      }
      @include MQ(MQ-1225) {
        justify-content: flex-start;
      }
      @include MQ(MQ-980) {
        // flex-direction: column;
        // align-items: center;
        padding-top: 30px;
      }
      @include MQ(MQ-768) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__bottom {
      // padding-top: 70px;
      z-index: 5;
      // position: relative;
      margin-top: 40px;
      max-width: 1098px;
      width: 100%;
      margin: 0 auto;
      // margin-top: 88px;
      @include MQ(MQ-768) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .footer-cartoon {
        width: 100%;
        max-width: 886px;
        height: 23vw;
        max-height: 454px;
        position: absolute;
        bottom: 0;
        right: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: right bottom;
        }
        @include MQ(MQ-1200) {
          height: 28vw;
        }
        @include MQ(MQ-1100) {
          max-width: 600px;
        }
        @include MQ(MQ-768) {
          left: 0;
          position: relative;

          // margin-top: 30px;
          height: 48vw;
          img {
            object-position: left bottom;
          }
        }
      }
      .legal-menu {
        // margin-left: 80px;
        margin-top: 29px;
        // width: calc(100% - 886px);
        max-width: 600px;
        @include MQ(MQ-768) {
          margin-top: 15px;
        }
        @include MQ(MQ-1100) {
          width: calc(100% - 600px);
        }
        @include MQ(MQ-768) {
          width: 100%;
          text-align: center;
        }
        @include MQ(MQ-480) {
          text-align: left;
          max-width: 324px;
        }

        a {
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.67;
          letter-spacing: normal;
          position: relative;
          &:hover {
            color: $color-pink;
          }
        }
        span {
          position: relative;
          margin-right: 20px;
          white-space: nowrap;
          &::before {
            position: absolute;
            content: "";
            background: #3b2900;
            right: -10px;
            top: 6px;
            width: 1px;
            height: 60%;
          }
          &:last-child {
            margin-right: 0;
            &::before {
              display: none;
            }
          }
        }
      }
      .copyright {
        position: relative;
        padding-top: 61px;
        margin-top: 88px;
        z-index: 3;
        padding-bottom: 20px;
        @include MQ(MQ-980) {
          margin-top: 60px;
          padding-bottom: 40px;
        }
        @include MQ(MQ-768) {
          margin-top: 25px;
          padding-bottom: 0;
        }
        @include MQ(MQ-480) {
          max-width: 324px;
        }
        &:before {
          position: absolute;
          content: "";
          width: 276px;
          height: 29px;
          opacity: 0.6;
          left: 0;
          top: 0;
          z-index: 6;
          background: url(graphic-dotted-border.png) no-repeat center / 276px;
        }
        p,
        a {
          opacity: 0.6;
        }
        a {
          &:hover {
            opacity: 1;
            text-decoration: underline;
            color: $color-pink;
          }
        }
        p {
          margin-bottom: 7px;
        }
      }
      // &:after {
      //   position: absolute;
      //   content: "";
      //   width: 100%;
      //   max-width: 886px;
      //   height: 20vw;
      //   right: 0;
      //   bottom: 0;
      //   max-height: 473px;
      //   background: url(Footer-cartoon.jpg) no-repeat;
      // }

      a {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
        text-align: left;
      }

      @include MQ(MQ-1280) {
        padding-left: 0px;
      }

      @include MQ(MQ-980) {
        margin-top: 30px;
      }

      p {
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
        letter-spacing: 0.01px;
        display: block;
        width: 100%;
        // opacity: 0.6;
      }
    }

    &__newsletter {
      width: 100%;
      display: flex;
      // @include MQ(MQ-980) {
      //   flex-direction: column;
      // }
      .newsletter-title {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.39;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
        display: block;
        width: 100%;
        font-family: var(--font-family-secondary);
        @include MQ(MQ-480) {
          font-size: 15px;
        }
      }
      @include MQ(MQ-870) {
        flex-direction: column;
      }
      @include MQ(MQ-600) {
        position: relative;

        // border-bottom: 1px solid $color-black;

        form {
          max-width: 400px;
          margin: 0 auto;
        }
      }
    }
  }

  .right-section {
    display: flex;
    width: 622px;
    // padding-left: 30px;
    margin-right: 0 !important;

    @include MQ(MQ-1280) {
      width: 600px;
      // padding-left: 50px;
    }

    @include MQ(MQ-1225) {
      width: 100%;
      max-width: 580px;
    }

    @include MQ(MQ-980) {
      width: 100%;
      max-width: 500px;
    }
    @include MQ(MQ-870) {
      width: 100%;
      max-width: 300px;
    }

    // @include MQ(MQ-980) {

    //   width: 350px;
    //   padding-left: 30px;
    // }
    // @include MQ(MQ-840) {
    //   width: 100%;
    //   max-width: 315px;
    // }
    @include MQ(MQ-768) {
      padding-left: 0;
      width: 100%;
      max-width: 376px;
      margin-top: 30px;
    }
    @include MQ(MQ-480) {
      max-width: 324px;
    }
  }
  .news-content {
    max-width: 272px;
    width: 100%;
    @include MQ(MQ-980) {
      margin-bottom: 20px;
      max-width: 220px;
    }
  }
  .newsletter-form {
    width: 100%;
    max-width: 320px;
    @include MQ(MQ-480) {
      max-width: 280px;
    }
  }
  .description {
    margin-top: 21px;
    @include MQ(MQ-768) {
      margin-top: 9px;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.43;
      letter-spacing: 0.01px;
      text-transform: none;
    }

    // @include MQ(MQ-980) {
    //   margin-top: 56px;
    // }
  }

  .main-footer__nav {
    width: calc(100% - 542px);
    margin-left: -80px;
    padding-right: 30px;

    @include MQ(MQ-1225) {
      // width: calc(100% - 560px);
      width: 100%;
      max-width: 500px;
      margin-left: -60px;
      // justify-content: center;
      // padding-right: 20px;
      // justify-content: space-between;
    }
    @include MQ(MQ-980) {
      width: 100%;
      max-width: 580px;
      margin-left: -50px;
    }
    @include MQ(MQ-870) {
      margin-left: -30px;
      max-width: fit-content;
    }
    @include MQ(MQ-768) {
      margin-left: -58px;
      width: calc(100% + 58px);
      justify-content: center;
      padding-right: 0;
    }
    // @include MQ(MQ-600) {
    //   width: 100%;
    //   margin-left: 0px;
    //   margin-top: 32px;
    // }

    .footer-links {
      width: fit-content;
      margin-left: 80px;

      @include MQ(MQ-1225) {
        margin-left: 60px;
      }

      // @include MQ(MQ-768) {
      //   padding-left: 20px;
      // }
      @include MQ(MQ-980) {
        margin-left: 50px;
      }
      @include MQ(MQ-870) {
        margin-left: 30px;
      }
      @include MQ(MQ-768) {
        margin-left: 58px;
      }

      p {
        font-family: var(--font-family-secondary);

        font-weight: normal;
        line-height: 1.39;
        letter-spacing: 1px;
        text-align: left;
        text-transform: uppercase;
        margin-bottom: 21px;

        a {
          font-family: var(--font-family-secondary);
          font-size: 18px;
          font-weight: normal;
          line-height: 1.39;
          letter-spacing: 1px;
          text-align: left;
          text-transform: uppercase;
          color: $color-black;
          @include MQ(MQ-480) {
            font-size: 15px;
          }
        }

        // @include MQ(MQ-600) {
        //   margin: 0;
        //   pointer-events: all;
        //   cursor: pointer;
        //   padding: 0;
        //   position: relative;

        //   &::before {
        //     width: 13px;
        //     height: 13px;
        //     position: absolute;
        //     content: "";
        //     top: 3px;
        //     right: 0;
        //     filter: brightness(0) invert(1);
        //     background: url("icon-plus.webp") no-repeat center / 13px;
        //   }

        //   &.active {
        //     &::before {
        //       background: url("icon-minus.webp") no-repeat center / 13px;
        //     }
        //   }
        // }
      }

      ul {
        li {
          margin-bottom: 25px;

          @include MQ(MQ-768) {
            margin-bottom: 20px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .accordion-content {
        // display: none;
        display: block !important;

        @include MQ(MQ-600) {
          margin: 10px 0 0px;
        }

        a {
          font-family: var(--font-family-primary);
          font-size: 14px;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.02px;
          color: $color-black;
          text-transform: capitalize;

          &::before,
          &::after {
            display: none;
          }

          &:hover {
            color: $color-pink;

            svg {
              path {
                fill: $color-red;
              }

              image {
                filter: brightness(0) saturate(100%) invert(19%) sepia(52%)
                  saturate(5979%) hue-rotate(340deg) brightness(90%)
                  contrast(94%);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .footer-links {
    .accordion-content {
      display: block !important;
    }
  }
}
.template-index,
.template-404 {
  footer {
    margin-top: 0 !important;
  }
}
