/*
1. Announcement Bar
2. Main Content [main]
3. Header
*/

/****** Announcement Bar ******/
.announcement-visible .header-logo {
  top: -56px;
  @include MQ(MQ-1280) {
    top: -63px;
  }
  @include MQ(MQ-980) {
    top: -47px;
  }
}
.announcement-visible {
  .header-search-section {
    top: -55px !important;
    @include MQ(MQ-980) {
      top: 0 !important;
    }
  }
}
.announcement-hide {
  .header-logo {
    top: 0px !important;
  }
  @include MQ(MQ-980) {
    header {
      .main-header.active {
        .header-logo {
          height: 70px;
          width: 119px;
          transition: 0.4s all ease;
        }
      }
    }
  }
  .navbar-collapse {
    @include MQ(MQ-980) {
      height: calc(100vh - 54px);
      top: 55px !important;
    }
  }
}
.announcement-bar {
  background-color: $color-yellow2;
  position: relative;
  z-index: 99;
  // height: 33px;
  transition: all 0.3s ease;
  display: block;
  &.active {
    display: none;
  }
  .container-1410 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 50px 0 30px;
    // position: relative;
    text-align: center;
    @include MQ(MQ-768) {
      padding: 0 40px 0 30px;
    }
  }
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto !important;
      width: 100% !important;
      padding: 19px 0px 19px;
      @include MQ(MQ-980) {
        padding: 11.6px 0;
      }
      @include MQ(MQ-600) {
        padding: 0;
        min-height: 40px;
      }
      * {
        color: $color-black;
        text-align: center;
        @include MQ(MQ-768) {
          text-align: left;
        }
      }
    }
  }
  .swiper-initialized {
    overflow: hidden;
    padding-left: 170px;
    @include MQ(MQ-768) {
      width: calc(100% - 122px);
      margin-left: 122px;
      padding-left: 0px;
    }
    @include MQ(MQ-480) {
      //padding-left: 110px;
      width: calc(100% - 110px);
      margin-left: 110px;
    }
    .swiper-slide {
      display: flex !important;
    }
  }
  .close {
    position: absolute;
    color: $color-black;
    right: 20px;
    top: calc(50% - 12px);
    width: 20px;
    height: 20px;
    @include MQ(MQ-480) {
      width: 16px;
      height: 16px;
    }
    .icon-close {
      width: 100%;
      display: block;
      height: 100%;
      background: url(icon-close-cross.svg) no-repeat center/100%;
    }
    &:hover,
    &:focus {
      .icon-close {
        background: url(icon-close-hover.svg) no-repeat center/100%;
      }
    }
    @include MQ(MQ-768) {
      right: 9px;
    }
    // width: 23px;
    // height: 23px;
    &::before,
    &::after {
      display: none;
    }
    // &:hover,
    // &:focus {
    //   svg {
    //     path:nth-child(1) {
    //       fill: $color-black;
    //     }
    //     path:nth-child(2) {
    //       stroke: $color-white;
    //     }
    //     path:nth-child(3) {
    //       stroke: $color-white;
    //     }
    //   }
    // }
    // svg {
    //   width: 20px;
    //   height: 20px;
    //   position: relative;
    //   top: 2px;
    //   path {
    //     fill: transparent;
    //   }
    //   @include MQ(MQ-480) {
    //     width: 16px;
    //     height: 16px;
    //   }
    // }
  }
  p {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;

    display: inline;

    @include MQ(MQ-480) {
      font-size: 11px;
    }
    a {
      font-size: 14px;
      font-weight: 900 !important;
      line-height: normal;
      letter-spacing: normal;
      // padding: 12px 0px 12px;
      display: inline;
      text-transform: uppercase;
      position: relative;
      // text-decoration: none;
      text-decoration: none !important;
      @include MQ(MQ-480) {
        font-size: 11px;
      }
      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        bottom: 5px;
        background-color: $color-black;
        height: 1px;
        width: 100%;
        transition: 0.4s ease-in;
      }
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        bottom: 5px;
        background-color: $color-black;
        height: 1px;
        width: 0;
        left: auto;
        transition: 0.6s ease-in;
      }
      &:hover {
        // color: $color-white !important;
        &:before {
          width: 0;
          transition: 0.4s ease-in;
        }
        text-decoration: none !important;
        &:after {
          width: 100%;
          transition: 0.6s ease-in;
        }
      }
      // &::before,
      // &::after {
      //   display: none;
      // }
    }
  }
  a {
    color: $color-black;
    font-size: 14px;
    font-weight: 900 !important;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: normal;
    // padding: 12px 0px 12px;
    display: inline;
    text-decoration: none !important;
    position: relative;
    @include MQ(MQ-480) {
      font-size: 11px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      bottom: 5px;
      background-color: $color-black;
      height: 1px;
      width: 100%;
      transition: 0.8s ease-in;
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: auto;
      right: 0;
      bottom: 5px;
      background-color: $color-black;
      height: 1px;
      width: 0;
      transition: 0.6s ease-in;
    }
    &:hover {
      // color: $color-white !important;
      text-decoration: none !important;
      &:before {
        width: 0;
        transition: 0.4s ease-in;
      }
      &:after {
        width: 100%;
        transition: 0.6s ease-in;
      }
    }
  }
}

/****** Main Content ******/

/*
.main-content {
    padding-top: 118px;
    transition: 0.3s ease all;
    &.padding-0 {
        padding-top: 85px !important;
        @include MQ(MQ-980) {
            padding-top: 86px !important;
            &.active {
                padding-top: 86px !important;
            }
        }
    }
    &.active {
        padding-top: 85px;
        transition: 0.3s ease all;
    }
    @include MQ(MQ-980) {
        padding-top: 88px;
        &.active {
            padding-top: 55px;
        }
    }
}
*/

/****** Header LOGO ******/

#shopify-section-header {
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 99;
  transition: 0.4s ease-in all;
}

header {
  z-index: 9;
  // transition: 0.4s ease-in all;
  width: 100%;
  .container-1400 {
    padding-left: 0;
  }
  &.fixed {
    // transition: 0.4s ease-in all;
    background-image: linear-gradient(
      113deg,
      #5ebe55 27%,
      #a8d24e 62%,
      #5abe50 97%
    ) !important;
  }
  .search-li {
    // position: relative;
    @include MQ(MQ-980) {
      position: relative;
    }
    .search-icon {
      width: 100%;
      height: 100%;
      .search-icon-inner {
        display: block;
        width: 100%;
        height: 100%;
        background: url(icon-search-header.svg) no-repeat center/100%;
      }
      &:hover,
      &:focus {
        .search-icon-inner {
          background: url(icon-search-hover.svg) no-repeat center/100%;
        }
      }
      // svg {
      //   display: block;
      //   &:nth-child(2) {
      //     display: none;
      //     width: 28px;
      //     height: 28px;
      //   }
      // }
    }
    .search-icon.active {
      // display: none;
      @include MQ(MQ-980) {
        display: block;
        svg {
          display: none;
          &:nth-child(2) {
            display: block;
          }
        }
      }
    }
    a {
      &:after {
        display: none;
      }
    }
  }
  .header-search-section {
    width: 100%;
    display: none;
    // padding: 39px 0 76px;
    padding: 63px 0 71px;
    background-image: linear-gradient(to bottom, #fff8e3, #fff8e1);
    left: 0;
    z-index: 999;
    .close {
      width: 18px;
      height: 18px;
      position: absolute;
      right: 30px;
      top: 21px;
      span.close-icon {
        width: 100%;
        height: 100%;
        display: block;
        background: url(icon-close-cross.svg) no-repeat center/100%;
      }
      &:hover,
      &:focus {
        span.close-icon {
          background: url(icon-close-hover.svg) no-repeat center/100%;
        }
      }
    }
    .container-830 {
      max-width: 830px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      position: relative;
      // @include MQ(MQ-980) {
      //   padding: 0 30px;
      // }
    }
    &.active {
      transition: 0.3s ease all;
      display: block;
      .toggle-icon {
        display: block;
        @include MQ(MQ-980) {
          svg {
            position: absolute;
            left: 0;

            top: 7px;
          }
        }
      }
    }
    .toggle-icon {
      @include MQ(MQ-980) {
        position: absolute;
        right: 26px;
        width: 55px;
        height: 31px;
        background: $color-yellow;
        border-radius: 30px;
        top: 4.3px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      // display: none;
    }
    position: absolute;
    display: none;
    // height: 36px;
    transition: 0.3s ease all;

    // top: 66px;
    // top: -55px;
    top: 0;

    form {
      width: 100%;
      // height: 36px;
    }
    @include MQ(MQ-980) {
      padding: 0;
      position: relative;
      display: block;
      padding-top: 15px;
      top: 0;
      background: transparent !important;
    }
    .search-form-section {
      align-items: center;
      form {
        width: 100%;
        // height: 36px;
      }
      padding-bottom: 20px;
    }
    input[type="text"],
    input[type="search"] {
      border: 1px solid $color-border;
      border-radius: 30px;
      width: 100%;
      max-width: 100%;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      font-family: var(--font-family-primary);
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.01px;
      color: $color-black;
      height: 55px;
      padding: 18px 98px 17px 30px;
      background-color: transparent;
      border: 2px solid $color-black !important;
      @include MQ(MQ-980) {
        max-width: 100%;
        padding: 11px 52px 12px 16px;
        border: 1px solid $color-black !important;
        height: 40px;
        background-color: transparent !important;
      }
      &::placeholder {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.01px;

        color: $color-black;
        @include MQ(MQ-980) {
          font-size: 14px;
          color: $color-black !important;
        }
      }
      @include MQ(MQ-980) {
        width: 100%;
        // border-radius: 0;
        // background-color: #fcfbf7;
        // padding: 14px 52px 13px 16px;
        font-size: 14px;

        line-height: normal;
      }
    }
    .submit.btn-submit {
      background-color: $color-yellow;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-align: center;
      border-radius: 30px;
      font-family: var(--font-family-primary);
      position: absolute;
      height: 45px;
      width: 98px;
      border: 0;
      right: 5.1px;
      top: 4.5px;
      text-transform: uppercase;
      cursor: pointer;
    }
    a {
      @include MQ(MQ-980) {
        right: 27px;
        background: $color-yellow;
        width: 52px;
        height: 31px;
        // top: 17.5px;
        // width: 14px;
        // height: 14px;
        border-radius: 30px;
        position: absolute;
        left: auto;
        top: 4px;
        z-index: 1;
        display: flex !important;
        align-items: center;
        justify-content: center;

        svg {
          width: 22px;
          height: 22px;
          // path {
          //   fill: #1a1b1b80;
          // }
        }
        // &.close-search {
        //   width: 15px;
        //   height: 15px;
        //   flex: none;
        //   background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14.142" height="14.142" viewBox="0 0 14.142 14.142"><g data-name="Close Icon"><path data-name="Middle Line" transform="rotate(-45 15.364 6.364)" style="fill:%23707070" d="M0 0h18v2H0z"/><path data-name="Middle Line" transform="rotate(45 .707 1.707)" style="fill:%23707070" d="M0 0h18v2H0z"/></g></svg>');
        //   margin-right: 20px;
        //   background-repeat: no-repeat;
        // }
      }
    }
    .search-results-outer {
      height: 100%;
      overflow: auto;
      max-height: 400px;
    }
    .search-results {
      width: calc(100% + 11px);
      margin-left: -11px;
      height: 100%;
      margin-top: 0px;
      h4 {
        margin-left: 14px;
        margin-bottom: 10px;
      }
      li {
        width: 33.333%;
        margin-bottom: 18px;
        padding-left: 11px;
        .image-section {
          height: calc(33.333vw - 22px);
          max-height: 228px;
        }
        @include MQ(MQ-600) {
          width: 50%;
          .image-section {
            height: calc(50vw - 27.5px);
            max-height: none;
          }
        }
        &.view-more-section {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  @include MQ(MQ-980) {
    border: none;
  }
  /****** Header Logo ******/
  // background: $color-white;

  .header-logo {
    width: 256px;
    position: absolute;
    height: 156px;
    left: -1px;
    top: 0;
    z-index: 999;
    transition: 0.4s all ease;
    @include MQ(MQ-1280) {
      width: 200px;
      height: 136px;
    }
    @include MQ(MQ-1225) {
      width: 160px;
      height: 106px;
    }

    img {
      @include img-object-cover;

      display: none;
      &.logo {
        display: block;
      }
      &.whitelogo {
        display: none;
      }
    }
    @include MQ(MQ-980) {
      margin: 0 auto;
    }
    @include MQ(MQ-768) {
      width: 148px;
      height: 94px;
    }
    @include MQ(MQ-480) {
      width: 129px;
      height: 87px;
    }
  }
  .main-header {
    &.gradient {
      background-image: linear-gradient(
        113deg,
        #5ebe55 27%,
        #a8d24e,
        #5abe50 97%
      ) !important;
    }
    &.active {
      .header-logo {
        height: 114px;
        width: 190px;
        transition: 0.4s all ease;
        @include MQ(MQ-980) {
          height: 90px;
          width: 150px;
          transition: 0.4s all ease;
        }
        @include MQ(MQ-768) {
          height: 80px;
          width: 135px;
          transition: 0.4s all ease;
        }
      }
    }
  }
  /****** Fixed Header ******/

  /****** Mobile Hamburger ******/
  .mobile-hamburger {
    display: none;
    #hamburger {
      height: 40px;
      width: 40px;
      &:hover,
      &:focus {
        svg {
          path:nth-child(1) {
            fill: $color-pink;
          }
          path:nth-child(2) {
            fill: $color-white;
            stroke: $color-white;
          }
          path:nth-child(3) {
            fill: $color-white;
            stroke: $color-white;
          }
          path:nth-child(4) {
            fill: $color-white;
            stroke: $color-white;
          }
        }
      }
      .hamburger {
        height: 100%;
        display: flex;
        /* display: block; */
        align-items: center;
        width: 100%;
        justify-content: flex-start;
        svg {
          g {
            stroke: $color-black;
          }
          position: relative;
        }
      }
      .close {
        display: none;
        // display: flex;
        /* display: block; */
        height: 100%;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
      }
      &.active {
        span {
          display: none;
          &.close {
            display: flex;
            svg {
              width: 32px;
              height: 32px;
              @include MQ(MQ-480) {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
      &:hover {
        svg {
          g {
            stroke: $color-black;
          }
        }
      }
    }
    @include MQ(MQ-980) {
      display: block;
    }
  }
  @include MQ(MQ-980) {
    .ipad-none {
      display: none;
    }
    .ipad-block {
      display: block;
    }
  }
}

.fixed-header {
  header {
    .header-logo {
      top: -7px !important;
      height: 114px;
      width: 190px;
      left: -9px;
      @include MQ(MQ-768) {
        width: 130px;
        height: 82px;
      }
    }
    @include MQ(MQ-980) {
      .main-header {
        .navbar-collapse {
          top: 53px !important;
          height: calc(100vh - 53px);
        }
      }
    }
  }
}

/****** HOME PAGE TRANSPARENT HEADER ******/
.main-content {
  margin-top: -81.8px;
  @include MQ(MQ-980) {
    margin-top: -60.5px;
  }
}
.transparent-header {
  header {
    border-bottom: none !important;
    background: transparent;
    .main-header {
      background-color: transparent;
    }
  }

  // .main-content {
  //   border-top-right-radius: 20px;
  //   border-top-left-radius: 20px;
  //   overflow: hidden;

  // }
  // .page-container {
  //   position: relative;
  //   &:before {
  //     width: 100%;
  //     height: 31px;
  //     background-color: $color-black;
  //     left: 0;
  //     top: -1px;
  //     z-index: -1;
  //     position: absolute;
  //     content: "";
  //   }
  // }
}
// body {
//   .main-content {
//     &.active {
//       border-top-right-radius: 0px;
//       border-top-left-radius: 0px;
//     }
//   }
// }
.transparent-header {
  .header-logo {
    img {
      &.whitelogo {
        display: block;
      }
      &.logo {
        display: none;
      }
    }
  }
}
