.not-logged-tempate {
  .inner-login-hero {
    height: 544px;

    background-image: linear-gradient(
      111deg,
      #535fbb 2%,
      #7886ed 51%,
      #535fbb 99%
    );
    @include MQ(MQ-768) {
      height: 374px;
    }
    .image-section {
      width: 246px;
      height: 418px;
      bottom: 0;
      right: 70px;
      position: absolute;
      z-index: 2;

      @include MQ(MQ-768) {
        display: none;
      }

      img {
        @include img-object-contain;
      }
    }
    &::before {
      width: 367.6px;
      height: 87.8px;
      content: "";
      position: absolute;
      left: 0px;
      z-index: 1;
      // bottom: 74px;
      bottom: 174px;
      background: url("thread-hero-white.webp") no-repeat center / 100%;
      @include MQ(MQ-768) {
        display: none;
      }
    }
    &::after {
      width: 130px;
      height: 406px;
      content: "";
      position: absolute;
      right: 0px;
      z-index: 1;
      top: 87px;
      background: url("thread-hero-white-2.webp") no-repeat center / 100%;
      @include MQ(MQ-768) {
        top: auto;
        bottom: -120px;
      }
    }
    position: relative;
    .content {
      &::before {
        top: auto;
        bottom: 60px;
        left: 60px;
        content: "";
        z-index: 3;
        position: absolute;
        width: 31px;
        height: 42px;
        background: url(star-large-white.webp) no-repeat center/contain;
        animation-name: wstarRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    .container-1260 {
      position: relative;
      height: 100%;
      padding: 216px 30px;
      &::after {
        width: 43px;
        height: 52px;
        content: "";
        position: absolute;
        right: 310px;
        z-index: 1;
        top: 93px;
        background: url("star-large.webp") no-repeat center / 100%;
        animation-name: starRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include MQ(MQ-768) {
          right: -80px;
          width: 23px;
          height: 28px;
          top: 82px;
          transform: rotate(10deg);
        }
      }
      @include MQ(MQ-768) {
        padding: 139px 30px;
      }

      &::before {
        width: 60px;
        height: 46px;
        content: "";
        position: absolute;
        top: 135px;
        z-index: 1;
        left: 130px;
        background: url("icon-cloud.webp") no-repeat center / contain;
        animation: 10s linear infinite;
        animation-name: animateCloud;
        @include MQ(MQ-768) {
          display: none;
        }
      }
    }
  }

  &.account-activate {
    .btn--primary {
      margin-top: 20px;
    }
  }

  .form-outer {
    position: relative;
    // background: $color-off-white;
    padding: 0 20px;
    padding-bottom: 200px;

    display: flex;
    justify-content: center;
    @include MQ(MQ-768) {
      padding: 0 30px;
      padding-bottom: 150px;
    }

    &::before {
      background: url("yellow-wave.webp") repeat left / 1327px;
      height: 156.5px;
      width: 100%;
      position: absolute;
      left: 0;
      top: -100px;
      content: "";
      z-index: 2;
      filter: brightness(0) saturate(100%) invert(96%) sepia(76%) saturate(167%)
        hue-rotate(19deg) brightness(109%) contrast(102%);
    }
    .box {
      position: relative;

      max-width: 553px;
      width: 100%;
      // padding: 50px;
      margin-top: -228px;
      z-index: 5;
      position: relative;
      border: solid 3px $color-yellow;
      // background: url("cloud.webp") no-repeat center bottom / 100% $color-sky-blue;
      background: $color-sky-blue;
      //       .cloud-bg {
      //         position: absolute;
      //  width: 100%;
      //  left: 0;
      //  height: 100%;
      //  background: url(account-form-background-cloud.png) no-repeat center bottom / 100%;
      //  bottom: 0;
      //  z-index: -1;
      //    }
      form {
        padding: 50px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          left: 0;
          height: 449.39px;
          // background: url(account-form-background-cloud.png) no-repeat center bottom / 100%;
          background: url(cloud.webp) no-repeat center bottom/1054px;
          bottom: 0;
          z-index: -1;
        }
      }
      &.register {
        form {
          &::after {
            background-size: cover;
          }
        }
      }
      @include MQ(MQ-768) {
        // padding: 30px 25px 36px;
        margin-top: -168px;
        form {
          padding: 30px 25px 36px;
        }
      }
      &::after {
        width: 82px;
        height: 85px;
        content: "";
        position: absolute;
        right: -8px;
        z-index: 1;
        bottom: -16px;
        background: url("rocket.webp") no-repeat center / 100%;
        animation: fly 10s 0.5s ease-in infinite;
        @include MQ(MQ-768) {
          width: 50px;
          height: 50px;
          background-size: contain;
        }
      }
      &::before {
        width: 97.8px;
        height: 67.3px;
        content: "";
        position: absolute;
        left: -43px;
        top: -35px;

        z-index: 1;

        background: url("planet.svg") no-repeat center / 100%;
        animation-name: rotate;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        @include MQ(MQ-768) {
          width: 58px;
          height: 40px;
          left: -14px;
          z-index: 1;
          top: -20px;
        }
      }
    }
  }
  .login-header {
    margin-bottom: 40px;
    .h3 {
      width: calc(100% + 100px);
      margin-left: -50px;
      @include MQ(MQ-600) {
        width: calc(100% + 40px);
        margin-left: -20px;
      }
    }
  }

  .h1,
  h1 {
    text-align: center;
    color: $color-white;
    z-index: 3;
    position: relative;
    @include MQ(MQ-768) {
      font-size: 40px;
    }
    @include MQ(MQ-480) {
      font-size: 30px;
    }
  }
  .link--wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include MQ(MQ-480) {
      flex-direction: column;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      margin: 0 10px;
      line-height: 1;
      display: inline-block;
      color: $color-black;
      @include MQ(MQ-600) {
        margin-top: 6px;
        margin-bottom: 2px;
        rotate: 90deg;
        position: relative;
        z-index: 4;
      }
    }
  }
  .btn-wrapper {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    text-align: left !important;

    align-items: flex-start;
    &.right-link {
      .link--primary-small {
        margin-bottom: 0 !important;
        margin-left: 23px !important;
      }
    }
    .btn--primary {
      text-align: center;
    }
    > div {
      font-size: 14px;
      line-height: 1.5;
      color: $color-black;
    }
    .link--primary-small {
      display: inline-block;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    .link--primary-small,
    #customer_register_link,
    .wsaio_form {
      font-size: 13px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      border: none;
      background: transparent;
      color: $color-black;
      text-decoration: underline !important;
      position: relative;
      text-transform: capitalize;
    }
    .wsaio_form {
      margin-left: 15px;
    }
    p {
      font-size: 13px !important;
      line-height: normal !important;
      letter-spacing: normal !important;
    }
    .already-login-section {
      margin-bottom: 0px;
      a {
        text-decoration: underline !important;
        font-size: 13px;
      }
    }
  }
  #RecoverPasswordForm {
    .btn-wrapper {
      .link--primary-small {
        margin-bottom: 0px;
        @include MQ(MQ-480) {
          margin: 20px 0 0;
        }
      }
    }
  }
  &.reset-password {
    .btn-wrapper {
      margin-top: 10px;
    }
  }
  @include MQ(MQ-480) {
    .login-header {
      margin-bottom: 40px;
    }
  }
}

.login-guest-section {
  text-align: center;
  padding-top: 40px;
  margin-top: 20px;
  border-top: 1px solid $color-black;
  .h2 {
    margin-bottom: 30px;
  }
}

#rc_login {
  a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    text-align: center;
    color: $color-black;
    text-decoration: none !important;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 5px;
    &:after,
    &:before {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      bottom: 0px;
      height: 1px;
      width: 100%;
      background: $color-black;
      transition: 0.4s ease-in-out;
    }
    &:before {
      width: 0;
      left: 0;
      right: auto;
      transition: 0.6s ease-in-out;
    }
    &:hover {
      &:after {
        width: 0;
        transition: 0.4s ease-in-out;
      }
      &:before {
        width: 100%;
        transition: 0.6s ease-in-out;
      }
    }
  }
}

.recharge.page__customers__request-invite {
  padding: 60px 30px;
  form {
    input[type="text"],
    input[type="email"] {
      width: 100%;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: 2px solid $color-border;
      width: 100%;
      border-radius: 25px;
      height: 45px;
      font-family: var(--font-family-primary);
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      color: $color-black;
      padding: 10px 23px 10px;
      // @include MQ(MQ-480) {
      //   padding: 7px 20px 6px;
      //   // height: 34px;
      // }
      margin-bottom: 30px;
      opacity: 1;
      -webkit-text-fill-color: $color-black !important;
      -webkit-box-shadow: 1000px 0px 0px 0px $color-white inset;
      &::placeholder {
        color: #787978;
        opacity: 1;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
      }
      option {
        color: $color-black;
      }
    }
  }
  p a {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.01px;
    text-align: center;
    color: $color-black;
    text-decoration: none !important;
    position: relative;
    text-transform: capitalize;
    padding-bottom: 5px;
    &:after,
    &:before {
      position: absolute;
      content: "";
      left: auto;
      right: 0;
      bottom: 0px;
      height: 1px;
      width: 100%;
      background: $color-black;
      transition: 0.4s ease-in-out;
    }
    &:before {
      width: 0;
      left: 0;
      right: auto;
      transition: 0.6s ease-in-out;
    }
    &:hover {
      &:after {
        width: 0;
        transition: 0.4s ease-in-out;
      }
      &:before {
        width: 100%;
        transition: 0.6s ease-in-out;
      }
    }
  }
}
