/* Cart */

.cart-section {
  position: relative;
  z-index: 2;
  &::after {
    width: 232px;
    height: 81px;
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 2;
    top: -110px;
    background: url("ufo.webp") no-repeat left / 82px;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-768) {
      display: none;
    }
  }
  &::before {
    background: url("graphic-wave-inner-banner.svg") repeat left / 2065px;
    height: 114px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -90px;
    content: "";
    z-index: 2;
  }
  padding: 52px 0 135px;
  background: $color-off-white-light;
  .container-1260 {
    position: relative;
    &::after {
      width: 63.9px;
      height: 51px;
      content: "";
      position: absolute;
      top: -100px;
      z-index: 2;
      right: 280px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      @include MQ(MQ-480) {
        display: none;
      }
    }
  }

  .title-shipping-section {
    display: flex;
    justify-content: space-between;
    @include MQ(MQ-980) {
      max-width: 600px;
      margin: 0 auto;
      flex-direction: column;
      margin-bottom: 40px;
      align-items: center;
    }
  }
  .freq-product-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: 480px;
    @include MQ(MQ-980) {
      max-width: 600px;
    }
    ul li {
      padding-left: 25px !important;
      background: $color-off-white !important;
    }
  }
  @include MQ(MQ-480) {
    padding: 40px 0 83px;
  }

  .free-shipping {
    @include MQ(MQ-980) {
      margin-top: 20px;
    }
  }
  .inner {
    @include MQ(MQ-980) {
      flex-direction: column;
      align-items: center;
    }
  }
  .wrapper {
    @include MQ(MQ-980) {
      max-width: 600px;
    }
    .header {
      display: flex;
      justify-content: space-between;
      padding: 0px 114px 16px 0;
      .table-head {
        flex: none;
        text-transform: uppercase;
        min-width: 53px;
        span {
          display: block;
          font-family: var(--font-family-primary);
          font-size: 12px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $color-black;
        }
        &:first-child {
          width: 40%;
          max-width: 40%;
          flex: auto;
          span {
            text-align: left;
          }
        }

        &.recharge {
          max-width: 170px;
        }
      }
      @include MQ(MQ-980) {
        display: none;
      }
    }
  }
  /* Cart List */
  .cart-list {
    &__items {
      justify-content: space-between;
      padding: 13px 114px 14px 0px;
      border: solid 1px $color-black;
      margin-bottom: 20px;
      background: $color-white;
      position: relative;
      @include MQ(MQ-980) {
        flex-wrap: wrap;
        padding: 13px 16px 14px 0px;
      }
      .remove {
        margin: 0;
        width: 17px;
        height: 17px;
        position: absolute;
        right: 17px;
        top: calc(50% - 8.5px);
        background: url("icon-cross.webp") no-repeat center / 17px;
        @include MQ(MQ-980) {
          right: 16px;
          top: 13px;
        }
      }

      * {
        color: $color-black;
      }
      &__columns {
        min-width: 53px;
        flex: none;
        align-items: center;
        display: flex;
        &:nth-child(3) {
          justify-content: center;
          display: flex;
          .cart-quantity-outer {
            margin-right: 0px;
          }
        }
        &.recharge {
          max-width: 170px;
          @include MQ(MQ-480) {
            max-width: 100%;
            order: 7;
            width: 100%;
            margin-top: 20px;
          }
        }
        @include MQ(MQ-980) {
          justify-content: flex-start;
          width: auto;
          &.total-price {
            padding-left: 10px;
          }
          @include MQ(MQ-480) {
            &.total-price {
              display: none !important;
            }
          }
          &:nth-child(2) {
            padding-left: 96px;
          }
          &:nth-child(3) {
            max-width: none;

            @include MQ(MQ-480) {
              padding-left: 0px;
            }
            .cart-quantity-outer,
            .quantity-outer {
              margin-left: 10px;
            }
          }
        }
        &:first-child {
          padding-left: 15px;
          width: 40%;
          max-width: 40%;
          flex: auto;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          padding-right: 20px;
          @include MQ(MQ-980) {
            padding-left: 96px;
            padding-right: 0px;
            align-items: flex-start;
            width: 100% !important;
            max-width: 100% !important;
          }

          .image-section {
            width: 72px;
            height: 65px;
            flex: none;
            position: relative;
            img {
              @include img-object-contain;
            }
            @include MQ(MQ-980) {
              position: absolute;
              left: 13px;
              top: 13px;
            }
          }
          /* First columns for the item information */
          .content {
            display: flex;
            flex-direction: column;
            margin-left: 16px;
            padding-right: 0px;
            padding-top: 0px;
            max-width: 220px;
            @include MQ(MQ-980) {
              max-width: 100%;
              margin-left: 0px;
              padding-right: 40px;
              margin-bottom: 3px;
            }
            a {
              text-decoration: none;
            }
            h5 a {
              font-family: var(--font-family-primary);
              font-size: 12px;
              font-weight: 600;
              line-height: normal;
              letter-spacing: 1px;
              text-transform: uppercase;
              @include MQ(MQ-480) {
                max-width: 200px;
              }
              &::after {
                display: none;
              }
            }
          }
        }

        .cart__mini-labels {
          display: none;
        }
        .discountedMessage {
          display: none;
        }
        span,
        s,
        .price {
          display: block;
          font-family: var(--font-family-primary);
          font-size: 14px;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: normal;
        }
        s {
          color: $color-black;
        }

        .price-wrapper {
          display: flex;
          flex-direction: column;
          margin-top: 0px;
          span {
            order: 2;
            font-weight: normal;
            margin-top: 0px;
          }
        }
      }
    }
    &__variant-properties {
      margin-top: 5px;
      &:empty {
        margin: 0;
      }
      li {
        display: flex;
        flex-wrap: wrap;
      }
      span {
        font-family: var(--font-family-primary);
        font-size: 12px;
        font-weight: normal;
        line-height: 1.67;
        letter-spacing: normal;
        color: $color-black;
      }
    }
  }
  /* Total */
  .wrapper-total {
    flex: none;
    width: 357px;
    margin-left: 30px;
    margin-top: 27px;
    @include MQ(MQ-1200) {
      width: 300px;
    }
    @include MQ(MQ-980) {
      width: 360px;
      max-width: 100%;
    }

    @include MQ(MQ-980) {
      margin-left: 0px;
      margin-top: 60px;
    }
    @include MQ(MQ-768) {
      flex-direction: column;
      align-items: center;
      .left-section {
        order: 2;
        margin-top: 30px;
        text-align: center;
      }
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
      letter-spacing: 0.44px;
    }
    .btn-wrapper {
      text-align: center;
      p {
        text-align: left;
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        a:hover {
          color: $color-black;
          text-decoration: underline;
        }
        input[type="checkbox"] {
          margin-top: 5px;
        }
      }
      .btn--primary {
        max-width: 234px;
        margin: 0 auto;
        width: 100%;
      }
    }
    .link--primary {
      margin-top: 25px;
      display: inline-block;
    }
    .total {
      width: 100%;
      border: 1px solid $color-black;
      margin-top: 19px;
      padding: 26px 24px 31px;
      .coupon-section {
        label {
          font-family: var(--font-family-primary);
          font-size: 12px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $color-black;
        }
        p {
          font-family: var(--font-family-primary);
          font-size: 12px;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: normal;
          text-align: left;
          color: $color-black;
        }
        .form {
          margin-bottom: 8px;
          margin-top: 13px;
          position: relative;
          input[type="text"] {
            width: 100%;
            height: 48px;
            padding: 5.9px 6.3px 5.9px 19.3px;
            border-radius: 30px;
            border: solid 1px $color-black;
            font-family: var(--font-family-primary);
            font-size: 14px;
            font-weight: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $color-black;
            &::placeholder {
              opacity: 1;
              font-size: 14px;
              font-weight: normal;
              line-height: 1.57;
              letter-spacing: normal;
              color: $color-black;
            }
          }
          .btn-coupon {
            width: 73px;
            height: calc(100% - 10px);
            border: none;
            padding: 11.5px 0px 10.8px 0px;
            border-radius: 30px;
            background-color: $color-yellow;
            font-family: var(--font-family-primary);
            font-size: 10px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $color-black !important;
            position: absolute;
            top: 5px;
            right: 5px;
          }
        }
      }
      @include MQ(MQ-480) {
        max-width: 100%;
      }
      display: flex;
      flex-direction: column;
      .tax,
      .order-total {
        margin: 0 auto;
        width: 100%;
        @include MQ(MQ-980) {
          max-width: 100%;
        }
      }
      .cart-total {
        margin: 0 auto;
        width: 100%;
        @include MQ(MQ-980) {
          max-width: 100%;
        }
        > div {
          justify-content: space-between;
          width: 100%;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
        b,
        span {
          font-family: var(--font-family-primary);
          font-size: 14px;
          font-weight: 500;
          line-height: 1.43;
          letter-spacing: normal;
        }
      }
      .order-total {
        margin-bottom: 8px;
        margin-top: 37px;
        width: 100%;
        justify-content: space-between;
        b,
        span {
          font-family: var(--font-family-primary);
          font-size: 14px;
          font-weight: bold;
          line-height: 1.29;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $color-black;
        }
        @include MQ(MQ-480) {
          b {
            text-align: left;
          }
        }
      }
      .cart-info {
        padding-top: 15px;
        border-top: solid 1px $color-border-dark-gray;
        b {
          margin-bottom: 6px;
          font-size: 14px;
          line-height: 1.43;
          letter-spacing: normal;
          display: block;
          font-weight: bold;
          font-family: var(--font-family-primary);
        }
        p {
          font-size: 14px;
          line-height: 1.43;
          letter-spacing: normal;
        }
      }
      .tax {
        margin-bottom: 21px;
        span {
          color: $color-black;
          font-size: 14px;
          line-height: 1.57;
          letter-spacing: normal;
          font-weight: normal;
        }
      }
    }
  }
}

/* EMPTY CART */

.empty-cart-section {
  padding-top: 205px;
  background-image: linear-gradient(
    98deg,
    #5ebe55 1%,
    #a8d24e 51%,
    #5abe50 101%
  );
  @include MQ(MQ-768) {
    padding-top: 130px;
  }
  .cart-section {
    padding: 110px 0 210px;
    &::after {
      width: 201px;
      height: 179px;
      content: "";
      position: absolute;
      right: 0;
      left: auto;
      margin: 0;
      z-index: 2;
      top: 130px;
      background: url("thread-orange-3.webp") no-repeat center / 100%;
      @include MQ(MQ-768) {
        display: none;
      }
    }

    .container-1260 {
      position: relative;
      z-index: 3;
      &::after {
        width: 26px;
        height: 35px;
        content: "";
        position: absolute;
        top: -110px;
        z-index: 2;
        right: 150px;
        background: url("star-large.webp") no-repeat center / 100%;
        animation-name: starRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include MQ(MQ-768) {
          display: none;
        }
      }
      &::before {
        width: 36px;
        height: 43px;
        content: "";
        position: absolute;
        top: -51px;
        z-index: 2;
        left: 74px;
        background: url("star-large-white.webp") no-repeat center / 100%;
        animation-name: wstarRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include MQ(MQ-768) {
          display: none;
        }
      }
    }

    @include MQ(MQ-768) {
      padding: 40px 0 60px;
    }
    .btn--primary {
      margin: 0 auto;
      margin-top: 33px;
    }
  }
  position: relative;
}

/* Quantity Selector */

.cart-quantity-outer,
.quantity-outer {
  padding: 0 0px;
  margin-right: 0px;
  width: 100%;
  max-width: 71px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 22px;
  border: 1px solid $color-black;
  border-radius: 30px;
  overflow: hidden;
  background: $color-white;
  @include MQ(MQ-480) {
    max-width: 61px;
    height: 19px;
  }
  .cart__quantity-selector,
  .quantity-selector {
   
    border: none;
    text-align: center;
    font-family: var(--font-family-primary);
    font-size: 11.5px;
    font-weight: 500;
    letter-spacing: normal;
    color: $color-black;
    width: 24px;
    pointer-events: none;
    padding: 0;
    border-radius: 0;
    height: 22px;
    background: transparent !important;
    border-left: 1px solid $color-black;
    border-right: 1px solid $color-black;
    @include MQ(MQ-480) {
      width: 21px;
      height: 19px;
      font-size: 10.1px;
    }
  }
  .minus-qty,
  .plus-qty {
    width: 23px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include MQ(MQ-480) {
      height: 19px;
      width: 19px;
    }
    &:hover{
      background: $color-black;
svg path{
  stroke: $color-white;
}
    }
  }
}

.four-column-product-slider.cart {
  padding: 52px 0 104px !important;
}

/* Cart success/error message on PDP */

#cart-message {
  padding: 20px;
  display: none;
  text-align: center;
  color: $color-white;
  &.message-success {
    margin: 35px 0;
    border: 1px solid $color-black;
    color: $color-black;
    font-size: 14px;
  }
  &.message-error {
    margin: 35px 0;
    border: 1px solid #b85c27;
    color: #b85c27;
    font-size: 14px;
  }
}

.search-items {
  .collection__product-list .product-card {
    margin-bottom: 60px !important;
  }
}

.shipping-details {
  flex: none;
  width: 100%;
  padding: 15px 19px;
  background: $color-white;
  border: solid 1px $color-black;

  .title {
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    line-height: 1.67;
    letter-spacing: normal;
    b {
      font-weight: bold;
    }
  }
  ul {
    justify-content: space-between;
    position: relative;
    margin-top: 1px;
    padding: 0;
    &::before,
    .dark-bar {
      width: 100%;
      background-color: $color-yellow;
      content: "";
      border-radius: 10px;
      height: 7px;
      position: absolute;
      left: 0;
      top: 12px;
    }
    .dark-bar {
      z-index: 2;
      background-color: $color-black;
      width: 0;
    }
    li:not(:first-child) {
      text-align: center;
      display: flex;
      flex-direction: column;
      z-index: 3;
      width: 100%;
      align-items: flex-end;
      .free-shipping__progress-bar {
        display: none !important;
      }
      .icon {
        width: 25px;
        height: 25px;
        background: $color-yellow;
        border-radius: 50%;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        img {
          width: 11.3px;
        }
        &.car {
          img {
            width: 19px;
          }
        }
        &.active {
          background-color: $color-black;
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
      span {
        font-family: var(--font-family-primary);
        font-size: 10px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
  }
  ul[data-percentage] {
    &::after {
      width: attr(data-percentage);
    }
  }
}
