.full-width-content-section-v2 {
  position: relative;
  text-align: center;
  .top-wave {
    position: relative;
    width: 100%;
    height: 100%;
    &::before {
      background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center / 1452px;
      width: 100%;
      position: absolute;
      left: 0;
      top: -15px;
      z-index: 2;
      height: 109px;
      content: "";
      @media (min-width: 1440px) {
        background: url(wave-fullwidth-body-bgcolor.svg) repeat-x top / 100%;
        top: -2px;
        height: 129px;
      }
      @include MQ(MQ-1300) {
        height: 153px;
        top: -37px;
      }
      @include MQ(MQ-768) {
        height: 84px;
        top: -1px;
      }
    }
    // &:before {
    //   width: 412.57px;
    //   height: 702.57px;
    //   content: "";
    //   position: absolute;
    //   right: -67.05px;
    //   z-index: 0;
    //   top: -36.73px;
    //   background: url(white-thread-2.0.svg) no-repeat center / contain;
    //   @include MQ(MQ-980) {
    //     top: -150px;
    //     right: 0;
    //   }
    //   @include MQ(MQ-768) {
    //     width: 125px;
    //     height: 426px;
    //     top: -130px;
    //     // right: -20px;
    //   }
    //   @include MQ(MQ-500) {
    //     width: 95px;
    //     height: 396px;
    //   }
    // }
  }
  // &::after {
  //   background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center / 1452px;
  //   width: 100%;
  //   position: absolute;
  //   left: 0;
  //   top: -15px;
  //   z-index: 2;
  //   height: 109px;
  //   content: "";
  //   @media (min-width: 1440px) {
  //     background: url(wave-fullwidth-body-bgcolor.svg) repeat-x top / 100%;
  //     top: -2px;
  //     height: 129px;
  //   }
  //   @include MQ(MQ-1300) {
  //     height: 153px;
  //     top: -37px;
  //   }
  //   @include MQ(MQ-768) {
  //     height: 84px;
  //     top: -1px;
  //   }
  // }
  &::after {
    width: 412.57px;
    height: 702.57px;
    content: "";
    position: absolute;
    right: -67.05px;
    z-index: 0;
    top: -36.73px;
    background: url(white-thread-2.0.svg) no-repeat center / contain;
    @include MQ(MQ-980) {
      top: -150px;
      right: 0;
    }
    @include MQ(MQ-768) {
      width: 125px;
      height: 426px;
      top: -130px;
      // right: -20px;
    }
    @include MQ(MQ-500) {
      width: 95px;
      height: 396px;
    }
  }

  .thumb-images {
    position: relative;
    width: 84px;
    height: 84px;
    margin: 0 auto;
    margin-bottom: 34px;
    opacity: 0;
    img {
      @include img-object-contain;
    }
    @include MQ(MQ-480) {
      margin-bottom: 20px;
    }
  }
  .inner {
    position: relative;
    // &::before {
    //   width: 90px;
    //   height: 119px;
    //   content: "";
    //   position: absolute;
    //   left: 158px;
    //   z-index: 1;
    //   top: -90px;
    //   background: url("icon-kite-2.webp") no-repeat center / 100%;
    //   @include MQ(MQ-768) {
    //     width: 60px;
    //     height: 60px;
    //     content: "";
    //     position: absolute;
    //     left: 0px;
    //     z-index: 1;
    //     bottom: -66px;
    //     top: auto;
    //     background: url(ufo.webp) no-repeat center / 100%;
    //   }
    // }
    &::after {
      width: 63.9px;
      height: 51px;
      content: "";
      position: absolute;
      top: -100px;
      z-index: 1;
      right: 150px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      @include MQ(MQ-768) {
        width: 39px;
        height: 30px;
        right: auto;
        left: 30px;
      }
    }
  }

  &::before {
    width: 620px;
    height: 773px;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 0;
    bottom: -60px;
    background: url("thread-multi-white.webp") no-repeat center / 100%;
    @include MQ(MQ-768) {
      display: none;
    }
  }
  .container-1440 {
    // padding: 168px 0 174px;
    // @include MQ(MQ-1200) {
    //   padding-bottom: 174px;
    // }
    // @include MQ(MQ-768) {
    //   padding: 110px 0 100px;
    // }
    // position: relative;
    padding: 293px 0 300px;
    @include MQ(MQ-1200) {
      padding-bottom: 360px;
    }
    @include MQ(MQ-768) {
      padding: 170px 0 150px;
    }
    position: relative;
    z-index: 1;
    &::before {
      width: 114px;
      height: 91px;
      content: "";
      position: absolute;
      left: 131px;
      z-index: 1;
      top: 210px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      @include MQ(MQ-1200) {
        left: 40px;
        top: 180px;
      }
      @include MQ(MQ-768) {
        left: 101px;
        bottom: 0px;
        top: auto;
        width: 43px;
        height: 33px;
      }
    }
    &::after {
      width: 173px;
      height: 120px;
      content: "";
      position: absolute;
      right: 70px;
      z-index: 1;
      top: 135px;
      background: url("icon-planet-purple.svg") no-repeat center / 100%;
      animation-name: rotate;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      @include MQ(MQ-768) {
        width: 100px;
        height: 70px;
        top: 70px;
        right: 50px;
      }
      @include MQ(MQ-480) {
        right: 30px;
      }
    }
  }
  .container-840 {
    position: relative;
    @include MQ(MQ-350) {
      padding: 0 30px;
    }
    // &::before {
    //   display: none;
    // }
    &::before {
      width: 137px;
      height: 137px;
      content: "";
      position: absolute;
      left: -45px;
      z-index: 1;
      bottom: -150px;
      background: url("ufo.webp") no-repeat center / 100%;
      animation-name: flow;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      @include MQ(MQ-768) {
        width: 80px;
        height: 80px;
        left: 23px;
        bottom: -94px;
      }
      @include MQ(MQ-480) {
        width: 60px;
        height: 60px;
      }
    }
    &::after {
      width: 31px;
      height: 44px;
      content: "";
      position: absolute;
      left: 145px;
      z-index: 1;
      bottom: -13px;
      background: url("star-large.webp") no-repeat center / 100%;
      animation-name: starRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-768) {
        display: none;
      }
    }
  }

  text-align: center;
  background: url("full_width_bg_light_vilot.webp") no-repeat center / 100% 100%;
  h2 {
    margin-bottom: 20px;
    position: relative;
    @include MQ(MQ-480) {
      margin-bottom: 10px;
    }
  }
  p {
    margin-bottom: 25px;
    @include MQ(MQ-480) {
      margin-bottom: 17px;
    }
  }
  .btn--primary {
    margin: 0 auto;
  }
}
