.full-width-content-section-v2 {
  position: relative;
  text-align: center;

  &::after {
    background: url("wave-shape.svg") repeat left / 1452px;
    height: 101px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -41px;
    z-index: 2;
    content: "";
  }

  .thumb-images {
    position: relative;
    width: 84px;
    height: 84px;
    margin: 0 auto;
    margin-bottom: 34px;
    img {
      @include img-object-contain;
    }
    @include MQ(MQ-480) {
      margin-bottom: 20px;
    }
  }
  .inner {
    position: relative;
    &::before {
      width: 90px;
      height: 119px;
      content: "";
      position: absolute;
      left: 158px;
      z-index: 1;
      top: -90px;
      background: url("icon-kite-2.webp") no-repeat center / 100%;
      @include MQ(MQ-768) {
        width: 60px;
        height: 60px;
        content: "";
        position: absolute;
        left: 0px;
        z-index: 1;
        bottom: -66px;
        top: auto;
        background: url(ufo.webp) no-repeat center / 100%;
      }
    }
    &::after {
      width: 63.9px;
      height: 51px;
      content: "";
      position: absolute;
      top: -46px;
      z-index: 1;
      right: 150px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: blink, animateCloud;
      @include MQ(MQ-768) {
        width: 39px;
        height: 30px;
        right: auto;
        left: 30px;
      }
    }
  }

  &::before {
    width: 620px;
    height: 773px;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 0;
    bottom: -60px;
    background: url("thread-multi-white.webp") no-repeat center / 100%;
    @include MQ(MQ-768) {
      display: none;
    }
  }
  .container-1440 {
    padding: 168px 0 174px;
    @include MQ(MQ-1200) {
      padding-bottom: 174px;
    }
    @include MQ(MQ-768) {
      padding: 110px 0 100px;
    }
    position: relative;
    &::before {
      width: 114px;
      height: 91px;
      content: "";
      position: absolute;
      left: 131px;
      z-index: 1;
      top: 210px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: blink, animateCloud;
      @include MQ(MQ-1200) {
        left: 40px;
        top: 180px;
      }
      @include MQ(MQ-768) {
        left: 101px;
        bottom: 0px;
        top: auto;
        width: 43px;
        height: 33px;
      }
    }
    &::after {
      width: 173px;
      height: 120px;
      content: "";
      position: absolute;
      right: 70px;
      z-index: 1;
      top: 135px;
      background: url("icon-planet-purple.svg") no-repeat center / 100%;
      @include MQ(MQ-768) {
        width: 57px;
        height: 40px;
        top: 70px;
      }
    }
  }
  .container-840 {
    position: relative;
    @include MQ(MQ-350) {
      padding: 0 30px;
    }
    &::before {
      display: none;
    }
    &::after {
      width: 31px;
      height: 44px;
      content: "";
      position: absolute;
      left: 145px;
      z-index: 1;
      bottom: -13px;
      background: url("star-large.webp") no-repeat center / 100%;
      animation-name: starRotate, blink;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-768) {
        display: none;
      }
    }
  }

  text-align: center;
  background: url("full_width_bg_light_vilot.webp") no-repeat center / 100% 100%;
  h2 {
    margin-bottom: 20px;
    position: relative;
    @include MQ(MQ-480) {
      margin-bottom: 10px;
    }
  }
  p {
    margin-bottom: 25px;
    @include MQ(MQ-480) {
      margin-bottom: 17px;
    }
  }
  .btn--primary {
    margin: 0 auto;
  }
}
