/* Mini Cart Sidebar */

#cart_overlay {
  display: none;
}

#cart_overlay.active {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: block;
}


.cart-shipment {
  display: flex;
  flex-wrap: wrap;
  color: $color-white;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  margin-top: 19px;
  b {
    margin-right: 5px;
  }
  span {
    color: $color-dark-gray !important;
  }
}

.remove {
  margin-top: 13px;
}

.cart-sidebar {
  transform: translateX(100%);
  max-width: 357px;
  width: 100%;
  background: $color-white;
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  transition: 0.7s;
  z-index: 9999999;
  overflow-y: scroll;
  overflow-x: hidden;
  .shipping-details {
    margin-top: 23px;
    padding: 0px;
    border-radius: 10px;
    background: $color-white;
    width: 100% !important;
    max-width: 100% !important;
    border: none;
    b{
      font-weight: 400 !important;
    }
    ul {
      padding: 0px;
      &::before,
      .dark-bar {
        height: 7px;
        border-radius: 10px;
      }
    }
  }
  .shopify-payment-terms {
    margin-top: 32px;
    @include MQ(MQ-480) {
      margin-top: 34px;
    }
  }
  &.active {
    transform: translateX(0);
  }
  .inner {
    height: auto;
  }
  .free-shipping {
    padding: 22px 20px 0px;
    p {
      margin-bottom: 15px;
    }
  }
  &__header {
    padding: 39px 20px 27px;
    .flex-space-between{
      align-items: center;
    }
    .heading-section {
      align-items: center;
      margin-bottom: 29px;
      margin-left: -31px;
      width: calc(100% + 31px);
      p {
        font-size: 30px;
        line-height: normal;
        font-weight: bold;
        color: $color-black;
        @include MQ(MQ-480) {
          font-size: 20px;
        }
      }
      @include MQ(MQ-480) {
        margin-bottom: 20px;
        margin-left: 0px;
        width: 100%;
      }
    }
    .link--primary-small {
      height: 10px;
      font-family: var(--font-family-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  color: $color-black;
  &:hover{
    color: $color-orange;
  }
    }
    .icon-close {
      font-size: 0 !important;
      margin-top: 0px;
      margin-right: 16px;
      width: 20px;
      height: 20px;
      &:hover{
        svg{
          path{
            fill: $color-black;
            &:nth-child(2){
stroke: $color-white;
            }
          }
        }
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__middle {
    overflow-y: auto;
    height: calc(100% - 406px);
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 3px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $color-black;
    }
    ul.added-products {
      padding: 0 20px;
      > li {
        padding: 16px;
        background: $color-white;
        border: 1px solid $color-black;
        position: relative;
        margin-bottom: 22px;
        
        .remove {
          margin: 0;
          position: absolute;
          top: 0px;
          right: 0;
          cursor: pointer;
          width: 18px;
          height: 18px;
          svg{
            width: 18px;
            height: 18px;
          }
          &:hover{
            svg{
              path{
                fill: $color-black;
                &:nth-child(2){
    stroke: $color-white;
                }
              }
            }
          }
        }
        &.empty-cart-section {
          padding: 30px 40px;
          @include MQ(MQ-480) {
            padding: 20px;
          }
          p {
            color: $color-black;
          }
        }
        position: relative;
        &:last-child {
          &::before {
            display: none;
          }
        }
        .image-section {
          position: relative;
          width: 72px;
          height: 72px;
          position: relative;
          a {
            font-size: 0;
            position: initial;
          }
          img {
            @include img-object-contain;
          }
          .link--secondary {
            margin-top: 19px;
            @include MQ(MQ-480) {
              margin-top: 28px;
            }
            line-height: 1.5;
            letter-spacing: normal;
          }
        }
        .content {
          padding-left: 12px;
          padding-right: 25px;
          width: calc(100% - 72px);
          * {
            color: $color-black;
          }
          .custom-dropdown-select {
            max-width: 100%;
            margin-top: 23px;
          }
          position: relative;
          ol,
          ul {
            li {
              font-size: 12px;
              line-height: 1.67;
              letter-spacing:normal;
              font-weight: normal;
              padding: 0;
              padding-left: 0px;
              color: $color-black;
            }
          }
          ul {
            padding-left: 0px;
            li {
              padding-left: 0;
              list-style: none;
            }
          }
          .flex-space-between {
            align-items: center;
            flex-wrap: wrap;
          }
          h5 {
            font-size: 12px;
            font-weight: 600;
            line-height: normal;
  letter-spacing: 1px;
            font-family: var(--font-family-primary);
            color: $color-black;
            text-transform: uppercase;
            text-overflow: ellipsis;
            width: 100%;
            -webkit-line-clamp: 1;
            overflow: hidden;
            white-space: nowrap;
            a {
              font: inherit;
              color: inherit;
            }
          }
          p {
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: normal;
            font-weight: normal;
            color: $color-black;
          }
          .price-wrapper {
            display: none !important;
            -webkit-box-align: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: normal;
            font-weight: normal;
            color: $color-black;
          
            margin: 22px 0 0;
            s {
              margin-left: 5px;
              // color: #9c2121;
              color: #787978;
            }
          }
          .cart-quantity-outer {
            margin-top: 8px;
          }
          .tags-outer {
            display: flex;
            flex-wrap: wrap;
            .tag {
              line-height: 24px;
              margin-right: 10px;
              &:last-child {
                margin-right: 0px;
              }
            }
          }
          .pre-order {
            font-size: 14px;
            line-height: 1.5;
            font-weight: 600;
            color: $color-black;
          }
          .price {
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: normal;
            font-weight: normal;
            color: $color-black;
            margin: 10px 0 0;
            s {
              margin-left: 5px;
              // color: #9c2121;
              color: #787978;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  .cart-total-section {
    padding: 50px 20px;
    @include MQ(MQ-480) {
      padding: 20px;
    }
    .btn--solid {
      max-width: 100%;
      width: 100%;
      margin-top: 30px;
    }
  }
  &__footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    background: $color-white;
    padding: 50px 20px;
    p {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.67;
      letter-spacing: normal;
      margin-top: 11px;
    }
    .btn--primary {
      max-width: 275px;
      width: 100%;
      margin: 0 auto;
      margin-top: 32px;
      padding-right: 61px;
     
    }
    .cart-total {
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

.freq-product-list {
  padding: 31px 20px 13px;
  background: #fff8e2;
  span {
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: 1px;
    color: $color-black;
    display: block;
    text-align: left;
    margin: 0 0 22px 0px;
  }
  .add-link {
    a.clicked {
      pointer-events: none;
    }
  }
  ul {
    li {
      padding: 16px;
      background: $color-white;
      margin-bottom: 22px;
      position: relative;
      border: 1px solid #D5D4D3;
      
      .image-section {
        position: relative;
        width: 72px;
        height: 72px;
        a {
          position: initial;
          font-size: 0;
        }
        img {
          @include img-object-contain;
        }
      }
      .content {
        padding-left: 13px;
        width: calc(100% - 72px);
        position: relative;
        .btn-black {
          max-width: 80px;
          padding: 11.5px;
          font-size: 12px;
          letter-spacing: 2px;
          position: absolute;
          right: 0;
          bottom: 10px;
        }
        .flex-align-center {
          select {
            font-size: 12px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-black;
            height: 40px;
            border: solid 1px $color-black;
            background-color: $color-white;
            padding: 10px;
            margin-right: 10px;
            max-width: 160px;
            cursor: pointer;
            border-radius: 0;
            -webkit-appearance: none;
            font-family: var(--font-family-primary);
          }
          .btn-black {
            max-width: 80px;
            padding: 11.5px;
            font-size: 12px;
            letter-spacing: 2px;
          }
        }
        h5 {
          font-size: 12px;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: normal;
          color: $color-black;
          font-family: var(--font-family-primary);
          a {
            font: inherit;
            color: inherit;
          }
        }
        p {
          font-family: var(--font-family-primary);
          font-size: 12px;
          margin: 0;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: normal;
         
          color: $color-black;
        }
        .add-link-price{
          margin-top: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a{
            font-family: var(--font-family-primary);
            font-size: 10px;
            font-weight: 500;
            font-stretch: normal;
          text-transform: uppercase;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $color-black;
            padding-bottom: 3px;
            border-bottom: 2px solid $color-yellow;
            &:hover{
              border-bottom: 2px solid $color-orange;
            }
          }

        }
      }
    }
  }
}

.discountedMessage {
  text-align: center;
  color: $color-black !important;
  font-size: 14px !important;
}

.sticky-checkout-button {
  > div {
    background: $color-white;
    padding: 18px;
    justify-content: center;
    display: flex;
  }
  form {
    width: 100%;
  }
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: auto;
  position: sticky;
  //opacity: 0;
  display: none;
  //transform: translate(0, 100%);
  &.active {
    display: flex;
    // opacity: 1;
    //transform: translate(0);
    //transition: all .5s ease;
  }
  .btn--primary {
    width: 100%;
    max-width: 100%;
    padding: 16px;
  }
}

body.fixed {
  overflow-y: hidden;
}
