.product-tab-section {
  padding: 24px 0 75px;
  background: $color-off-white-light;
  position: relative;
  @include MQ(MQ-600) {
    padding: 0 0 40px;
  }
  &::before {
    background: url("graphic-wave-inner-banner.svg") repeat left / 2065px;
    height: 114px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -90px;
    content: "";
    z-index: 2;
  }

  &::after {
    background: url("thread-orange-4.svg") no-repeat center / 100%;
    height: 668px;
    width: 194px;
    position: absolute;
    right: 0;
    top: -350px;
    content: "";
    z-index: 5;
    @include MQ(MQ-600) {
      display: none;
    }
  }
  .container-1260 {
    position: relative;
    z-index: 6;
    &::after {
      width: 42px;
      height: 50px;
      content: "";
      position: absolute;
      right: 300px;
      z-index: 3;
      top: -93px;
      background: url("star-large.webp") no-repeat center / 100%;
      animation-name: starRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-768) {
        display: none;
      }
    }
  }

  .pdp-tab-head {
    text-transform: uppercase;
    border-bottom: solid 1px $color-black;
    display: flex;
    li {
      border: solid 1px $color-black;
      border-left: none;
      border-bottom: none;

      a {
        min-width: 120px;
        text-align: center;
        padding: 20px 25px;
        font-family: var(--font-family-primary);
        font-size: 16px;
        font-weight: 600;
        line-height: 1.44;
        letter-spacing: normal;
        color: $color-black2;
        &.active,
        &:hover {
          background: $color-light-yellow;

          color: $color-original-black;
        }
      }
      &:first-child {
        a {
          border-left: solid 1px $color-black;
        }
      }
    }
  }

  &__content {
    padding-top: 25px;

    li {
      padding-bottom: 10px;
      // font-size: $font-size-small;
      line-height: 1.57;

      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: 0.02px;
      text-align: left;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
  @include MQ(MQ-980) {
    // padding: 0 20px;
    // border: 2px solid $color-border;
    // border-radius: 20px;
  }

  .main-tab-content {
    padding-top: 33px;
    .tab-content {
      &.active {
        // display: block !important;
        .accordion-con {
          display: block !important;
        }
      }
      @include MQ(MQ-980) {
        display: block !important;
        border: 1px solid $color-black;
        margin-bottom: 20px;
        .accordion-con {
          padding: 19px 19px 19px;
          border-top: 1px solid $color-black;
        }
      }
      .accordion-con {
        display: block !important;
        @include MQ(MQ-980) {
          display: none !important;
        }
        &.active {
          display: block !important;
        }
      }
    }
    .accordion-link {
      display: none;
      @include MQ(MQ-980) {
        display: block !important;
        padding: 19px 19px 19px;
        // background: url(dropdown-arrow.svg) no-repeat right 20px center / 13px
        //   #fff;

        background: $color-white;
        position: relative;
        &:before {
          position: absolute;
          content: "";
          width: 13px;
          height: 7px;
          z-index: 2222;
          right: 20px;
          top: calc(50% - 4px);
          background: url(dropdown-arrow.svg) no-repeat center center / 100%;
        }
        &.active {
          background: $color-light-yellow;
          &:before {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.pdp-tab-section {
  margin-top: 74px;
  //   margin-bottom: 100px;

  .tab-section-wrapper {
    &.white {
      padding: 45px 74px 68px;
      background: $color-white;
      border-radius: 10px;
      overflow: hidden;

      @include MQ(MQ-980) {
        padding: 0;
        // background: 0;
      }
    }
  }

  .pdp-tab-head {
    // justify-content: space-between;
    margin-left: -53px;
    width: calc(100% + 53px);
    // justify-content: center;
    justify-content: space-between;
    @include MQ(MQ-1024) {
      margin-left: -30px;
      width: calc(100% + 30px);
    }

    li {
      padding-left: 53px;
      @include MQ(MQ-1024) {
        padding-left: 30px;
      }

      a {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 0.12px;
        text-align: center;
        font-family: var(--font-family-secondary);
        padding: 9px 22px 8px;
        border-radius: 70px;
        text-transform: uppercase;

        width: fit-content;

        &.active,
        &:hover {
          background: $color-dark-gray;
          color: $color-white;
        }
      }
    }
  }

  .main-tab-content {
    margin-top: 45px;

    @include MQ(MQ-980) {
      margin-top: 0;
    }

    .tab-content {
      border-radius: 10px;
      padding: 42px 72px 50px;
      border: 1px solid $color-border;

      &#overview {
        max-height: 900px;
        overflow: auto;
      }

      &::-webkit-scrollbar {
        width: 2px !important;
        left: 0;

        // height: 60px;
      }

      &::-webkit-scrollbar-track {
        background: $color-white !important;
        position: absolute;
        margin-top: 20px;
        margin-left: 30px;

        // left: 40px;
        margin-bottom: 20px;
      }

      /* Handle */
      // &::-webkit-scrollbar-thumb {
      //   background: #e2cd91 !important;
      // }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb {
        background: rgba(26, 27, 27, 1) !important;
      }

      @include MQ(MQ-1024) {
        padding: 42px 40px 50px;
      }

      @include MQ(MQ-980) {
        background: $color-white;
        padding: 17px 20px 17px;
        border: 0;
        border-radius: 0;
        display: block !important;
        border-bottom: 2px solid $color-off-white;
      }

      .accordion-con {
        display: block !important;
        @include MQ(MQ-980) {
          display: none !important;
        }
      }

      .inner-content {
        display: block !important;
        @include MQ(MQ-980) {
          padding-top: 40px;
          padding-bottom: 31px;

          h2,
          .h1,
          .h2 {
            font-size: 20px;
            text-align: center;
          }
        }

        &.resources,
        &.overview-content-wrapper {
          h2,
          .h2 {
            text-align: left;
          }
        }
      }

      .overview-content {
        padding-top: 60px;

        @include MQ(MQ-980) {
          padding-top: 40px;
        }

        li {
          margin-bottom: 70px;

          @include MQ(MQ-980) {
            margin-bottom: 60px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .description {
            p {
              &:first-child {
                strong {
                  margin-top: 0;
                }
              }

              strong {
                margin-top: 20px;
                // display: block;
                display: inline;
              }
            }
            strong {
              display: inline;
            }
            sup {
              display: inline;
            }
          }
        }

        h3,
        .h5 {
          font-family: var(--font-family-primary);
          font-weight: 800;
          letter-spacing: 0.12px;
          margin-bottom: 25px;
          padding-bottom: 18px;
          border-bottom: 1px solid $color-border-dark-gray;

          @include MQ(MQ-980) {
            margin-bottom: 20px;
          }
        }
      }

      // .nutrition-content-wrapper {
      //   .nutrition-content {
      //     justify-content: center;
      //     padding-top: 13px;

      //     .pdp-half-image-half-table {
      //       margin-bottom: 82px;
      //       align-items: flex-start;

      //       &:last-child {
      //         margin-bottom: 0;
      //       }

      //       @include MQ(MQ-980) {
      //         flex-direction: column;
      //         align-items: center;
      //       }
      //     }

      //     .image-section {
      //       width: 100%;
      //       max-width: 351px;
      //       min-height: 351px;
      //       overflow: hidden;
      //       border-radius: 20px;
      //       margin-right: 60px;

      //       @include MQ(MQ-1200) {
      //         max-width: 270px;
      //         min-height: 270px;
      //         margin-right: 40px;
      //       }

      //       @include MQ(MQ-980) {
      //         margin-bottom: 20px;
      //         margin-right: 0;
      //         min-height: auto;
      //         //   height: 20vw;
      //         max-width: none;
      //         width: 287px;
      //         height: 287px;
      //       }

      //       img {
      //         @include img-object-contain;
      //         position: relative;
      //       }
      //     }

      //     .content {
      //       max-width: 496px;
      //       width: 100%;

      //       .table-title {
      //         font-size: 14px;
      //         font-weight: 800;
      //         text-transform: uppercase;
      //         font-stretch: normal;
      //         font-style: normal;
      //         line-height: normal;
      //         letter-spacing: normal;
      //         text-align: left;
      //       }

      //       .table {
      //         table {
      //           border-top: 3px solid #253032;
      //           border-bottom: 3px solid #253032;
      //           margin-top: 17px;

      //           tbody {
      //             tr {
      //               &:nth-child(1) {
      //                 padding: 6px 0;
      //                 border-bottom: 3px solid rgba(37, 48, 50, 1);

      //                 td {
      //                   text-transform: capitalize;
      //                   font-weight: normal;
      //                 }
      //               }

      //               padding: 19px 0;
      //               border-bottom: 1px solid rgba(37, 48, 50, 1);
      //               display: flex;

      //               &:last-child {
      //                 border-bottom: 0;
      //               }

      //               td {
      //                 strong {
      //                   font-weight: 800;
      //                   text-transform: uppercase;
      //                 }

      //                 &:nth-child(2) {
      //                   text-align: right;
      //                 }

      //                 font-size: 14px;
      //                 //   font-weight: 800;
      //                 font-stretch: normal;
      //                 font-style: normal;
      //                 line-height: normal;
      //                 letter-spacing: normal;
      //                 text-align: left;
      //               }
      //             }
      //           }
      //         }
      //       }

      //       .description {
      //         margin-top: 10px;

      //         p {
      //           font-size: 12px;
      //           font-weight: normal;
      //           font-stretch: normal;
      //           font-style: normal;
      //           line-height: 1.67;
      //           letter-spacing: normal;
      //           text-align: left;
      //         }
      //       }
      //     }
      //   }
      // }

      // .resource-content {
      //   padding-top: 75px;

      //   @include MQ(MQ-980) {
      //     padding-top: 40px;
      //   }

      //   @include MQ(MQ-768) {
      //     flex-direction: column;
      //   }

      //   .left-section {
      //     //   max-width: 284px;
      //     width: 31.69%;
      //     margin-right: 60px;

      //     @include MQ(MQ-768) {
      //       width: 100%;
      //       margin-left: 0;
      //     }

      //     .image-section {
      //       width: 220px;

      //       height: 220px;
      //       margin-bottom: 60px;

      //       img {
      //         @include img-object-contain;
      //         position: relative;
      //       }
      //     }

      //     .image-des {
      //       position: relative;
      //       padding-left: 19px;

      //       &:before {
      //         position: absolute;
      //         content: "";
      //         width: 5px;
      //         height: 100%;
      //         left: 0;
      //         top: 0;
      //         background: $color-black;
      //         border-radius: 5px;
      //       }

      //       h5,
      //       h2,
      //       h3,
      //       h4,
      //       h6 {
      //         font-size: 16px;
      //         margin-bottom: 10px;
      //         font-weight: 800;
      //         font-stretch: normal;
      //         font-style: normal;
      //         line-height: 1.5;
      //         text-transform: none;
      //         letter-spacing: 0.12px;
      //         text-align: left;
      //       }

      //       p {
      //         font-size: 14px;
      //         font-weight: 500;
      //         font-stretch: normal;
      //         font-style: normal;
      //         line-height: 1.71;
      //         letter-spacing: 0.01px;
      //       }
      //     }
      //   }

      //   .right-section {
      //     max-width: 572px;
      //     width: 100%;

      //     @include MQ(MQ-768) {
      //       max-width: 100%;
      //       padding-top: 80px;
      //     }

      //     h3 {
      //       text-transform: initial;
      //       font-family: var(--font-family-primary);
      //       font-size: 20px;
      //       font-weight: 800;
      //       font-stretch: normal;
      //       font-style: normal;
      //       line-height: normal;
      //       letter-spacing: 0.15px;
      //       text-align: left;
      //     }

      //     .middle-section-block {
      //       border-top: 1px solid $color-border-dark-gray;
      //       padding-top: 38px;
      //       margin-top: 17px;
      //       padding-bottom: 38px;
      //       border-bottom: 1px solid $color-border-dark-gray;

      //       @include MQ(MQ-768) {
      //         padding-bottom: 16px;
      //       }

      //       ul.flex-wrap {
      //         margin-left: -69px;
      //         width: calc(100% + 69px);

      //         @include MQ(MQ-1200) {
      //           margin-left: -40px;
      //           width: calc(100% + 40px);
      //         }

      //         @include MQ(MQ-768) {
      //           flex-direction: column;
      //           margin-left: 0;
      //           width: 100%;
      //         }

      //         li {
      //           // max-width:288px;
      //           width: 50%;
      //           padding-left: 69px;
      //           margin-bottom: 40px;

      //           @include MQ(MQ-1200) {
      //             padding-left: 40px;
      //           }

      //           @include MQ(MQ-768) {
      //             max-width: 100%;
      //             padding-left: 0px;
      //             width: 100%;
      //             margin-bottom: 20px;

      //             &:last-child {
      //               margin-bottom: 0;
      //             }
      //           }

      //           &:nth-last-child(-n + 2) {
      //             margin-bottom: 0;

      //             @include MQ(MQ-768) {
      //               margin-bottom: 20px;
      //             }
      //           }

      //           h4 {
      //             font-size: 16px;
      //             max-width: 218px;
      //             font-weight: 800;
      //             font-stretch: normal;
      //             font-style: normal;
      //             line-height: normal;
      //             letter-spacing: 0.12px;
      //             text-transform: none;
      //             text-align: left;
      //             font-family: var(--font-family-primary);
      //             margin-bottom: 10px;
      //           }

      //           p {
      //             font-size: 14px;
      //             font-weight: 500;
      //             font-stretch: normal;
      //             font-style: normal;
      //             line-height: 1.71;
      //             letter-spacing: 0.01px;
      //           }
      //         }
      //       }
      //     }

      //     .bottom-linkfirst {
      //       margin-top: 30px;
      //     }

      //     .bottom-linksecond {
      //       margin-top: 16px;
      //     }

      //     .bottom-linkfirst,
      //     .bottom-linksecond {
      //       p {
      //         font-family: var(--font-family-primary);
      //         font-size: 16px;
      //         font-weight: 800;
      //         font-stretch: normal;
      //         font-style: normal;
      //         line-height: 1.5;
      //         letter-spacing: 0.02px;
      //         text-align: left;

      //         a {
      //           font-family: var(--font-family-primary);
      //           font-size: 16px;
      //           font-weight: 800;
      //           font-stretch: normal;
      //           font-style: normal;
      //           line-height: 1.5;
      //           letter-spacing: 0.02px;
      //           text-align: left;
      //           color: $color-black;
      //           text-decoration: underline;
      //         }
      //       }
      //     }
      //   }
      // }

      .pdp-half-image-half-content-outer {
        padding-top: 100px;

        @include MQ(MQ-980) {
          padding-top: 30px;
        }

        .pdp-half-image-half-content {
          justify-content: center;
          align-items: center;
          margin-bottom: 43px;

          &:last-child {
            margin-bottom: 0;
          }

          @include MQ(MQ-980) {
            flex-direction: column;
            margin-bottom: 50px;
          }

          .image-section {
            width: 100%;
            max-width: 351px;
            min-height: 351px;
            overflow: hidden;
            border-radius: 20px;
            margin-right: 60px;

            @include MQ(MQ-1200) {
              max-width: 270px;
              min-height: 270px;
              margin-right: 40px;
            }

            @include MQ(MQ-980) {
              margin-bottom: 20px;
              margin-right: 0;
              min-height: auto;
              //   height: 20vw;
              max-width: none;
              width: 287px;
              height: 287px;
            }

            img {
              @include img-object-contain;
              position: relative;
            }
          }

          .content {
            max-width: 504px;
            width: 100%;

            .subtitle {
              font-size: 16px;
              text-transform: uppercase;
              font-family: var(--font-family-primary);
              font-weight: 500;
              line-height: 18.7px;
              letter-spacing: 0.1px;
            }

            .description {
              margin-top: 20px;
            }

            .links {
              margin-top: 21px;

              @include MQ(MQ-980) {
                flex-direction: column;
              }

              //   justify-content: space-between;
              a {
                width: fit-content;

                &:nth-child(2) {
                  margin-left: 43px;

                  @include MQ(MQ-1200) {
                    margin-left: 20px;
                  }

                  @include MQ(MQ-980) {
                    margin-left: 0;
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
      }

      .accordion-link {
        display: none;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        font-family: var(--font-family-secondary);
        letter-spacing: 0.11px;
        text-align: left;
        text-transform: uppercase;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          width: 11.7px;
          height: 11.7px;
          right: 0;
          top: 6px;
          background: url("icon-plus.webp") no-repeat center/11.7px;
        }

        &.active {
          font-weight: bold;

          &:after {
            background: url("icon-minus.webp") no-repeat center/11.7px;
          }
        }

        @include MQ(MQ-980) {
          display: block;
        }
      }
    }
  }
}
