.product {
  position: relative;
  padding-top: 205px;
  background-image: linear-gradient(
    98deg,
    #5ebe55 1%,
    #a8d24e 51%,
    #5abe50 101%
  );
  @include MQ(MQ-768) {
    padding-top: 130px;
  }
  .inner {
    background: $color-off-white-light;
    padding: 45px 0 210px;
    position: relative;
    &::before {
      background: url("graphic-wave-inner-banner.svg") repeat left / 2065px;
      height: 114px;
      width: 100%;
      position: absolute;
      left: 0;
      top: -90px;
      content: "";
      z-index: 2;
    }
    @include MQ(MQ-980) {
      padding-bottom: 150px;
    }
  }
  .okeReviews-reviewsSummary {
    margin-top: 5px !important;
  }
  .okeReviews {
    margin-left: 13px !important;
  }
  .rc-container {
    margin-bottom: 0;
    .rc_popup {
      padding-bottom: 0 !important;
    }
    .rc_popup__hover {
      padding-bottom: 0 !important;
    }
  }

  .remove-slide {
    display: none !important;
  }
  @include MQ(MQ-980) {
    padding: 20px 0 0px;
    margin-bottom: 0;
  }
  // @include MQ(MQ-768) {
  //   margin-bottom: 60px;
  // }
  &__pre-title {
    margin-bottom: 10px;
    @include MQ(MQ-980) {
      text-align: center;
      margin-bottom: 5px;
    }
  }

  h1,
  .h2 {
    margin-bottom: 20px;
    @include MQ(MQ-980) {
      // text-align: center;
      // margin-bottom: 0px;
      max-width: 100%;
      line-height: normal !important;
      margin-bottom: 10px !important;
      font-size: 23px !important;
    }
  }
  .description {
    max-width: 400px;
    margin-bottom: 24px;
    @include MQ(MQ-480) {
      margin-bottom: 0;
    }
    p {
      font-size: 15px;
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: normal;
      display: inline;
      @include MQ(MQ-480) {
        font-size: 14px;
      }
    }
    a,
    .more-link {
      font-family: var(--font-family-primary);
      font-size: 12px;
      line-height: normal;
      letter-spacing: 1px;
      color: $color-pink;
      text-transform: uppercase;
      display: inline-block;
      text-decoration: underline !important;
      font-weight: 500 !important;
      cursor: pointer;
      &::before,
      &::after {
        display: none !important;
      }
    }
  }
  .container-1260 {
    .block-980 {
      width: 100%;
    }
  }
  /* Swiper  - slider */
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px !important;
    height: 50px !important;
    top: calc(50% - 100px);
    svg {
      width: 50px;
      height: 50px;
    }
  }
  .swiper-button-next {
    right: 20px;
    // left: 0;
    // margin: 0 auto !important;
    z-index: 4;
    // @include MQ(MQ-980) {
    //   //   top: calc(50% - 20px) !important;
    //   bottom: auto !important;
    //   left: auto;
    //   right: -25px !important;
    //   rotate: -90deg;
    // }
  }
  .swiper-button-prev {
    left: 20px;
    // rotate: 180deg;
    z-index: 4;
    svg {
      circle {
        fill: #1a1b1b;
      }
      path {
        fill: $color-white !important;
      }
      line {
        // fill: none !important;
        stroke: $color-white !important;
      }
    }
    // @include MQ(MQ-980) {
    //   top: calc(50% - 20px) !important;
    //   bottom: auto !important;
    //   left: -25px !important;
    //   right: auto !important;
    //   rotate: 90deg;
    // }
  }
  // @include MQ(MQ-768) {
  //   .swiper-button-next {
  //     right: -10px;
  //     top: 50%;
  //   }
  //   .swiper-button-prev {
  //     left: -10px;
  //     top: 50%;
  //   }
  // }
  .wishlist {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 2;
    width: 22px;
    @include MQ(MQ-980) {
      top: 20px;
      right: 20px;
    }
    svg {
      &:first-child {
        display: none;
      }
      &.icon-heart-filled {
        path {
          fill: transparent !important;
          stroke-width: 1.5px !important;
        }
      }
    }
    &.swym-adding {
      svg {
        &.icon-heart-filled {
          path {
            fill: $color-black !important;
          }
        }
      }
    }
  }
  .product-card__tags-status {
    z-index: 2;
    position: absolute;
    top: 20px !important;
    left: 20px !important;
    // .tag {
    //   display: inline-block;
    //   margin-right: 10px;
    //   background: $color-black;
    //   color: $color-white;
    //   font-size: 12px;
    //   font-weight: 600;
    //   font-stretch: normal;
    //   font-style: normal;
    //   line-height: normal;
    //   letter-spacing: 1.6px;
    //   text-align: center;
    //   text-transform: uppercase;
    //   padding: 10px 16px;
    //   border-radius: 20px;
    //   &:last-child {
    //     margin-right: 0px;
    //   }
    //   &:first-child {
    //     border-radius: 0;
    //     border-bottom-right-radius: 20px;
    //     border-top-right-radius: 20px;
    //   }
    // }
  }
  .left-section {
    width: 50%;
    padding-right: 6px;
    // max-height: 765px;
    max-height: 694px;
    /* overflow: hidden; */
    position: sticky;
    top: 85px;
    @include MQ(MQ-980) {
      width: 100%;
      // max-width: 620px;
      max-width: 530px;
      margin: 0 auto;
      // margin-top: 20px;
      max-height: auto;
      padding-bottom: 20px;
      position: relative;
      top: 0;
    }
  }
  &__media-outer {
    * {
      &::selection {
        background: transparent !important;
      }
    }
    // &.fixed {
    //   .product__media.active {
    //     width: calc(50% - 50px);
    //     max-width: 620px;
    //     position: fixed;
    //   }
    // }
  }
  &__media {
    width: 100%;
    opacity: 0;
    z-index: 3;
    position: relative;
    &.active {
      opacity: 1;
    }
    .swiper-button-next-pdp.swiper-button-disabled {
      pointer-events: all;
      cursor: pointer;
    }
    &.vertical-slider {
      display: flex;
      flex-wrap: wrap;
      @include MQ(MQ-980) {
        justify-content: center;
      }
      .pdp-slider {
        position: relative;
        height: 620px;
        width: calc(100% - 100px);
        order: 2;
        @include MQ(MQ-980) {
          width: 100%;
          margin-left: 0px;
          height: calc(100vw - 60px);
        }
      }
      .pdp-image-popup {
        order: 3;
      }
      .outer-pdp-thumbnail-slider {
        order: 1;
        width: 100%;
        position: relative;
        flex: none;
        margin-right: 10px;
        @include MQ(MQ-980) {
          width: 100%;
        }
      }
    }
  }
  &__information {
    width: 50%;
    max-width: 575px;
    padding-left: 50px;
    z-index: 3;
    position: relative;

    @include MQ(MQ-980) {
      width: 100%;
      max-width: 100%;
      padding-left: 0px;
      margin-top: 25px;
    }
    // @include MQ(MQ-480) {
    //   margin-top: 15px;
    // }
    .okeReviews
      .okeReviews-starRating--small
      .okeReviews-starRating-indicator-layer {
      background-size: 111px 15px;
      left: -13px;
    }
    .okeReviews .okeReviews-reviewsSummary-ratingCount {
      position: relative;
      left: -13px;
    }
  }
  img {
    width: 100%;
  }
  .vendor {
    margin-bottom: 15px;
  }

  .product-single__prices {
    width: auto;
    margin-bottom: 24px;
    span,
    s {
      font-size: 21px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.86;
      letter-spacing: 1px;
      text-align: left;
      @include MQ(MQ-480) {
        font-size: 20px;
      }
    }
    s {
      margin-right: 20.6px;
      color: #a1a1a1;
      //   opacity: 0.5;
      @include MQ(MQ-480) {
        margin-right: 18px;
      }
    }
  }
  &__form {
    padding-top: 10px;
    @include MQ(MQ-480) {
      padding-top: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
    }
  }
  .review-section {
    margin-bottom: 20px;
    @include MQ(MQ-350) {
      flex-direction: column;
    }
    a {
      font-family: var(--font-family-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: normal;
    }
    .write-review {
      margin-left: 15px;
      color: $color-black;
      &::before {
        content: "|";
        margin-right: 15px;
        opacity: 0.3;
      }
      @include MQ(MQ-350) {
        margin-left: 0px;
        margin-top: 3px;
        &::before {
          display: none;
        }
      }
    }
    .spr-badge-caption {
      font-family: var(--font-family-primary);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: normal;
    }
    .spr-badge {
      .spr-icon {
        font-size: 15px !important;
      }
    }
  }
  .variant-option {
    margin-bottom: 15px;
    @include MQ(MQ-980) {
      margin-bottom: 0px;
    }

    .label {
      font-family: var(--font-family-primary);
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color-black;
      margin-bottom: 12.3px;
      @include MQ(MQ-480) {
        font-size: 10px;
      }
    }
  }
  .pdp-variant-options {
    // margin-top: 20px;
    order: -1;
    // padding: 20px 0 0px;
    // margin-bottom: -35px;
    .color-swatches-outer {
      margin-bottom: -10px;
      li {
        //display: none;
        /*&:nth-child(-n + 8) {
            display: list-item;
          }*/
        input {
          -webkit-appearance: none;
        }
        label {
          display: none;
        }
        font-size: 0px;
        margin: 0 15px 10px 0;
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
        &:last-child {
          margin-right: 0px;
        }
        border: solid 1px $color-black;
        border-radius: 100%;
        cursor: pointer;
        position: relative;
        &.unavailable {
          display: none !important;
        }
        .out-of-stock-tooltip {
          display: block;
          opacity: 0;
          visibility: hidden;
          transform: translateY(10px);
          transition: all 0.25s ease-out;
          position: absolute;
          width: 83px;
          right: auto;
          left: -24px;
          top: -35px;
          text-align: center;
          font-size: 12px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $color-white;
          padding: 5px;
          background: #9f9f9f;
          bottom: auto;
          z-index: 1;
          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #9f9f9f transparent transparent transparent;
          }
        }
        &.out-of-stock {
          &::after {
            position: absolute;
            content: "";
            height: 40px;
            width: 1px;
            right: 0;
            left: 0;
            margin: 0 auto;
            transform: rotate(45deg);
            background-color: $color-black;
            z-index: 1;
            top: 0;
          }
          &:hover {
            .out-of-stock-tooltip {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px);
            }
          }
        }
        &.active {
          border: solid 1px $color-black;
        }
      }
    }
    .variant-option-radio {
      display: flex;
      flex-wrap: wrap;
      // @include MQ(MQ-480) {
      //   flex-direction: column;
      // }
      li {
        margin-right: 15px;
        min-width: 109px;
        width: fit-content;
        border: solid 1px $color-black;
        background: $color-white;
        text-align: center;
        padding: 11px 15px;
        font-family: var(--font-family-primary);
        font-size: 12px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
        color: $color-original-black;
        text-transform: uppercase;
        margin-bottom: 10px;

        @include MQ(MQ-480) {
          margin-bottom: 10.3px;
          font-size: 10px;
          min-width: fit-content;
          padding: 11px !important;
          // margin-right: 0;
        }
        // &:first-child {
        //   margin-top: 0;
        //   margin-left: 0;
        // }
        &.active,
        &:hover {
          background: $color-light-yellow;
        }
      }
    }
  }
  .dropdown {
    @include MQ(MQ-768) {
      max-width: 390px;
      width: 100%;
    }
  }
  &__actions {
    align-items: center;
    position: relative;

    @include MQ(MQ-980) {
      padding-top: 0;
      flex-wrap: wrap;
    }
    .product-single__quantity {
      margin-right: 26px;
      @include MQ(MQ-980) {
        margin-top: 20px;
      }
      @include MQ(MQ-480) {
        width: 91px;
        margin-right: 20px;
      }
    }
    .quantity-outer {
      max-width: 105px;
      width: 100%;
      height: 36px;
      border-radius: 50px;
      border: 1.5px solid $color-black;
      background-color: transparent !important;
      .quantity-selector {
        font-size: 17.1px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        height: 34px;
        width: 37px;
        border-radius: 0;
      }
      .minus-qty,
      .plus-qty {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      //   margin-top: 10px;
      //   @include MQ(MQ-480) {
      //     margin-top: 0px;
      //   }
    }
    .product-single__quantity > span {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
      display: inline-block;
      line-height: 1.57;
      letter-spacing: normal;
    }
    // @include MQ(MQ-480) {
    //   // padding-top: 25px;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   .product-single__quantity > span {
    //     display: none;
    //   }
    // }
    .add-to-cart {
      width: 100%;
      max-width: 390px;
      // margin-left: 26px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include MQ(MQ-980) {
        margin-top: 20px;
      }
      @include MQ(MQ-480) {
        // margin-left: 20px;
        max-width: 200px;
      }
      span {
        display: inline-block;
      }
      .pdp-add-to-cart-price {
        display: inline-block !important;
      }
    }
    .btn--primary {
      max-width: 201px;
      height: 45px;
      padding: 9.8px 60px 7.7px 32px;
      width: 100%;
      &::before {
        background: url("icon-shopping-bag.svg") no-repeat center / 100%;
        width: 17px;
        height: 17px;
        top: calc(50% - 8.5px);
        right: 31px;
      }
    }
    .btn--primary[disabled] {
      pointer-events: none;
    }
  }
  .link--secondary {
    margin-top: 10px;
    @include MQ(MQ-480) {
      font-size: 14px;
    }
  }
  .edge-out {
    width: 100%;
    display: block;
    bottom: -36px;
    position: absolute;
    // height: 72px;
    @include MQ(MQ-1200) {
      bottom: -42px;
      height: 66px;
    }
    @include MQ(MQ-600) {
      bottom: -38px;
      height: 66px;
    }
  }
  .okeReviews.okeReviews--theme .okeReviews-reviewsSummary {
    @include MQ(MQ-980) {
      margin-top: 0 !important;
    }
  }
}

// Tab section
.pdp-three-column-box {
  padding: 14px 24px;
  border: solid 1px $color-black;
  margin-top: 34px;
  @include MQ(MQ-768) {
    padding: 17px 16px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    text-align: center;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include MQ(MQ-768) {
        max-width: 81px;
      }
    }
    .icon {
      height: 30px;
      width: 35px;
      position: relative;
      img {
        @include img-object-contain;
      }
      @include MQ(MQ-768) {
        height: 20px;
        width: 29px;
      }
    }
    span {
      margin-top: 11px;

      font-family: var(--font-family-primary);
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: normal;
      letter-spacing: 1px;
      color: $color-black;
      @include MQ(MQ-768) {
        font-size: 10px;
      }
    }
  }
}

.pdp-slider-outer {
  flex: auto;
  width: 100%;
}

.pdp-slider {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  .swiper-pagination {
    bottom: -20px !important;
    .swiper-pagination-bullet {
      width: 5px;
      height: 5px;
      background: #dddddd !important;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background: #4f74a3 !important;
    }
  }
  // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  .swiper-slide {
    // opacity: 0;
    //visibility: hidden;
    //transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
    &-active {
      // opacity: 1;
      // visibility: visible;
    }
  }
  // .slide {
  //   // padding: 40px;
  //   // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  //   @include MQ(MQ-768) {
  //     padding: 20px;
  //   }
  // }
  .image-section,
  .video-section {
    // max-height: 574px;
    // max-height: 530px;
    // height: 48.44vw;
    height: 46.78vw;
    max-height: 594px;
    background: #faf8f6;
    overflow: hidden;
    position: relative;
    display: block;
    // border: 2px solid #d9d9d9;
    // border: 1px solid $color-light-gold;
    // @include MQ(MQ-980) {
    //   height: calc(60.94vw - 246px);
    // }
    @include MQ(MQ-980) {
      height: calc(100vw - 60px);
      // height: 94.69vw;
      max-width: 594px;
      // margin-top: 20px;
    }
    img,
    iframe,
    video {
      @include img-object-contain;
    }
  }
}

.pdp-image-popup {
  width: 100%;
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
  p {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    span {
      margin-left: 10px;
      opacity: 0.5;
    }
  }
}

.outer-pdp-thumbnail-slider {
  padding: 15px 0 00px;
  //   height: 620px;
  overflow: hidden;
  // @include MQ(MQ-980) {
  //   display: none;
  // }
  .swiper-button-prev-pdp {
    display: none;
    transform: rotate(180deg);
  }
  .pdp-thumbnail-outer {
    overflow: hidden;
  }
}

.pdp-thumbnail {
  margin-left: 0px;
  align-items: flex-end;
  @include MQ(MQ-480) {
    height: 80px !important;
  }
  // margin-top: 45px;
  .slide {
    display: inline-block;
    width: 80px !important;
    height: 80px !important;
    transition: 0.3s ease all;
    img {
      &::before {
        display: none;
      }
    }
    .image-section {
      overflow: hidden;
    }
    &.swiper-slide-thumb-active {
      transition: 0.3s ease all;
      .image-section,
      .video-section {
        border: 2px solid $color-black;
        width: 100%;
        height: 100%;
        transition: 0.3s ease all;
      }
      .image-section {
        overflow: hidden;
        background: #faf8f6;
      }
    }
    cursor: pointer;
    .number-section {
      width: 50px;
      height: 50px;
      border: 1px solid $color-black;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family-primary);
      font-size: 16px;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 4px;
      text-align: center;
    }
    .image-section,
    .video-section {
      width: 80px;
      height: 80px;
      position: relative;
      transition: 0.3s ease all;
    }
    .video-section {
      background: url("icon-play-white.svg") no-repeat center / 24px;
    }
    img {
      @include img-object-contain;
    }
  }
}

/*product-recommendations*/

.four-column-product-section {
  padding-top: 100px;
  @include MQ(MQ-768) {
    padding-top: 80px;
  }
  h2 {
    font-style: italic;
    margin-bottom: 40px;
  }
  .product-recommendations-list {
    width: calc(100% + 40px);
    margin-left: -40px;
    &.ipad-none {
      display: flex !important;
      @include MQ(MQ-768) {
        display: none !important;
      }
    }
    @include MQ(MQ-980) {
      width: calc(100% + 20px);
      margin-left: -20px;
    }
    @include MQ(MQ-480) {
      width: 100%;
      margin-left: 0px;
    }
    .product-card {
      width: 25%;
      padding-left: 40px;
      @include MQ(MQ-980) {
        padding-left: 20px;
      }
      @include MQ(MQ-768) {
        width: 33.33% !important;
        margin-right: 0 !important;
        .image-section {
          height: 32.73vw !important;
        }
      }
      @include MQ(MQ-600) {
        width: 50% !important;
        margin-right: 0 !important;
        .image-section {
          height: 50.45vw !important;
        }
      }
      @include MQ(MQ-480) {
        width: 100% !important;
        margin: 0 auto !important;
        margin-right: 20px !important;
        max-width: 260px;
        padding-left: 0;
        .image-section {
          height: 95vw !important;
          max-height: 302px;
        }
      }
      .image-section {
        height: 24.73vw;
      }
    }
  }
  .product-recommendation-outer {
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    @include MQ(MQ-480) {
      margin: 0 auto !important;
      max-width: 260px;
      padding-top: 40px;
    }
    .swiper-button-next-recomm-product-slider,
    .swiper-button-prev-recomm-product-slider {
      top: -7px;
    }
    .swiper-button-next-recomm-product-slider {
      right: calc(50% - 50px);
    }
    .swiper-button-prev-recomm-product-slider {
      left: calc(50% - 50px);
    }
  }
}

// .pdp-recommendations {
//     padding: 0px 0 100px;
//     @include MQ(MQ-480) {
//         padding: 0px 0 60px;
//     }
//     .container-1340 {
//         >.content {
//             border-top: 1px solid $color-black;
//             padding-top: 60px;
//         }
//     }
//     .product-recommendations-list {
//         // white-space: nowrap;
//         margin-top: 40px;
//         width: calc(100% + 80px);
//         @include MQ(MQ-768) {
//             margin-top: 88px;
//         }
//         @include MQ(MQ-980) {
//             width: calc(100% + 40px);
//         }
//         @include MQ(MQ-768) {
//             width: 100%;
//             .slick-list {
//                 width: calc(100% + 30px);
//             }
//         }
//         .product-card {
//             display: inline-block;
//             margin-right: 80px;
//             @include MQ(MQ-980) {
//                 margin-right: 40px;
//             }
//             .image-section {
//                 max-height: 373px;
//                 height: calc(33.333vw - 73.33px) !important;
//                 @include MQ(MQ-980) {
//                     height: calc(33.333vw - 46.66px) !important;
//                 }
//                 @include MQ(MQ-768) {
//                     height: 300px !important;
//                 }
//                 @include MQ(MQ-600) {
//                     height: 240px !important;
//                 }
//             }
//             @include MQ(MQ-768) {
//                 width: 240px;
//             }
//             @include MQ(MQ-600) {
//                 width: 180px;
//             }
//             &:last-child {
//                 margin-right: 0px;
//             }
//         }
//     }
//     .slick-arrow {
//         @include MQ(MQ-768) {
//             top: -48px;
//             &.slick-prev {
//                 left: 0px !important;
//             }
//             &.slick-next {
//                 left: 40px !important;
//                 right: auto !important;
//             }
//         }
//     }
// }
.zoomContainer {
  z-index: 9 !important;
}

.spr-icon {
  margin-right: 4px !important;
  &:last-child {
    margin: 0px !important;
  }
}

// .rc-container-wrapper {
//   display: none;
// }
.not-logged-in {
  width: 100%;
  height: 382px;
  position: relative;
  img {
    @include img-object-contain;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    position: relative;
    z-index: 1;
    p {
      padding-bottom: 13px;
    }
  }
}

.afterpay {
  padding-top: 8px;
  font-size: 14px;
}

/* reviews */

.jdgm-prev-badge__text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  padding-left: 8px;
}

.variant-selected {
  font-size: 14px;
  font-weight: 500;
  padding-left: 15px;
  border-left: 1px solid black;
  margin-left: 15px;
}

.price {
  &__wrapper {
    padding-top: 20px;
  }
}

.product {
  &__reviews {
    @include MQ(MQ-480) {
      flex-direction: column;
      p.h5 {
        padding-bottom: 5px;
      }
    }
  }
}

/*Recharge*/

.rc-template__legacy-radio {
  display: flex;
  flex-direction: column;
  .rc_widget__option--subsave {
    order: 2;
  }
  s {
    order: 5;
  }
  .rc-option__onetime {
    background: transparent !important;
  }
  position: relative;
  &::before {
    content: "Subscribe & Save";
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    color: $color-black;
    margin-bottom: 19px;
    text-transform: uppercase;
  }
  .rc-option__subsave {
    background: transparent !important;
    border: 2px solid $color-black;
    border-radius: 4px !important;
    padding: 8px 20px 8px 8px !important;
  }
  .rc-selling-plans {
    padding-left: 8px !important;
    margin-top: 3px !important;
  }
  select {
    background: url(icon-dropdown-arrow.webp) no-repeat center right 20px/17px;
    -webkit-text-fill-color: none !important;
    -webkit-box-shadow: none !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.56 !important;
    letter-spacing: normal !important;
    width: 100% !important;
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border: 2px solid $color-black !important;
    width: 100%;
    padding: 6px 40px 6px 24px !important;
    border-radius: 4px !important;
    font-family: var(--font-family-primary) !important;
    color: $color-black !important;
  }
  .rc_widget__option {
    input[type="radio"] {
      visibility: hidden;
      margin: 0;
      display: none;
    }
    label {
      display: flex !important;
      top: 0px !important;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding-left: 15px;
      flex-wrap: wrap;
      cursor: pointer;
      .rc-option__text {
        font-size: 15px;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-black;
        padding-left: 23px;
      }
      &:after {
        z-index: 2;
        content: "";
        vertical-align: middle;
        text-align: center;
        position: absolute;
        cursor: pointer;
        height: 17px;
        width: 17px;
        top: 5px;
        left: 1px;
        background: transparent;
        border-radius: 50%;
        border: solid 2px $color-black;
      }
      &::before {
        z-index: 2;
        content: "";
        position: absolute;
        cursor: pointer;
        height: 14px;
        width: 14px;
        top: 8px;
        display: none;
        left: 4px;
        background: $color-black;
        border-radius: 50%;
      }
    }
    &.rc-option--active {
      label {
        &::before {
          display: block;
        }
      }
    }
  }
}

.product-details_reviews {
  margin-top: 100px;
}

.rc_popup__block {
  background: $color-black !important;
  .rc_popup__how_it_works {
    line-height: 1.2 !important;
    strong {
      font-size: 14px !important;
    }
  }
  .tooltip-badge {
    svg {
      color: $color-black !important;
    }
  }
  .rc_popup__learn_more {
    font-size: 14px !important;
    position: relative;
    display: inline-block;
    margin-top: 10px !important;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0px;
      height: 2px;
      width: 0%;
      background: $color-white;
      transition: 0.4s ease-in-out;
    }
    &:hover {
      &:before {
        width: 100%;
        transition: 0.6s ease-in-out;
      }
    }
  }
}

.product-details_reviews {
  .jdgm-form {
    padding: 0 !important;
  }
  .jdgm-form__fieldset-actions {
    display: flex;
    justify-content: center;
    @include MQ(MQ-768) {
      flex-direction: column;
      align-items: center;
      .jdgm-btn--border,
      .jdgm-btn--solid {
        margin: 0px 0px 20px !important;
      }
    }
  }
  .jdgm-write-rev-link,
  .jdgm-btn--solid {
    @include px-button;
    border-color: $color-black;
    color: $color-white;
    background: $color-black;
    transition: 0.6s ease all;
    border-radius: 4px !important;
    max-width: fit-content !important;
    &:before,
    &:after {
      display: none;
    }
    &:hover {
      // background: transparent;
      color: $color-black !important;
      transition: 0.6s ease all;
      box-shadow: inset 0 3.25em 0 0 $color-white;
    }
  }
  .jdgm-btn--border {
    @include px-button;
    transition: 0.6s ease all;
    border-radius: 4px !important;
    &:before {
      display: none;
    }
    &:hover {
      &::before,
      &:after {
        display: none;
      }
      color: $color-white !important;
      // background-color: $color-black;
      transition: 0.6s ease all;
      box-shadow: inset 0 -3.25em 0 0 $color-black;
    }
  }
}

.product-recommendations {
  padding-top: 105px;
  @include MQ(MQ-768) {
    padding-top: 60px;
  }
  .content.flex {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid $color-black;
    @include MQ(MQ-480) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    h2 {
      text-transform: uppercase;
      margin-right: 20px;
      @include MQ(MQ-480) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  .product-recommendations-list {
    flex-wrap: wrap;
    margin-left: -30px;
    width: calc(100% + 30px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px;
  }
  .product-card {
    width: 33.333%;
    padding-left: 30px;
    @include MQ(MQ-980) {
      width: 50%;
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include MQ(MQ-480) {
      width: 100%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    // margin-bottom: 60px;
    .image-section {
      max-height: 407px;
      height: calc(33.333vw - 30px);
      @include MQ(MQ-980) {
        max-height: none;
        height: calc(50vw - 45px);
      }
      @include MQ(MQ-480) {
        max-height: none;
        height: calc(100vw - 60px);
      }
    }
  }
}

.full-width-image-video.pdp-video {
  .bottom-graphic {
    //filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
  }
}

.product-reviews-widget {
  padding-bottom: 60px;
}

.rc-radio-group__options {
  border: solid 1px $color-black !important;
  label {
    padding: 5px 20px 15px !important;
    color: $color-black !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: center !important;
    opacity: 0.5;
    &.rc_widget__option--active {
      background: $color-white !important;
      color: $color-black !important;
      opacity: 1;
    }
    .label-recharge-info {
      margin-top: 0px;
      padding-left: 34px;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.01px;
      display: inline-block;
      font-family: var(--font-family-primary) !important;
    }
    .rc_widget__option__label {
      position: relative;
      padding-left: 27px;
      font-size: 14px !important;
      font-weight: bold !important;
      line-height: normal !important;
      font-family: var(--font-family-primary) !important;
      .rc-option__price {
        order: 5 !important;
        margin: 0 0 0 16px !important;
      }
      s {
        order: 6 !important;
        margin-left: 5px;
      }
      &:after {
        z-index: 2;
        content: "";
        vertical-align: middle;
        text-align: center;
        position: absolute;
        cursor: pointer;
        height: 20px;
        width: 20px;
        top: 0px;
        left: -7px;
        background: transparent;
        border-radius: 50%;
        background: $color-white;
        border: solid 1px $color-black !important;
      }
    }
    input[type="radio"]:checked + .rc_widget__option__label::before {
      z-index: 3;
      content: "";
      vertical-align: middle;
      text-align: center;
      position: absolute;
      cursor: pointer;
      height: 8px;
      width: 8px;
      top: 7px;
      left: 0.1px;
      background: transparent;
      border-radius: 50%;
      background: $color-black;
    }
    input[type="radio"] {
      visibility: hidden;
      margin: 0;
    }
  }
  .rc_widget__option__label {
    position: relative;
    padding-left: 14px;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: normal !important;
    &:after {
      z-index: 2;
      content: "";
      vertical-align: middle;
      text-align: center;
      position: absolute;
      cursor: pointer;
      height: 20px;
      width: 20px;
      top: 0px;
      left: -22px;
      background: transparent;
      border-radius: 50%;
      background: $color-white;
      border: solid 1px $color-black !important;
    }
  }
  input[type="radio"]:checked + .rc_widget__option__label::before {
    z-index: 3;
    content: "";
    vertical-align: middle;
    text-align: center;
    position: absolute;
    cursor: pointer;
    height: 8px;
    width: 8px;
    top: 7px;
    left: -15.1px;
    background: transparent;
    border-radius: 50%;
    background: $color-black;
  }
  input[type="radio"] {
    visibility: hidden;
    margin: 0;
  }
  .rc-radio:not(:first-child) {
    border-top: 1px solid $color-black !important;
  }
}

.okeReviews.okeReviews--theme .okeReviews-review-recommendation--yes::before,
.okeReviews-review-reviewer-profile-status
  .okeReviews-review-reviewer-profile-status--verified,
.okeReviews.okeReviews--theme
  .okeReviews-review-reviewer-profile-status--verified {
  color: $color-black !important;
}

.okeReviews {
  .okeReviews-review {
    color: $color-black !important;
    p {
      font-size: 16px !important;
      font-weight: 500 !important;
      line-height: 1.5 !important;
      letter-spacing: 0.02px !important;
    }
  }
  .okeReviews-review-helpful-vote-button,
  .okeReviews-review-date,
  .okeReviews-review-helpful,
  .okeReviews-review-helpful-vote-button {
    color: $color-black !important;
  }
  .okeReviews-starRating {
    height: 20px !important;
    width: 100px !important;
  }
  .okeReviews-starRating-indicator-layer {
    background-size: 100px 20px !important;
  }
}

.okeReviews--theme .okeReviews-badge--recommended,
.okeReviews.okeReviews--theme .okeReviews-barGraph-layer--foreground {
  background-color: $color-black !important;
}

.price__wrapper {
  padding-top: 0 !important;
}

.cbb-frequently-bought-container {
  display: none !important;
}

.product-frequently-bought-section {
  background: $color-sky-blue;
  position: relative;
  padding: 36px 40px 172px;
  @include MQ(MQ-980) {
    padding-bottom: 129px;
  }
  @include MQ(MQ-600) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
  }
  .cbb-mobile-view .cbb-frequently-bought-title {
    font-size: 30px !important;
    @include MQ(MQ-768) {
      font-size: 23px !important;
    }
  }
  .cbb-frequently-bought-discount-message-container {
    display: none !important;
  }
  * {
    box-sizing: border-box !important;
  }

  &::before {
    background: url("wave-sky-blue.webp") repeat left / 1452px;
    height: 95px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -85px;
    content: "";
    @include MQ(MQ-980) {
      height: 96px;
    }
  }
  .cbb-frequently-bought-selector-list {
    position: relative;
    z-index: 2;
    max-width: 960px;
    margin: 0 auto !important;
    margin-top: 27px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    margin-bottom: -24px !important;
    li {
      margin-bottom: 24px !important;
      width: calc(50% - 30px);
      margin-right: 60px !important;
      @include MQ(MQ-768) {
        width: 100%;
        margin-right: 0;
      }

      &:nth-child(even) {
        margin-right: 0 !important;
      }
      position: relative;
      padding-left: 26px;
      .cbb-frequently-bought-selector-input {
        position: absolute;
        left: 0;
        top: 10px;
        margin: 0;
      }
      > a,
      > span {
        &:nth-child(2) {
          width: 100%;
          display: block !important;
          margin: 0 0 8px !important;
          h3 {
            font-family: var(--font-family-primary) !important;
            font-size: 16px !important;
            font-weight: normal !important;
            line-height: 1.56 !important;
            letter-spacing: 0.32px !important;
            color: $color-black !important;
            text-transform: capitalize;
          }
        }
      }

      select {
        padding: 4px 14px !important;
        border-radius: 60px !important;
        height: 25px !important;
        max-height: none !important;
        min-height: auto !important;
        font-family: var(--font-family-primary) !important;
        font-size: 10px !important;
        font-weight: 500 !important;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5 !important;
        letter-spacing: 1px !important;
        color: $color-black !important;
        margin: 0 !important;
        border: none !important;
        text-transform: uppercase !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        padding-right: 31px !important;
        background: url(arrow-down-brown.svg) no-repeat center right 10px / 10px !important;
        background-color: $color-white !important;
      }
      .cbb-frequently-bought-selector-label-compare-at-price,
      .cbb-frequently-bought-selector-label-sale-price span,
      .cbb-frequently-bought-selector-label-regular-price span {
        font-family: var(--font-family-primary) !important;
        font-size: 14px !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: 1.29 !important;
        letter-spacing: 1px !important;
        color: $color-black !important;
      }

      .cbb-frequently-bought-selector-label-compare-at-price {
        color: #858585 !important;
      }
    }
  }

  .cbb-frequently-bought-form {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    // flex-wrap: wrap;
    // margin-bottom: 0;
    @include MQ(MQ-980) {
      flex-direction: column;
    }
    .cbb-frequently-bought-total-price-box {
      margin: 0 52px 0px 0 !important;
      max-width: fit-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include MQ(MQ-980) {
        margin-right: 0 !important;
      }
      .cbb-frequently-bought-total-price-text {
        display: none !important;
      }
      span,
      s {
        font-family: var(--font-family-primary) !important;
        font-size: 23px !important;
        font-weight: bold !important;
        line-height: 0.78 !important;
        letter-spacing: 1px !important;
        color: $color-black !important;
        display: block;
        margin-bottom: 10px;
        @include MQ(MQ-480) {
          font-size: 20px !important;
        }
      }
      span {
        margin-left: 10px;
      }
      s {
        span {
          color: #858585 !important;
        }

        margin: 0 10px 10px 0 !important;
      }
    }
    button {
      font-family: var(--font-family-button) !important;
      cursor: pointer !important;
      display: block !important;
      font-size: var(--buttons-desktop-fontsize) !important;
      font-style: var(--buttons-desktop-fontstyle) !important;
      font-weight: var(--buttons-desktop-fontweight) !important;
      line-height: var(--buttons-desktop-lineheight) !important;
      letter-spacing: var(--buttons-desktop-letterspacing) !important;
      text-align: center !important;
      color: rgba(var(--color-button-text), 1) !important;
      width: fit-content !important;
      border: var(--buttons-border-width) solid rgba(var(--color-button), 1) !important;
      border-radius: var(--buttons-radius-outset) !important;
      background-color: rgba(var(--color-button), 1) !important;
      text-decoration: none;
      padding: 9.8px 69.3px 7.7px 39.7px !important;
      max-width: 300px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: var(--buttons-desktop-texttransform) !important;
      // height: 40px !important;
      // margin-bottom: 12px;

      transition: 0.6s ease all !important;
      background: url(button-pdp.png) no-repeat center / 100% 100% !important;
      &:hover {
        color: $color-white !important;
        span {
          color: $color-white !important;
        }
      }
      @include MQ(MQ-980) {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
      }
      @include MQ(MQ-480) {
        padding: 9.8px 54.3px 7.7px 30.7px !important;
        font-size: 20px !important;
      }
    }
  }
  .cbb-frequently-bought-products {
    display: flex !important;
    flex-wrap: wrap;
    margin: 0 !important;
    margin-left: -50px !important;
    width: calc(100% + 50px) !important;
    z-index: 2;
    position: relative;
    max-width: none !important;
    justify-content: center;
    @include MQ(MQ-768) {
      margin-left: -25px !important;
      width: calc(100% + 25px) !important;
      justify-content: flex-start;
    }
    @include MQ(MQ-480) {
      margin-left: -20px !important;
      width: calc(100% + 20px) !important;
    }

    li {
      width: 20% !important;
      padding-left: 50px !important;
      height: calc(20vw - 68px) !important;
      max-height: 187.6px !important;
      position: relative;
      @include MQ(MQ-1200) {
        height: calc(20vw - 72px) !important;
      }
      @include MQ(MQ-768) {
        padding-left: 25px !important;
        width: 33.33% !important;
        height: calc(33.33vw - 62px) !important;
      }
      @include MQ(MQ-480) {
        padding-left: 20px !important;
        height: calc(33.33vw - 42px) !important;
      }
      .cbb-frequently-bought-plus-icon {
        position: absolute !important;
        width: 50px !important;
        height: 50px !important;
        right: -50px;
        font-size: 0 !important;
        top: calc(50% - 25px) !important;
        background: url("icon-plus.svg") no-repeat center / 20px $color-sky-blue !important;
        @include MQ(MQ-768) {
          width: 40px !important;
          height: 30px !important;
          z-index: -1;
          right: -32px;
          top: calc(50% - 21px) !important;
          background: url(icon-plus.svg) no-repeat center / 15px #dcf7ff !important;
        }
        @include MQ(MQ-480) {
          background: url(icon-plus.svg) no-repeat center / 10px #dcf7ff !important;
          right: -25px;
          width: 30px !important;
        }
      }
      .cbb-frequently-bought-product-image-link {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
      }
      .cbb-frequently-bought-product-image {
        width: 100% !important;
        margin: 0 !important;
        height: 100% !important;
        background-size: cover !important;
      }
    }
  }
  .cbb-frequently-bought-title {
    position: relative;
    width: 100%;
    display: block;

    font-size: 30px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1 !important;
    letter-spacing: 0.6px !important;
    text-align: center !important;
    color: $color-black !important;
    &::after {
      width: 33px;
      height: 40px;
      content: "";
      position: absolute;
      right: 67px;
      z-index: 1;
      top: -50px;
      background: url("star-large.webp") no-repeat center / 100%;
      animation-name: starRotate, blink;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-768) {
        display: none;
      }
    }
  }
  .cbb-frequently-bought-recommendations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cbb-frequently-bought-container {
    display: block !important;
    max-width: 1227px !important;
    margin: 0 auto !important;
    padding: 0 40px 50px;
    position: relative;
    background: $color-sky-blue;
    z-index: 6;
    @include MQ(MQ-1200) {
      padding-bottom: 80px;
    }
    @include MQ(MQ-768) {
      padding-bottom: 100px;
    }
    @include MQ(MQ-480) {
      padding-left: 14px;
      padding-right: 14px;
    }
    &::before {
      height: calc(100% - 160px);

      width: 100%;
      border: 1px solid $color-black;
      content: "";
      position: absolute;
      left: 0;
      top: 160px;
      @include MQ(MQ-1200) {
        top: 22%;
      }
      @include MQ(MQ-980) {
        top: 12vw;
      }
      @include MQ(MQ-768) {
        top: 18vw;
      }
      @include MQ(MQ-480) {
        top: 100px;
      }
    }
    &::after {
      width: 48px;
      height: 40px;
      content: "";
      position: absolute;
      left: -32px;
      z-index: 1;
      top: -39px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: blink, animateCloud;
      @include MQ(MQ-768) {
        display: none;
      }
    }
  }

  &::after {
    width: 31px;
    height: 44px;
    content: "";
    position: absolute;
    left: 145px;
    z-index: 1;
    bottom: -13px;
    background: url("star-large.webp") no-repeat center / 100%;
    animation-name: starRotate, blink;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    @include MQ(MQ-768) {
      display: none;
    }
  }
}
