<div class="collection-hero-section">
  <div class="container-1260 flex">
    <div class="content">
      {% if section.settings.title != blank %}
        <h1>{{ section.settings.title }}</h1>
      {% else %}
        <h1>Collection</h1>
      {% endif %}
      {% if section.settings.description != blank %}
        {{ section.settings.description }}
      {% endif %}
    </div>
    <div class="image-section">
      <img src="{{ 'dummy-collection.webp' | asset_url }}" alt="Collection">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
