<div class="full-width-content-default ">
  <div class="container-860">
    <div class="white-box">
      <div class="inner-box full-format wrap-text">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Default Page Content",
  "presets": [
    {
      "name": "Full Width Default Page Content"
    }
  ]
}
{% endschema %}
