<div class="default-page-content">
  <div class="container-1240">
    <div class="inner-box full-format wrap-text">
      {{ page.content }}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Default Page Content",
  "presets": [
    {
      "name": "Full Width Default Page Content"
    }
  ]
}
{% endschema %}
