<div class="full-width-content-section-v2">
  <div class="container-1440">
    <div class="container-840">
      <div class="inner">
        <div class="thumb-images">
          <img src="{{ 'icon-thumpup.webp' | asset_url }}">
        </div>
        <h2>When an unknown printer took a galley of type and scrambled</h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took
        </p>

        <a href="#" title="" aria-label="" class="btn--primary yellow"> Book Now</a>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Product Full Content",
  "settings": [
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "btnText",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btnLink",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Product Full Width Content Section"
    }
  ]
}
{% endschema %}
