<!-- Product Recommendations -->

{% assign metafieldsHandleForProducts = product.metafields.product_recommendations.product_handle %}
{% if metafieldsHandleForProducts != blank %}
  <div
    class="pdp-recommendations three-column-product-slider-v2 cart"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    <div class="container-1260 flex-wrap">
      <div class="top-section">
        <h2 class="h2 text-center">{{ section.settings.title }}</h2>
      </div>

      <div class="inner">
        <div class="product-recommendations-list slider js__product-slider">
          <div class="swiper-wrapper">
            {% assign productHandles = metafieldsHandleForProducts | split: '|' %}

            {% for productRec in productHandles %}
              {% assign productRelated = all_products[productRec] %}

              <div class="product-card swiper-slide slide ">
                {% include 'product_Card'  with  productRelated: productRelated , show_price: true, show_tags: true, show_auto_tags: true, show_title: true, show_fav: true, show_secondary_button: true %}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-prev-product-slider">
            {% include 'icon-arrow-slide' %}
          </div>
          <div class="swiper-button-next-product-slider">
            {% include 'icon-arrow-slide' %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% else %}
  <div
    class="product-recommendations "
    data-base-url="{{ routes.product_recommendations_url }}"
    data-product-id="{{ product.id }}"
    data-aos="fade-up"
    data-aos-duration="2000"
  >
    {%- if recommendations.products_count > 0 -%}
      <div class="pdp-recommendations ">
        <div class="three-column-product-slider-v2 pdp">
          <div class="container-1260 flex-wrap">
            <div class="top-section">
              <h2 class="h2 text-center">You MAy Also Like{{ section.settings.title }}</h2>
            </div>
            <div class="inner">
              <div class="slider-outer">
                <div
                  class="product-recommendations-list slider js__product-slider js__product-slider-recommendations"

                  id="js__pdp-recommendation-slider"
                >
                  <div class="swiper-wrapper">
                    {% comment %}
                      <div
                        class="product-recommendations-list flex-wrap "
                        {%- if settings.product_recommendation_slider == 'on' -%}
                          id="js__pdp-recommendation-slider"
                        {%- endif -%}
                      >
                    {% endcomment %}
                    {%- for productRelated in recommendations.products -%}
                      <div class="product-card swiper-slide slide ">
                        {% include 'product_Card' with productRelated: productRelated , show_price: true, show_tags: true, show_auto_tags: true, show_title: true, show_fav: false, show_secondary_button: true %}
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="swiper-button-prev-product-slider">
                  {% include 'icon-arrow-slide-black' %}
                </div>
                <div class="swiper-button-next-product-slider">
                  {% include 'icon-arrow-slide-black' %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {%- for productRelated in recommendations.products -%}
          {% render 'product-modal', productData: productRelated %}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <script>
    var loadProductRecommendationsIntoSection = function () {
      // Look for an element with class 'product-recommendations'
      var productRecommendationsSection = document.querySelector('.product-recommendations');
      if (productRecommendationsSection === null) {
        return;
      }
      // Read product id from data attribute
      var productId = productRecommendationsSection.dataset.productId;
      // Read base URL from data attribute
      var baseUrl = productRecommendationsSection.dataset.baseUrl;
      // Read limit from data attribute
      var limit = productRecommendationsSection.dataset.limit;
      // Build request URL
      var requestUrl = baseUrl + '?section_id=product-recommendations&product_id=' + productId + '&limit=' + limit;
      // Create request and submit it using Ajax
      var request = new XMLHttpRequest();
      request.open('GET', requestUrl);
      request.onload = function () {
        if (request.status >= 200 && request.status < 300) {
          var container = document.createElement('div');

          container.innerHTML = request.response;
          productRecommendationsSection.parentElement.innerHTML =
            container.querySelector('.product-recommendations').innerHTML;

          // RECHARGE

          //  callRechargeScript();

          // NO RECHARGE

          // callNoRechargeScript();
          var productRecomm = new Swiper('#js__pdp-recommendation-slider', {
            slidesPerView: 3,
            spaceBetween: 39,
            // centeredSlides: true,
            // resistance: false,
            threshold:5,
            loop: true,
            resistance: false,
            shortSwipes: true,
            longSwipes: false,
            // scrollOverflowOptions: null,
            // loopedSlidesLimit: false,
            breakpoints: {
              0: {
                slidesPerView: 1,
              },
              769: {
                slidesPerView: 2,
              },
              1025: {
                slidesPerView: 3,
              },
            },
            navigation: {
              nextEl: '.swiper-button-next-product-slider',
              prevEl: '.swiper-button-prev-product-slider',
            },
          });
        }
      };
      request.send();
    };

    // Listen for changes done in the Theme Editor
    document.addEventListener('shopify:section:load', function (event) {
      if (event.detail.sectionId === 'product-recommendations') {
        loadProductRecommendationsIntoSection();
      }
    });

    // Fetching the recommendations on page load
    loadProductRecommendationsIntoSection();
  </script>
{% endif %}
<!-- reviews -->

{% schema %}
{
  "name": "Product Recommendations",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Product Recommendations"
    }
  ]
}
{% endschema %}
