{% comment %} Tab Section {% endcomment %}
<div class="product-tab-section">
  <div class="container-1260">
  <ul class="tab-head">
    <li>
      <a>Detailed product description</a>
      </li>
      <li>
        <a>Reviews</a>
        </li>
        <li>
          <a>Shipping information</a>
          </li>
          <li>
            <a>FAQ</a>
            </li>
    </ul>
    </div>
  </div>
{% schema %}
{
  "name": "Product Tab Section",

  "presets": [
    {
      "name": "Product Tab Section"
    }
  ]
}
{% endschema %}
