{% comment %} Tab Section {% endcomment %}

<div class="product-tab-section">
  <div class="container-1260">
    <div class="tab-head none-980">
  <ul class="pdp-tab-head">
    
    <li>
      <a>Detailed product description</a>
      </li>
      <li>
        <a>Reviews</a>
        </li>
        <li>
          <a>Shipping information</a>
          </li>
          <li>
            <a>FAQ</a>
            </li>
    </ul>
    </div>
    <div class="main-tab-content">
      <div class="tab-content js-tab-content active" id="overview" data-attr="tab-link-overview">
        <a class="accordion-link js___accordion" id="tab-link-overview" data-attr="overview">Detailed product description</a>
        <div class="inner-content accordion-con overview-content-wrapper">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
<br /><br />
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
<br /><br />
It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Page Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
</p>
          </div>
        </div>
      </div>
    </div>
  </div>


{% schema %}
{
  "name": "Product Tab Section",

  "presets": [
    {
      "name": "Product Tab Section"
    }
  ]
}
{% endschema %}
