<div class="review-slider-with-image">
    <div class="container-1440 flex">
<div class="left-section">
  <div class="inner">
    <div class="heading">
    <span class="pre-title">
        Latest Reviews</span>
        <h2>What customers say about us</h2>
        </div>
        <div class="slider-outer">
        <div class="slider js__review-slider">
            <div class="swiper-wrapper">
                <div class="slide">
                    <h3>Beulah Henry</h3>
                    <p class="small">You won't be disappointed in buying this book. It is perfect for parents to teach our young ones what is appropriate and not appropriate touching. With this time in age, this book is a great introduction to that subject. Well worth the price! You will love this book.</p>
                    </div>
                    <div class="slide">
                        <h3>Beulah Henry</h3>
                        <p class="small">You won't be disappointed in buying this book. It is perfect for parents to teach our young ones what is appropriate and not appropriate touching. With this time in age, this book is a great introduction to that subject. Well worth the price! You will love this book.</p>
                        </div>
                        <div class="slide">
                            <h3>Beulah Henry</h3>
                            <p class="small">You won't be disappointed in buying this book. It is perfect for parents to teach our young ones what is appropriate and not appropriate touching. With this time in age, this book is a great introduction to that subject. Well worth the price! You will love this book.</p>
                            </div>
           </div>
            </div>
            <div class="swiper-button-prev-review-slider">
                {% include 'icon-arrow-slide-black' %}
              </div>
              <div class="swiper-button-next-review-slider">
                {% include 'icon-arrow-slide-black' %}
              </div>
    </div>
    </div>
    </div>
    <div class="image-section">
       
            <img src="{{ 'dummy-image-2.webp' | asset_url }}" /> 
        
   
    </div>
        </div>
</div>
{% schema %}
{
  "name": "Review Slider with Image",
  "presets": [
    {
      "name": "Half Image Half Content"
    }
  ]
}
{% endschema %}