
<div class="review-slider-with-image">
    <div class="container-1440 flex">
<div class="left-section">
    <span class="pre-title">
        Latest Reviews</span>
        <h2>What customers say about us</h2>
        <div class="slider">
           
            </div>

    </div>
    <div class="image-section">
       
            <img src="{{ 'dummy-image-2.webp' | asset_url }}" /> 
        
   
    </div>
        </div>
</div>
{% schema %}
{
  "name": "Review Slider with Image",
  "presets": [
    {
      "name": "Half Image Half Content"
    }
  ]
}
{% endschema %}