<div class="three-xolumn-card-section">
  <div class="container-1260">
    <h2></h2>
  </div>
</div>
{% schema %}
{
  "name": "Three Column Cards",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "cards",
      "name": "Cards",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
          "info": "100 x 100px Recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "btnText",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "btnLink",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Column Cards Section"
    }
  ]
}
{% endschema %}
