<div class="three-xolumn-card-section">
  <div class="container-1260">
    <h2></h2>
  </div>
</div>
{% schema %}
{
  "name": "Half Image Half Content",
  "settings": [
    {
      "type": "header",
      "content": "Extra Settings",
      "info": "Recommened to be used by the developer only"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1262 x 1000px Recommended"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Three Column Cards Section"
    }
  ]
}
{% endschema %}
