{% if section.blocks.size > 0 %}
  <div class="content-banner two-column-content-banner">
    <div class="box">
      <ul class="two-column-block">
        {%- for block in section.blocks -%}
          <li></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Two Column Content Banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Child Image First",
      "info": "600 x 600px Recommended"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Child Image Second",
      "info": "600 x 600px Recommended"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 2,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon",
          "info": "100 x 100px Recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Two Column Content Banner"
    }
  ]
}
{% endschema %}
