/*
1. Slick Slider
    1. Slick Dots
    2. Slick Arrow
    3. Slider Section
2. Form
    1. Success Message
    2. Error Message
    3. Input Error Messages
    4. Custom Checkbox
    5. Dropdown
    6. Custom Search
3. Recaptcha
4. Product Card
5. Pagination
6. Shopify Tags
    1. Sale Tag
    2. Sold Out
7. Video
    1. Bg Video
    2. Video Pop Up
    3. Play Button
8. Accordions
9. Social Sharing
10. Newsletter
11. Load More
12. Free Shipping
*/

//Swiper Slider
.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 30px !important;
  svg {
    width: 30px;
    height: 30px;
  }
  margin: 0 !important;
  &::after {
    display: none;
  }
}

/* FORM SUCCESS AND ERROR MESSAGES */

.form-message--success {
  border: 1px solid #115611;
  color: #115611;
  background: #60f45f1a !important;
  padding: 10px;
  margin-bottom: 15px;
}

.form-message--error {
  border: 1px solid $color-red;
  color: $color-red;
  background: #f47b5f1a;
  padding: 10px;
  margin-bottom: 15px;
  h2 {
    font-family: var(--font-family-primary);
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: normal;
  }
  ul {
    margin-left: 0px;
  }
  li {
    color: $color-red !important;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    list-style: none;
    list-style-type: none !important;
    margin-bottom: 3px;
    &:last-child {
      margin-bottom: 0px;
    }
    a {
      color: $color-red !important;
      font-size: 14px;
    }
  }
}

/* Error Messages */

.form-success,
.form-message--success {
  background: #5ebf4f !important;
  border: 1px solid #5ebf4f !important;
  padding: 0.8em 1em;
  color: #ffffff !important;
  opacity: 1 !important;
  text-align: center;
  border: none;
  line-height: normal;
  width: 100%;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  &.resetSuccess {
    margin-top: 40px;
    margin-bottom: 0px;
  }
}

.form-error,
.errors,
.custom-error,
.form-message {
  border: none;
  border: 1px solid $color-red;
  color: $color-red;
  background: #f47b5f1a;
  text-align: center;
  padding: 10px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  a {
    color: $color-red;
    text-decoration: underline;
  }
  ul {
    margin-left: 0px;
  }
  li {
    color: $color-red;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    a {
      color: $color-red;
    }
  }
}

.input-error-message {
  font-size: 14px !important;
  color: $color-red !important;
  line-height: 1.31 !important;
  // margin-top: 8px;
  margin-top: -10px;
  margin-bottom: 15px !important;
  display: block;
  svg {
    display: none;
  }
}

input.input--error,
select.input--error,
.input--error.disclosure__toggle,
textarea.input--error {
  background: $color-white !important;
}

/* Custom Checkbox */

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 15px;
  letter-spacing: 0.6px;
  color: $color-black;
  margin-bottom: 10px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ {
        .checkmark {
          &:after {
            display: block;
          }
        }
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: solid 1px $color-black;
    background-color: $color-white;
    &:after {
      left: 4px;
      top: 0px;
      width: 3px;
      height: 9px;
      border: solid $color-black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      content: "";
      position: absolute;
      display: none;
    }
  }
}

.dropdown {
  position: relative;
  width: 347px;
  .selected {
    padding: 11px 15px 11px 0;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid $color-black;
    &::after {
      content: "";
      position: absolute;
      background: url(icon-dropdown-arrow-black.png) no-repeat center
        center/contain;
      width: 15px;
      height: 15px;
      right: 0;
      bottom: 11px;
      transition: all 0.1s ease-in-out;
    }
    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  ul {
    display: none;
    width: 347px;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 9;
    background-color: $color-white;
    li {
      a {
        padding: 11px 15px 0 15px;
        display: block;
        width: 100%;
        color: $color-black;
        &.active {
          font-weight: bold;
        }
      }
      &:last-child {
        a {
          padding-bottom: 11px;
        }
      }
    }
  }
  @include MQ(MQ-480) {
    width: 100%;
    ul {
      width: 100%;
    }
  }
}

.custom-dropdown-select {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  border: 1px solid $color-black;
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: $color-black;
  letter-spacing: 0.01px;
  border-radius: 30px;
  background: transparent;
  opacity: 1;
  padding: 7.5px 40px 8.5px 17px;
  background: url("dropdown.svg") no-repeat right 20px center / 11px
    $color-white;
}

//inner pages dropdown
.dropdown-select {
  color: $color-black;
  padding: 15px 24px;
  border: solid 1px rgba(255, 200, 43, 0.36);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#fff8e3),
    to(#fff8e1)
  );
  background-image: linear-gradient(to bottom, #fff8e3, #fff8e1);
  font-family: var(--font-family-primary);
  font-size: 14px;
  font-weight: 900;
  line-height: 1.29;
  letter-spacing: 1px;
  width: 100%;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(dropdown-arrow.svg) no-repeat right 20px center / 12px,
    linear-gradient(to bottom, #fff8e3, #fff8e1);
  cursor: pointer;
}
// Custom Search
.custom-search {
  position: relative;
  input.search {
    background: $color-black;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    border: none;
    padding: 10px 20px 10px 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.75px;
    color: $color-black;
    font-family: var(--font-family-primary);
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.75px;
      color: $color-black;
      font-family: var(--font-family-primary);
    }
  }
  svg {
    position: absolute;
    top: 10px;
    left: 12px;
  }
}

/* Recaptcha*/

.shopify-challenge__container {
  padding: 60px 30px !important;
  @include MQ(MQ-480) {
    padding: 40px 30px 60px !important;
  }
  .shopify-challenge__message {
    display: block;
    margin-bottom: 20px;
  }
  .shopify-challenge__button {
    @include px-button;
    background-color: $color-black;
    border-color: $color-black;
    color: $color-white;
    border-radius: 0px;
    &:hover {
      color: $color-black;
      border-color: $color-black;
      background-color: transparent;
    }
    margin-top: 30px !important;
  }
}

/* PRODUCT CARD */

.product-card {
  .okeReviews-reviewsSummary {
    margin: 0 0 9px !important;
    .okeReviews-reviewsSummary-ratingCount {
      font-size: 12px !important;
      line-height: normal !important;
      letter-spacing: 0.09px !important;
    }
  }
  &__product-title a {
    font-size: 16px;
    font-family: var(--font-family-primary);
    line-height: 1.44;
    letter-spacing: normal;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .btn--wrapper {
    margin-top: 22px;
    .btn--quick-view {
      margin-left: 21px;
      span {
        display: none;
      }
    }
  }
  &:hover {
    .btn--quick-view {
      span {
        display: block;
      }
      width: auto !important;
      padding-right: 40px;
    }
  }
  padding-right: 12px;
  padding-top: 12px;
  position: relative;
  &::before {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    border: 2px solid $color-yellow;
  }

  .okeReviews
    .okeReviews-starRating--small
    .okeReviews-starRating-indicator-layer {
    background-size: 116px 14px !important;
  }
  .product-wrapper {
    display: block;
    height: 100%;

    border: solid 1px rgba(255, 200, 43, 0.36);
    background-image: linear-gradient(to bottom, #fff8e3, #fff8e1);
    padding: 18px 18px 35px;
    @include MQ(MQ-768) {
      padding: 16px 16px 28px;
    }
    &::before,
    &::after {
      display: none;
    }
    z-index: 2;
    position: relative;
    overflow: hidden;
    .image-section {
      img {
        &:last-child:not(:only-child) {
          transform: translateY(calc(-1 * calc(100% + 18px)));
          transform-origin: top;
          height: calc(100% + 18px);
          width: calc(100% + 36px);
          left: -18px;
          top: -18px;
          opacity: 1;
          z-index: 4;
          position: absolute;
          transition: transform 0.4s ease;
        }
      }
    }
    &:hover {
      .image-section {
        img {
          &:first-child:not(:only-child) {
            opacity: 0;
          }
          &:last-child:not(:only-child) {
            transform: translateY(0);
          }
        }
      }
      .product-card__price,
      .link--primary {
        opacity: 1;
      }
      h3 {
        color: $color-dark-gray;
        a {
          text-decoration: underline !important;
        }
      }
    }
  }
  &:nth-child(4n + 2) {
    &::before {
      border: 2px solid $color-orange;
    }
  }
  &:nth-child(4n + 3) {
    &::before {
      border: 2px solid $color-green;
    }
  }
  &:nth-child(4n) {
    &::before {
      border: 2px solid $color-pink;
    }
  }
  .image-section {
    position: relative !important;
    height: 277px;
    width: 100%;
    a {
      width: 100%;
      height: 100%;
    }
    @include MQ(MQ-480) {
      height: 266px;
    }
    img {
      @include img-object-cover;
      visibility: visible !important;
      // display: none;
      transition: 0.6s ease all;
      opacity: 0;
      height: 0;
      &:first-child {
        opacity: 1;
        height: 100%;
        transition: opacity 0.4s ease;
      }
      &.cover {
        object-fit: cover;
      }
    }
    .product-card__tags-automatic-status {
      .tag {
        background: $color-black;
        padding: 8px 16px;
        color: $color-white !important;
        border-radius: 50px;
        &.sale {
          background: #e83436 !important;
        }
      }
    }
  }
  .content {
    * {
      color: $color-black;
    }
    padding: 30px 13px 0px;
    @include MQ(MQ-768) {
      padding: 26px 11px 0px;
    }
  }
  text-align: left;
  &__collection-title {
    a {
      font-weight: 600;
    }
  }
  &__tags-status {
    z-index: 2;
    position: absolute;
    left: 16px !important;
    top: 16px !important;
    .tag {
      display: inline-block;
      margin-right: 10px;
      background: $color-black !important;
      color: $color-white !important;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 0.09px;
      margin-right: 10px;
      text-align: center;
      text-transform: uppercase;
      padding: 8px 16px;
      border-radius: 50px;
      font-family: var(--font-family-primary);
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  &__price {
    display: flex;
    color: $color-black;
    display: flex !important;
    align-items: center;
.starting{
  font-weight: normal !important;
}
    span,
    s {
      font-weight: 700;
      font-size: 16px;
      font-family: var(--font-family-primary);
      line-height: normal;
      letter-spacing: normal;
      // text-transform: capitalize;
      text-align: center;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .btn--primary {
    margin-top: 20px;
    width: 100%;
    opacity: 1;
    @include MQ(MQ-1024) {
      opacity: 1;
    }
  }
  .sub-title {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: $color-dark-gray;
    letter-spacing: normal;
    font-style: italic;
  }
  &:hover {
    .btn--primary {
      margin-top: 20px;
      width: 100%;
      opacity: 1;
      @include MQ(MQ-768) {
        opacity: 1;
      }
    }
    .sub-title {
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      color: $color-dark-gray;
      letter-spacing: normal;
      font-style: italic;
    }
    &:hover {
      .btn--primary {
        opacity: 1;
      }
    }
  }
  .swym-button {
    z-index: 5;
    position: absolute;
    right: 20px;
    top: 20px;
    svg {
      display: none;
      &.icon-heart {
        display: block;
      }
      path {
        fill: $color-black !important;
        stroke: $color-black !important;
      }
    }
    &.disabled {
      opacity: 1 !important;
      svg {
        display: none;
        &.icon-heart-filled {
          display: block;
        }
      }
    }
  }
}

/*  recommended product */
.three-column-product-slider-v2.cart {
  .product-card {
    &:nth-child(4n + 1) {
      &::before {
        border: 2px solid $color-yellow;
      }
    }
    &:nth-child(4n + 2) {
      &::before {
        border: 2px solid $color-green;
      }
    }
    &:nth-child(4n + 3) {
      &::before {
        border: 2px solid $color-pink;
      }
    }
    &:nth-child(4n) {
      &::before {
        border: 2px solid $color-orange;
      }
    }
  }
}
/* pagination */

.pagination-wrapper {
  display: inline-block;
}

.pagination {
  //   margin: 36px 0 0px 0;
  //   padding: 16px 0 0;
  //   border-top: solid 2px $color-black;
  justify-content: space-between;
  //   @include MQ(MQ-480) {
  //     padding: 15px 0 0;
  //   }
  li {
    width: auto;
    height: auto;
  }
  .pagination-text {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    span {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin-right: 16px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      border: 1px solid $color-black;
      @include MQ(MQ-480) {
        width: 35px;
        height: 35px;
        margin-right: 14px;
      }
      &.current {
        background: #e0ffda;
      }
      &.more {
        border: none;
      }
    }
  }
  .prev,
  .next {
    border: none;
    width: 40px;
    height: 40px;
    border: 1px solid $color-black;
    background: url(left-arrow.svg) no-repeat center / 8px;
    // transform: rotate(-90deg);
    @include MQ(MQ-480) {
      width: 35px;
      height: 35px;
    }
    a {
      display: block;
      width: 40px;
      height: 40px;
    }
    .disabled {
      opacity: 0.5;
    }
  }
  .prev {
    margin-right: 16px;
    @include MQ(MQ-480) {
      margin-right: 14px;
    }
  }
  .next {
    margin-left: 0px;
    transform: rotate(180deg);
  }
}

/* Video Popup and Play Button */

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
}

.video-popup {
  border-radius: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: auto;
}

.play-button {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: url('{{"icon-play-white.png"|asset_url}}') no-repeat top center /
    100px;
  @include MQ(MQ-480) {
    height: 68px;
    width: 68px;
    background-size: 68px;
  }
}

.accordion-toggle,
.accordion-toggle-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon-minus {
    display: none !important;
  }
  &.active {
    .icon-minus {
      display: inline !important;
    }
    .icon-plus {
      display: none !important;
    }
  }
}

.social-sharing {
  ul {
    margin-left: 15px;
    li {
      margin-right: 15px;
      width: 20px;
      &:last-child {
        margin-right: 0;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

// Footer Form
.newsletter-form {
  .klaviyo-form,
  form {
    // margin: 20px 0 0;
    position: relative;
  }
  div {
    padding: 0 !important;
    min-height: auto !important;
    height: auto !important;
    justify-content: left !important;
    text-align: left !important;
  }
  form {
    &.active {
      padding-bottom: 60px;
    }
    .password-newsletter-already-register {
      position: absolute;
      bottom: 25px;
      font-size: 16px !important;
      display: none;
      &.active {
        display: block;
      }
    }
    p,
    span {
      color: $color-black !important;
      font-family: var(--font-family-primary) !important;
      font-size: 18px !important;
      text-align: left !important;
      font-weight: 600;
      line-height: 1.39;
      letter-spacing: 1px;
      display: block;
      width: 100%;
      // @include MQ(MQ-980) {
      //   text-align: center !important;
      // }
    }
    span[role="alert"] {
      color: rgb(208, 51, 31) !important;
    }
    span {
      margin-bottom: 0 !important;
    }
    input {
      border: 2px solid $color-black !important;
      background-color: transparent !important;
      padding: 0px !important;

      font-size: 14px !important;
      font-weight: 500 !important;
      font-stretch: normal !important;
      font-style: normal !important;
      line-height: 16px !important;
      letter-spacing: normal !important;
      color: $color-original-black !important;
      -webkit-appearance: none;

      font-family: var(--font-family-primary) !important;
      width: 100%;
      max-width: 100% !important;
      width: 100% !important;
      position: relative !important;
      max-width: 100% !important;
      padding: 15px 90px 15px 20px !important;
      border-radius: 40px !important;
      background: transparent !important;
      @include MQ(MQ-480) {
        padding: 17px 80px 17px 10px !important;
      }
      &:focus {
        box-shadow: none !important;
      }
      &::placeholder {
        font-family: var(--font-family-primary) !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 1.16 !important;
        letter-spacing: normal !important;
        color: $color-original-black !important;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
        -webkit-text-fill-color: $color-original-black;
        font-family: var(--font-family-primary) !important;
        font-size: 14px;
      }
      &:-webkit-autofill::first-line {
        font-family: var(--font-family-primary) !important;
        font-size: 14px;
      }
    }
    button,
    .btn-submit {
      border: none !important;
      border-radius: 30px !important;
      color: $color-black !important;
      font-size: 0 !important;
      font-family: var(--font-family-primary) !important;
      font-weight: bold !important;
      line-height: 16px !important;
      letter-spacing: 0.01px !important;
      text-align: center !important;
      position: absolute;
      right: 8.5px;
      width: 52px;
      height: 36px;
      background: white;
      top: 6px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      display: flex;

      padding: 0 !important;
      &:before {
        position: absolute;
        content: "";
        background: url("icon-mail.png") no-repeat center/22px;
        width: 22px;
        height: 22px;
      }
      &:hover,
      &:focus {
        background: $color-pink;
        &:before {
          filter: brightness(0) saturate(100%) invert(99%) sepia(100%)
            saturate(2%) hue-rotate(300deg) brightness(112%) contrast(101%);
        }
      }
      @include MQ(MQ-480) {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

/* Load More */

/* Boost Load More */

.js-boost-pfs-filter-btn-load-previous-page,
.boost-pfs-filter-load-more button {
  display: block !important;
  border-radius: 600px;
  border: solid 1px $color-black !important;
  padding: 8px 22px !important;
  width: fit-content;
  text-align: center;
  font-weight: 600;
  color: $color-black !important;
  font-size: 16px;
  text-transform: capitalize !important;
  line-height: 1.5;
  margin: 0 auto;
}

.boost-pfs-filter-load-more {
  padding: 0 !important;
  .boost-pfs-filter-load-more-total {
    display: none !important;
  }
}

/* Free Shipping */

.free-shipping {
  padding: 7px 0px 0;
  text-align: center;
  p {
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
    color: $color-black;
    margin-bottom: 12px;
    padding: 0;
    font-family: var(--font-family-primary);
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 28px;
    strong {
      margin: 0 3px;
      font-weight: 600;
      font-style: normal;
    }
  }
  &__progress-bar {
    position: relative;
    height: 4px;
    width: 100%;
    background-color: $color-black;
    border-radius: 4px;
    span {
      transition: width 2s;
      width: 0%;
      height: 4px;
      display: block;
      border-radius: 4px;
      background-color: $color-black;
    }
  }
}

.tab-content {
  display: none;
}

// swym-add-to-wishlist
.product-card .product-wrapper,
.product__media .pdp-slider {
  .swym-button.swym-add-to-wishlist {
    z-index: 2 !important;
    padding: 0 !important;
    width: 16.5px !important;
    height: 15.9px !important;
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
    svg {
      height: inherit;
      width: inherit;
      * {
        fill: $color-black;
      }
      &.icon-heart-filled {
        display: none;
      }
    }
    .swym-tooltip {
      display: none !important;
    }
    &:hover {
      opacity: 1 !important;
      svg {
        display: none;
        &.icon-heart-filled {
          display: block;
        }
      }
    }
    &.disabled.swym-added {
      opacity: 1 !important;
      svg {
        display: none;
        &.icon-heart-filled {
          display: block;
        }
      }
    }
  }
}

.swym-wishlist-page {
  .swym-simple-wishlist-container {
    * {
      font-family: var(--font-family-secondary) !important;
      color: $color-black !important;
    }
    .swym-wishlist-container-title-bar {
      .swym-wishlist-main-title {
        font-size: 30px !important;
        font-weight: bold !important;
        line-height: 1.5;
        letter-spacing: 0.23px !important;
        color: $color-dark-gray !important;
      }
      .swym-icon {
        .swym-user-text {
          font-weight: bold !important;
        }
      }
    }
    .swym-wishlist-context-menu-content {
      .swym-delete {
        .swym-icon {
          height: 18px;
        }
      }
    }
  }
}

.swym-modals-container {
  .swym-modal-content {
    * {
      font-family: var(--font-family-secondary) !important;
      color: $color-black !important;
      font-weight: bold !important;
    }
  }
}

.swym-ui-components .swym-bg-2,
.swym-ui-component .swym-bg-2 {
  color: $color-white !important;
}

.swym-ui-component .swym-wishlist-grid {
  max-width: 100% !important;
  .swym-wishlist-item {
    .swym-title {
      white-space: initial !important;
      overflow: visible !important;
      text-overflow: initial !important;
      line-height: 1.2;
      letter-spacing: 0.15px;
    }
    .swym-delete-btn {
      z-index: 2 !important;
    }
    .swym-add-to-cart-btn {
      padding: 12px 6px !important;
    }
  }
  .swym-wishlist-image-wrapper {
    position: relative;
    height: auto !important;
    min-height: 250px;
    img {
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.swym-ui-component {
  .swym-product-price {
    .swym-product-original-price {
      color: $color-dark-gray !important;
    }
  }
  .swym-action-bar {
    .swym-back-btn {
      font-weight: bold !important;
    }
  }
  .swym-wishlist-product-detail-content {
    padding: 0 0 25px !important;
  }
  .swym-wishlist-product-detail-container {
    padding: 0 !important;
  }
  .swym-wishlist-product-detail-content {
    .swym-action-button-container {
      margin: 0 !important;
      .swym-wishlist-add-to-cart-btn {
        margin: 20px 0 0 !important;
      }
    }
    .swym-wishlist-product-detail-image-container {
      .swym-image-thumbnails {
        .swym-image-thumb {
          margin: 0 0 10px;
          position: relative;
          img {
            margin: 0 !important;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: contain;
            padding: 3px 3.4px 4.4px 4px;
          }
        }
        .swym-image-thumb.swym-selected {
          border-radius: 5px;
          border: solid 2px #afafaf !important;
        }
      }
      .swym-image-full {
        .react-swipeable-view-container {
          div {
            height: 300px;
            position: relative;
            img {
              margin: 0 !important;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

.swym-button.swym-add-to-wishlist-view-product.swym-heart:after,
.swym-button.swym-add-to-wishlist-view-product.swym-heart.swym-added:after {
  display: none !important;
}

.swym-notifications-wishlist {
  .swym-details-container {
    * {
      font-family: var(--font-family-secondary) !important;
      color: $color-black !important;
      font-weight: bold !important;
      letter-spacing: 1;
    }
  }
}

.boost-pfs-filter-product-item-grid {
  .boost-pfs-filter-product-item-image {
    .boost-pfs-action-overlay {
      .swym-button.swym-add-to-wishlist-view-product {
        z-index: 2 !important;
        padding: 0 !important;
        width: 16.5px !important;
        height: 15.9px !important;
        position: absolute !important;
        right: 20px !important;
        top: 20px !important;
        display: block !important;
        svg {
          height: inherit;
          width: inherit;
          * {
            fill: $color-black;
          }
          &.icon-heart-filled {
            display: none;
          }
        }
        .swym-tooltip {
          display: none !important;
        }
        &:hover {
          opacity: 1 !important;
          &::after {
            color: $color-black !important;
          }
        }
        &.disabled.swym-added {
          opacity: 1 !important;
        }
      }
    }
  }
}
@media (hover: hover) and (pointer: fine) {
  .product-card .product-wrapper:hover {
    .btn--primary {
      opacity: 1;
    }
  }
}
// Code for background image and video of the section
.image-wrapper,
.video-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  iframe {
    @include iframe-bg();
  }
  iframe,
  video {
    min-height: 0;
    height: calc(100vh - 40px);
    // @include iframe-bg();
    // min-width: 150vw;
    // @include MQ(MQ-1024) {
    //   min-width: 180vw;
    // }
    // @include MQ(MQ-980) {
    //   // min-width: 250vw;
    //   min-height: 250vw;
    // }
    // @include MQ(MQ-480) {
    //   min-width: 350vw;
    //   min-height: 350vw;
    // }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 0%;
    pointer-events: none;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: 2;
  }
}
