/*
1. Reset
2. Elements
3. Headings
4. Buttons
5. Inner Page
6. Full Format
7. Containers
8. Extra classes for ease
    1. Text Alignment
    2. Text Transform
    3. Flex
    4. Position
    5. Float
    6. Hide and Show Blocks
    7. Alignments?
    8. Paddings
*/

/****** RESET ******/

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 500;
}

@media (min-width: 980px) {
  html {
    overflow-y: scroll !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  font: 500 100%/0.8 var(--font-family-primary) !important;
  color: $color-black;
  letter-spacing: normal;
  overflow-wrap: break-word;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  margin: 0;
  font-size: var(--para-desktop-fontsize);
  // overflow-x: hidden;
  overflow-x: clip;
  @include MQ(MQ-480) {
    font-size: var(--para-mobile-fontsize);
  }

  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.02px;
  background-color: $color-off-white-light;
}

:focus {
  outline: none;
}

::placeholder,
::-webkit-input-placeholder {
  opacity: 1 !important;
}

ul,
h1,
h2,
h3,
p,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  z-index: 1;
  position: relative;
  // background-color: $color-white;
  &::before {
    content: "";
    width: 100%;
    height: calc(100% + 10px);
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
  }
}

li {
  text-decoration: none;
  list-style: none;
}

/****** ELEMENTS ******/

::selection {
  background: $color-black;
  color: $color-white;
}

// para link
p {
  font-size: var(--para-desktop-fontsize);
  line-height: var(--para-desktop-lineheight);
  letter-spacing: var(--para-desktop-letterspacing);
  text-transform: var(--para-desktop-texttransform);
  font-weight: var(--para-desktop-fontweight);
  font-style: var(--para-desktop-fontstyle);

  @include MQ(MQ-480) {
    font-size: var(--para-mobile-fontsize);
    line-height: var(--para-mobile-lineheight);
    letter-spacing: var(--para-mobile-letterspacing);
  }
  a {
    // color: $color-black;
    color: $color-pink;
    text-decoration: none !important;
    font-weight: 400;
    position: relative;
  }

  &.medium {
    font-size: var(--para-medium-desktop-fontsize);
    line-height: var(--para-medium-desktop-lineheight);
    letter-spacing: var(--para-medium-desktop-letterspacing);
    text-transform: var(--para-medium-desktop-texttransform);
    font-weight: var(--par-amedium-desktop-fontweight);
    font-style: var(--para-medium-desktop-fontstyle);

    a {
      font-size: var(--para-medium-desktop-fontsize);
      line-height: var(--para-medium-desktop-lineheight);
      letter-spacing: var(--para-medium-desktop-letterspacing);
      text-transform: var(--para-medium-desktop-texttransform);
      font-weight: var(--par-amedium-desktop-fontweight);
      font-style: var(--para-medium-desktop-fontstyle);
    }
  }
  &.small {
    font-size: var(--para-small-desktop-fontsize);
    line-height: var(--para-small-desktop-lineheight);
    letter-spacing: var(--para-small-desktop-letterspacing);
    text-transform: var(--para-small-desktop-texttransform);
    font-weight: var(--para-small-desktop-fontweight);
    font-style: var(--para-small-desktop-fontstyle);

    a {
      font-size: var(--para-small-desktop-fontsize);
      line-height: var(--para-small-desktop-lineheight);
      letter-spacing: var(--para-small-desktop-letterspacing);
      text-transform: var(--para-small-desktop-texttransform);
      font-weight: var(--para-small-desktop-fontweight);
      font-style: var(--para-small-desktop-fontstyle);
    }
  }
  &.xsmall {
    font-size: var(--para-xsmall-desktop-fontsize);
    line-height: var(--para-xsmall-desktop-lineheight);
    letter-spacing: var(--para-xsmall-desktop-letterspacing);
    text-transform: var(--para-xsmall-desktop-texttransform);
    font-weight: var(--para-xsmall-desktop-fontweight);
    font-style: var(--para-xsmall-desktop-fontstyle);

    a {
      font-size: var(--para-xsmall-desktop-fontsize);
      line-height: var(--para-xsmall-desktop-lineheight);
      letter-spacing: var(--para-xsmall-desktop-letterspacing);
      text-transform: var(--para-xsmall-desktop-texttransform);
      font-weight: var(--para-xsmall-desktop-fontweight);
      font-style: var(--para-xsmall-desktop-fontstyle);
    }
  }
}

// Heading links
h2,
h3,
h4,
h5,
h6,
ul li,
ol li {
  a {
    color: $color-black;
    text-decoration: none !important;
    font-weight: 700;
    position: relative;
    display: inline-block;
    /* &:after {
            position: absolute;
            content: "";
            bottom: 0;
            width: 0%;
            height: 2px;
            background: $color-black;
            transition: all 0.8s ease;
            left: 0;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }*/
  }
}

b,
strong {
  font-weight: bold;
  font-family: var(--font-family-primary);
}

a {
  font-family: var(--font-family-primary);
  color: $color-black;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.56;
}

/****** HEADINGS ******/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-family-secondary);
  color: $color-black;
  font-weight: bold;
  line-height: normal;
  text-transform: capitalize;
}

h1,
.h1 {
  font-size: var(--h1-desktop-fontsize);
  line-height: var(--h1-desktop-lineheight);
  letter-spacing: var(--h1-desktop-letterspacing);
  text-transform: var(--h1-desktop-texttransform);
  font-weight: var(--h1-desktop-fontweight);
  font-style: var(--h1-desktop-fontstyle);

  @include MQ(MQ-480) {
    font-size: var(--h1-mobile-fontsize);
    line-height: var(--h1-mobile-lineheight);
    letter-spacing: var(--h1-mobile-letterspacing);
  }
}

.h1 {
  @include MQ(MQ-480) {
    font-size: 25px !important;

    span {
      font-size: 25px;
    }
  }
}

h2,
.h2 {
  font-size: var(--h2-desktop-fontsize);
  line-height: var(--h2-desktop-lineheight);
  letter-spacing: var(--h2-desktop-letterspacing);
  text-transform: var(--h2-desktop-texttransform);
  font-weight: var(--h2-desktop-fontweight);
  font-style: var(--h2-desktop-fontstyle);
  a {
    font-size: var(--h2-desktop-fontsize);
    line-height: var(--h2-desktop-lineheight);
    letter-spacing: var(--h2-desktop-letterspacing);
  }

  @include MQ(MQ-480) {
    font-size: var(--h2-mobile-fontsize);
    line-height: var(--h2-mobile-lineheight);
    letter-spacing: var(--h2-mobile-letterspacing);

    a {
      font-size: var(--h2-mobile-fontsize);
      line-height: var(--h2-mobile-lineheight);
      letter-spacing: var(--h2-mobile-letterspacing);
    }
  }
  &.medium {
    font-size: var(--h2-medium-desktop-fontsize);
    line-height: var(--h2-medium-desktop-lineheight);
    letter-spacing: var(--h2-medium-desktop-letterspacing);
    text-transform: var(--h2-medium-desktop-texttransform);
    font-weight: var(--h2-medium-desktop-fontweight);
    font-style: var(--h2-medium-desktop-fontstyle);
    a {
      font-size: var(--h2-medium-desktop-fontsize);
      line-height: var(--h2-medium-desktop-lineheight);
      letter-spacing: var(--h2-medium-desktop-letterspacing);
    }

    @include MQ(MQ-480) {
      font-size: var(--h2-medium-mobile-fontsize);
      line-height: var(--h2-medium-mobile-lineheight);
      letter-spacing: var(--h2-medium-mobile-letterspacing);

      a {
        font-size: var(--h2-medium-mobile-fontsize);
        line-height: var(--h2-medium-mobile-lineheight);
        letter-spacing: var(--h2-medium-mobile-letterspacing);
      }
    }
  }
  &.small {
    font-size: var(--h2-small-desktop-fontsize);
    line-height: var(--h2-small-desktop-lineheight);
    letter-spacing: var(--h2-small-desktop-letterspacing);
    text-transform: var(--h2-small-desktop-texttransform);
    font-weight: var(--h2-small-desktop-fontweight);
    font-style: var(--h2-small-desktop-fontstyle);
    a {
      font-size: var(--h2-small-desktop-fontsize);
      line-height: var(--h2-small-desktop-lineheight);
      letter-spacing: var(--h2-small-desktop-letterspacing);
    }

    @include MQ(MQ-480) {
      font-size: var(--h2-small-mobile-fontsize);
      line-height: var(--h2-small-mobile-lineheight);
      letter-spacing: var(--h2-small-mobile-letterspacing);

      a {
        font-size: var(--h2-small-mobile-fontsize);
        line-height: var(--h2-small-mobile-lineheight);
        letter-spacing: var(--h2-small-mobile-letterspacing);
      }
    }
  }
}

h3,
.h3 {
  font-size: var(--h3-desktop-fontsize);
  line-height: var(--h3-desktop-lineheight);
  letter-spacing: var(--h3-desktop-letterspacing);
  text-transform: var(--h3-desktop-texttransform);
  font-weight: var(--h3-desktop-fontweight);
  font-style: var(--h3-desktop-fontstyle);
  a {
    font-size: var(--h3-desktop-fontsize);
    line-height: var(--h3-desktop-lineheight);
    letter-spacing: var(--h3-desktop-letterspacing);
  }
  @include MQ(MQ-480) {
    font-size: var(--h3-mobile-fontsize);
    line-height: var(--h3-mobile-lineheight);
    letter-spacing: var(--h3-mobile-letterspacing);
    a {
      font-size: var(--h3-mobile-fontsize);
      line-height: var(--h3-mobile-lineheight);
      letter-spacing: var(--h3-mobile-letterspacing);
    }
  }
}

h4,
.h4 {
  font-size: var(--h4-desktop-fontsize);
  line-height: var(--h4-desktop-lineheight);
  letter-spacing: var(--h4-desktop-letterspacing);
  text-transform: var(--h4-desktop-texttransform);
  font-weight: var(--h4-desktop-fontweight);
  font-style: var(--h4-desktop-fontstyle);
  a {
    font-size: var(--h4-desktop-fontsize);
    line-height: var(--h4-desktop-lineheight);
    letter-spacing: var(--h4-desktop-letterspacing);
  }
  @include MQ(MQ-480) {
    font-size: var(--h4-mobile-fontsize);
    line-height: var(--h4-mobile-lineheight);
    letter-spacing: var(--h4-mobile-letterspacing);
    a {
      font-size: var(--h4-mobile-fontsize);
      line-height: var(--h4-mobile-lineheight);
      letter-spacing: var(--h4-mobile-letterspacing);
    }
  }
}

h5,
.h5 {
  font-size: var(--h5-desktop-fontsize);
  line-height: var(--h5-desktop-lineheight);
  letter-spacing: var(--h5-desktop-letterspacing);
  text-transform: var(--h5-desktop-texttransform);
  font-weight: var(--h5-desktop-fontweight);
  font-style: var(--h5-desktop-fontstyle);
  a {
    font-size: var(--h5-desktop-fontsize);
    line-height: var(--h5-desktop-lineheight);
    letter-spacing: var(--h5-desktop-letterspacing);
  }
  @include MQ(MQ-480) {
    font-size: var(--h5-mobile-fontsize);
    line-height: var(--h5-mobile-lineheight);
    letter-spacing: var(--h5-mobile-letterspacing);
    a {
      font-size: var(--h5-mobile-fontsize);
      line-height: var(--h5-mobile-lineheight);
      letter-spacing: var(--h5-mobile-letterspacing);
    }
  }
}

h6,
.h6 {
  font-size: var(--h6-desktop-fontsize);
  line-height: var(--h6-desktop-lineheight);
  letter-spacing: var(--h6-desktop-letterspacing);
  text-transform: var(--h6-desktop-texttransform);
  font-weight: var(--h6-desktop-fontweight);
  font-style: var(--h6-desktop-fontstyle);
  a {
    font-size: var(--h6-desktop-fontsize);
    line-height: var(--h6-desktop-lineheight);
    letter-spacing: var(--h6-desktop-letterspacing);
  }
  @include MQ(MQ-480) {
    font-size: var(--h6-mobile-fontsize);
    line-height: var(--h6-mobile-lineheight);
    letter-spacing: var(--h6-mobile-letterspacing);
    a {
      font-size: var(--h6-mobile-fontsize);
      line-height: var(--h6-mobile-lineheight);
      letter-spacing: var(--h6-mobile-letterspacing);
    }
  }
}
/****** Main Wave Class ******/

.main-page-wave {
  position: relative;
  &:after {
    width: 82px;
    height: 81px;
    content: "";
    position: absolute;
    left: 37%;
    z-index: 10;
    top: -111px;
    background: url(ufo.webp) no-repeat center / 100%;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-480) {
      display: none;
    }
  }
  &:before {
    background: url(yellow-wave.webp) repeat-x top / 100%;
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -125px;
    content: "";
    background-size: contain;
    z-index: 2;
    filter: brightness(0) saturate(100%) invert(100%) sepia(56%) saturate(587%)
      hue-rotate(316deg) brightness(105%) contrast(114%);
    @include MQ(MQ-1440) {
      height: 114px;
      top: -97px;
      background-size: cover;
    }
    @include MQ(MQ-768) {
      height: 80px;
      top: -86px;
      background-size: cover;
      background-position-x: right;
    }
  }
}
/****** BUTTONS ******/

button {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 0;

  &:focus {
    outline: none;
  }
}
//assets/icon-arrow-brown.svg assets/icon-arrow-white.svg
.btn--primary {
  @include px-button;
  transition: 0.6s ease all;
  position: relative;
  background: url("btn-pink.svg") no-repeat center / 100%;
  border: 0 !important;
  &:before {
    background: url("icon-arrow-white.svg") no-repeat center / 100%;
    width: 21px;
    height: 24px;
    top: calc(50% - 12px);
    content: "";
    position: absolute;
    right: 35px;
  }

  &:hover {
    &:after {
      display: none;
    }

    // background-color: $color-black;
    transition: 0.6s ease all;
  }
}
.btn--primary.yellow {
  background: url("btn-yellow.svg") no-repeat center / 100%;
  color: $color-black !important;
  &:before {
    background: url("icon-arrow-brown.png") no-repeat center / 100%;
  }
}
.btn--primary.green {
  background: url("btn-green.svg") no-repeat center / 100%;
}
.btn--primary.orange {
  background: url("Isolation_mode-orange.webp") no-repeat center / 100%;
}

.btn--primary:hover {
  background: url("btn-orange.svg") no-repeat center / 100% !important;
}

.btn--secondary {
  @include px-button;
  border-color: rgba(var(--color-button-text), 1);
  color: rgba(var(--color-button), 1);
  background: rgba(var(--color-button-text), 1);
  transition: 0.6s ease all;

  &:hover {
    // background: $color-white;
    color: var(--color-button-text);
    transition: 0.6s ease all;
    box-shadow: inset 0 -3.25em 0 0 var(--color-button);
  }

  &:before,
  &:after {
    display: none;
  }
}
.btn--tertiary {
  color: $color-black;
  border: 1px solid $color-black;
  padding: 13px 20px 12px 20px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
}
.btn--tertiary {
  @include px-button;
  transition: 0.6s ease all;
  background-color: transparent;
  color: $color-black;
  color: var(--color-secondary-button-text);
  border: var(--buttons-border-width) solid var(--color-secondary-button);

  &:before {
    display: none;
  }

  &:hover {
    &::before,
    &:after {
      display: none;
    }

    color: $color-white !important;
    // background-color: $color-black;
    transition: 0.6s ease all;
    box-shadow: inset 0 3.5em 0 0 $color-black;
  }
}
.btn-fourth {
  @include px-button;
  position: relative;
  &:hover:after {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &:hover {
    background: #141201a5;
    border: 1px solid #141201a5;
    span {
      transform: translateY(-200%);
      opacity: 0;
    }
  }
  span {
    transition: all 0.25s;
  }
  &::after {
    content: attr(data-button-text);
    transition: all 0.25s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 50%;
    top: 150%;
    transform: translate(-50%);
    opacity: 0;

    z-index: -4;
  }
}

/****** LINKS ******/

.link--primary {
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 2px;
  min-height: 20px;
  text-align: left;
  max-width: fit-content;
  color: $color-black;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  background: url("icon-right-arrow.webp") no-repeat right center/ 13.5px;
  padding-right: 21.5px;
  transition: 0.3s ease;

  &:hover {
    color: $color-orange;
    background-image: url("icon-right-arrow-orange.webp");
  }
}
.mac-os .link--primary {
  padding-top: 4px;
}

.link--secondary {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration: underline !important;
  display: inline-block;
}

.pre-title {
  font-size: var(--pretitle-desktop-fontsize);
  font-weight: var(--pretitle-desktop-fontweight);
  line-height: var(--pretitle-desktop-lineheight);
  letter-spacing: var(--pretitle-desktop-letterspacing);
  text-transform: var(--pretitle-desktop-texttransform);
  font-style: var(--pretitle-desktop-fontstyle);
  font-family: var(--font-family-pretitle);
  display: block;
  @include MQ(MQ-480) {
    font-size: var(--pretitle-mobile-fontsize);
    line-height: var(--pretitle-mobile-lineheight);
    letter-spacing: var(--pretitle-mobile-letterspacing);
  }

  &.blue {
    color: $color-black !important;
  }
}

/* INNER PAGE WITH H1 */

.inner-page {
  padding: 40px 0px 80px;

  @include MQ(MQ-480) {
    padding: 20px 0px;
  }

  h1 {
    padding-bottom: 45px;

    @include MQ(MQ-480) {
      padding-bottom: 30px;
    }
  }
}

/* FULL FORMAT */

.full-format,
.shopify-policy__body {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02px;

  h2,
  h3,
  h5,
  h6,
  h1 {
    padding-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
    }
    + hr {
      margin-top: 3px;
    }
  }
  h3,
  .h3 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 0.6px;
    text-align: left;
    @include MQ(MQ-480) {
      font-size: 20px;
      line-height: 1.3;
      letter-spacing: 0.4px;
    }
  }
  h4,
  .h4 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
    @include MQ(MQ-480) {
      font-size: 16px;
      line-height: 1.2;
      letter-spacing: 0.36px;
    }
  }
  h5,
  .h5 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.39;
    letter-spacing: 1px;
    text-align: left;
    @include MQ(MQ-480) {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.56;
      letter-spacing: 1px;
    }
  }
  h6,
  .h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: left;
    font-family: var(--font-family-primary);
    text-transform: none;
    padding-bottom: 10px;
  }
  &.small {
    h2 {
      font-size: 20px;

      a {
        font-size: 20px;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.57;

      a {
        font-size: 14px;
      }
    }

    h3,
    h4,
    h5,
    h6 {
      font-size: 18px;

      a {
        font-size: 18px;
      }
    }
  }

  p {
    padding-bottom: 25px;
    @include MQ(MQ-768) {
      padding-bottom: 20px;
    }

    &:last-child {
      padding-bottom: 0 !important;
    }

    a {
      text-decoration: underline !important;
      width: fit-content;

      &:hover {
        text-decoration: none !important;
      }

      &::after,
      &:before {
        display: none;
      }
    }
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    // max-height: 500px;
    margin-bottom: 50px;
    margin-top: 30px;
    // overflow: hidden;
    border-radius: 10px;

    @include MQ(MQ-768) {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }

  strong,
  b {
    font-weight: bold;
  }

  p.caption {
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    opacity: 0.5;
    width: 100%;
    padding-top: 10px !important;
    padding: 0;

    &.center {
      text-align: center;
    }
  }

  .alignleft,
  .alignright {
    float: left;
    margin-top: 20px !important;
    margin-right: 60px;

    img {
      max-width: 100%;
    }

    @include MQ(MQ-980) {
      margin-bottom: 0px !important;
    }

    &:last-child {
      @include MQ(MQ-980) {
        margin-bottom: 10px !important;
      }
    }
  }

  .alignright {
    margin-left: 60px;
    margin-right: 0;
  }

  .aligncenter {
    margin: 0 auto;
    max-width: 100%;
    margin-top: 20px !important;

    // margin-bottom: 37px !important;
    @include MQ(MQ-980) {
      margin-bottom: 0px !important;
    }

    &:last-child {
      margin-bottom: 0px !important;

      @include MQ(MQ-980) {
        margin-bottom: 10px !important;
      }
    }
  }

  .wp-caption-text {
    font-size: 14px !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    line-height: 1.57;
    text-align: left;
    color: #1f1b01;
    margin-top: 11px !important;
    display: inline-block;
  }

  .video-wrapper {
    text-align: center;
    // padding-top: 20px;
    margin-bottom: 50px;

    // &:last-child {
    //   margin-bottom: 0;
    // }
    @include MQ(MQ-768) {
      margin-bottom: 20px;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  iframe {
    width: 100%;
    // max-width: 1000px;
    height: 534px;
    margin: 0 auto;

    @include MQ(MQ-768) {
      height: 48vw;
      max-height: 534px;
    }
  }

  a {
    text-decoration: underline;
    color: $color-black;
  }

  a.btn--primary {
    text-decoration: none;
    color: $color-white;
  }

  @include MQ(MQ-980) {
    .alignleft,
    .alignright {
      img {
        padding: 0;
      }
    }
  }

  hr {
    border-bottom: 1px solid $color-black;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 1px;
    background: $color-black;

    @include MQ(MQ-980) {
      .alignleft,
      .alignright,
      .alignleft img,
      .alignright img,
      .aligncenter {
        float: none;
        margin: 0;
        width: 100% !important;
        display: block;
        height: auto;
        max-width: 100%;
      }
    }
  }

  ol,
  ul {
    // padding-left: 30px;
    // margin: 0 0 24px;
    padding-bottom: 40px;
    margin-top: 0;
    @include MQ(MQ-768) {
      padding-bottom: 35px;
    }

    &:last-child {
      margin-bottom: 0;
      // padding-bottom: 0;
    }

    li {
      font-size: 16px;
      line-height: 1.56;
      letter-spacing: 0.32px;
      margin-bottom: 5px;
      font-weight: 400;
      @include MQ(MQ-480) {
        font-size: 14px;
        line-height: 1.57;
        letter-spacing: normal;
      }
    }
  }

  iframe {
    width: 100%;
    // max-width: 1000px;
    height: 534px;
    margin: 0 auto;

    @include MQ(MQ-768) {
      height: 40vw;
    }
  }

  a {
    text-decoration: underline;
    // color: $color-black;
    color: $color-pink;
    &:hover,
    &:focus {
      color: $color-orange !important;
    }
  }

  a.btn--primary {
    text-decoration: none;
    color: $color-white;
  }

  blockquote {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.32px;
    text-align: left;
    text-transform: none;
    margin: 0;
    position: relative;
    margin-bottom: 50px;
    background: #fff8e3;
    padding: 28px 47px 30px 71px;
    border-left: 6px solid $color-yellow;
    font-family: var(--font-family-primary);
    &:before {
      position: absolute;
      content: "";
      background: url(icon-blockquote.png) no-repeat center / 30px;
      width: 30px;
      height: 30px;
      top: 31px;
      left: 22px;
      @include MQ(MQ-768) {
        position: absolute;
        content: "";
        background: url(icon-blockquote.png) no-repeat center / 20px;
        width: 20px;
        height: 20px;
        top: 25px;
        left: 12px;
      }
    }
    @include MQ(MQ-768) {
      padding: 20px 20px 20px 45px;
      margin-bottom: 35px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75;
      letter-spacing: 0.32px;
      text-align: left;
      text-transform: none;
      font-family: var(--font-family-primary);
    }

    @include MQ(MQ-480) {
      font-size: 14px;
      line-height: 1.57;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid $color-orange;
    margin-top: 11px;
    margin-bottom: 16px;
    height: 1px;
    background: $color-orange;
  }

  ul {
    padding-left: 0px;

    li {
      list-style: none;
      padding-left: 27px;
      position: relative;

      &::before {
        width: 17px;
        height: 17px;
        content: "";
        background: $color-black;
        position: absolute;
        left: 0px;
        top: 3px;
        border-radius: 50%;
        background: url(list-bullets.svg) no-repeat center/17px;
      }
    }
  }

  ol {
    padding-left: 17px;
    margin-bottom: 0 !important;
    li {
      padding-left: 0px !important;
      list-style-type: decimal !important;
    }
  }
  table {
    border: 1px solid $color-orange;
    min-width: 600px;
    border-collapse: collapse;
    margin-bottom: 20px !important;
    th {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 1px solid $color-orange;
      padding: 9px 15px;
      text-align: left;
    }
    td {
      border-bottom: 1px solid $color-orange;
      padding: 9px 15px;
    }
  }
}

/****** CONTAINERS ******/

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;

  @include MQ(MQ-768) {
    width: 100%;
  }
}

.container-1440 {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container-1400 {
  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container-1306 {
  max-width: 1300px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.container-1260 {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container-540 {
  max-width: 540px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container-670 {
  max-width: 670px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container-530 {
  max-width: 530px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container-970 {
  max-width: 970px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.container-900 {
  max-width: 900px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.container-840 {
  max-width: 840px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
.container-944 {
  max-width: 944px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0px;
}

/* BELOW SECTION IS NEVER CHANGED */

/****** TEXT ALIGNMENT ******/

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }
}

.capitalize {
  text-transform: capitalize !important;
}

/****** FLEX ******/

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.flex-align-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.flex-direction-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-justify-column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/****** OTHER EXTRA CLASSES ******/

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.clear {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-auto {
  margin: 0 auto;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.opacity-zero {
  opacity: 0;
}

/****** DISPLAYS ******/

/****** HIDE AND SHOW BLOCKS ******/

.hide {
  display: none !important;
}

.ipad-block {
  display: none;

  @include MQ(MQ-768) {
    display: block !important;
  }
}

.ipad-none {
  display: block;

  @include MQ(MQ-768) {
    display: none !important;
  }
}

.mobile-block {
  display: none;

  @include MQ(MQ-600) {
    display: block !important;
  }
}

.mobile-none {
  display: block;

  @include MQ(MQ-600) {
    display: none !important;
  }
}

.block-980 {
  display: none !important;

  @include MQ(MQ-980) {
    display: block !important;
  }
}

.none-980 {
  display: block;

  @include MQ(MQ-980) {
    display: none !important;
  }
}
.displayBlock {
  display: block;
}
/* Important USED ON PDP */

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.visually-hidden--inline {
  margin: 0;
  height: 1em;
}

.js-focus-hidden:focus {
  outline: none;
}

.no-js:not(html) {
  display: none;
}

.no-js .no-js:not(html) {
  display: block;
}

.no-js .js {
  display: none;
}

.visible {
  display: block;
}

/****** ALIGNMENTS ******/

.d-inline-block {
  display: inline-block;
}

.center-align {
  margin: 0 auto;
  text-align: center;

  * {
    text-align: center !important;
    margin: 0 auto;
    // margin-left: auto !important;
    // margin-right: auto !important;
  }
}

.left-align {
  margin: 0;
  margin-right: auto;
  text-align: left;
}

.right-align {
  margin: 0;
  margin-left: auto;
  text-align: right;

  * {
    margin-left: auto !important;
    // text-align: right !important;
  }
}

/****** PADDINGS ******/

.m-t-15 {
  margin-top: 15px !important;
}

// General padding classes
.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-24 {
  padding: 24px;
}

.padding-32 {
  padding-bottom: 32px;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-48 {
  padding: 48px;
}

.padding-56 {
  padding: 56px;
}

.padding-80 {
  padding: 80px;
}

/* Product */

.price {
  display: flex;
}

.price--unavailable {
  visibility: hidden;
}

.price--compare-price-hidden .price__compare {
  display: none;
}

.price__pricing-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price__regular {
  display: block;
}

.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price__availability {
  display: none;
}

.price--sold-out .price__availability {
  display: block;
}

.price__sale {
  display: none;
}

.price--on-sale .price__sale {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.price__unit {
  display: none;
}

.price--unit-available .price__unit {
  display: block;
}

.price__badge {
  display: none;
}

.price--on-sale .price__badge--sale {
  display: flex;
}

.price--sold-out .price__badge--sale {
  display: none;
}

.price--sold-out .price__badge--sold-out {
  display: flex;
}

// Top-Bottom Graphic

.bottom-graphic-white,
.top-graphic,
.bottom-graphic {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.color-grey {
  color: $color-black;
}

.w-250 {
  @include MQ(MQ-480) {
    max-width: 350px;
    width: 100%;
    margin: auto;
    // text-align: center;
  }
}

.bg-white {
  background-color: $color-white;
}
.okeReviews.okeReviews--theme
  .okeReviews-starRating-indicator-layer--foreground {
  filter: brightness(0) saturate(100%) invert(49%) sepia(16%) saturate(1188%)
    hue-rotate(174deg) brightness(86%) contrast(94%);
}
// .okeReviews
//   .okeReviews-starRating--small
//   .okeReviews-starRating-indicator-layer {
//   background-size: 102px 16px !important;
// }
body.boost-sd__search-opening {
  overflow: initial !important;
}
@media print {
  footer,
  header,
  .related-posts,
  .z-intl #zonos,
  .fomo-notification-position-bottom-right,
  .announcement-bar,
  .social-sharing-link,
  .tag,
  .article-pagination,
  .date-category-section span {
    display: none !important;
  }
}

// Animations
@keyframes flow {
  50% {
    transform: translateY(15px);
  }
}
@keyframes rotate {
  50% {
    transform: rotate(30deg);
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes starRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wstarRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes kites {
  0% {
    transform: translate(15px, 15px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  100% {
    transform: translate(30px, 15px);
  }
}
@keyframes fly {
  0% {
    bottom: 8px;
  }

  50% {
    bottom: 80px;
  }
  100% {
    bottom: 8px;
  }
}
@keyframes animateCloud {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-40px);
  }
}
