/* Fonts */

/* Fonts */

//var(--font-family-primary): "Poppins", sans-serif;
//var(--font-family-secondary): "Prata", serif;
@font-face {
  font-family: "ReallyBetter";
  src: url("ReallyBetter.otf") format("opentype");
}

/* Colors */

$color-original-black: #000000;
$color-black: #3b2900;
$color-black2: #333333;
$color-white: #ffffff;
$color-off-white: #fff8e3;
$color-off-white-light: #fffcf3;

$color-orange: #ff6520;
$color-yellow: #ffc82b;
$color-yellow2: #ffcc39;
$color-yellow3: #f2b70d;
$color-light-yellow: #fbe195;

$color-pink: #d51f91;
$color-green: #5fbf50;
$color-sky-blue: #dcf7ff;
$color-red: red;
$color-dark-gray: #787978;
$color-border-dark-gray: #afafaf;
$color-border-light: rgba(255, 255, 255, 0.2);
$color-border: #d9d9d9;
$color-border-grey: #e7d9cb;
$color-brown: #b54918;
$color-pale-peach: #ffe7a3;
$color-purple: #9747ff;

/* Font sizes*/
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
