/* Fonts */

/* Fonts */

//var(--font-family-primary): "Poppins", sans-serif;
//var(--font-family-secondary): "Prata", serif;

/* Colors */

$color-original-black: #000000;
$color-black: #1a1b1b;
$color-white: #ffffff;
$color-off-white: #faf8f6;
$color-light-blue: #6b86ab;
$color-blue: #FF6B00;
$color-dark-blue: #0b2544;
$color-navy: #1a344a;
$color-sky-blue: #99b8d4;
$color-red: red;
$color-dark-gray: #787978;
$color-border-dark-gray: #afafaf;
$color-border-light: rgba(255, 255, 255, 0.2);
$color-border: #d9d9d9;
$color-border-grey: #e7d9cb;
$color-light-sky-blue: #e2eaf5;
$color-sky-blue-2: #cad9eb;
$color-darkblue2: #1a1f29;

/* Font sizes*/
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
