/* Fonts */

/* Fonts */

//var(--font-family-primary): "Poppins", sans-serif;
//var(--font-family-secondary): "Prata", serif;
@font-face {
  font-family: "ReallyBetter";
  font-display: swap;
  src: url("ReallyBetter.otf") format("opentype");
}

@font-face {
  font-family: "Luckiest Guy";
  font-display: swap;
  src: url("LuckiestGuy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Over the Rainbow";
  font-display: swap;
  src: url("OvertheRainbow-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
   font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
   font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
   font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
   font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
   font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black.ttf") format("truetype");
  font-weight: 900;
   font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
   font-display: swap;
  font-style: italic;
}
/* Colors */

$color-original-black: #000000;
$color-black: #3b2900;
$color-black2: #333333;
$color-white: #ffffff;
$color-off-white: #fff8e3;
$color-off-white-light: #fffcf3;

$color-orange: #ff6520;
$color-yellow: #ffc82b;
$color-yellow2: #ffcc39;
$color-yellow3: #f2b70d;
$color-light-yellow: #fbe195;

$color-pink: #d51f91;
$color-green: #5fbf50;
$color-sky-blue: #dcf7ff;
$color-red: red;
$color-dark-gray: #787978;
$color-border-dark-gray: #afafaf;
$color-border-light: rgba(255, 255, 255, 0.2);
$color-border: #d9d9d9;
$color-border-grey: #e7d9cb;
$color-brown: #b54918;
$color-pale-peach: #ffe7a3;
$color-purple: #9747ff;

/* Font sizes*/
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;
