// .inner-blog-hero-banner {
//   background-color: $color-white;
//   padding: 74px 0 8px;
//   @include MQ(MQ-768) {
//     padding-top: 40px;
//     text-align: center;
//     padding-bottom: 38px;
//   }
//   .container-1246 {
//     max-width: 1246px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 20px;
//     @include MQ(MQ-768) {
//       padding: 0 40px;
//     }
//   }
//   .description {
//     margin-top: 20px;
//     max-width: 957px;
//     width: 100%;
//   }
// }
.blog-section {
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
  // overflow-x: hidden;
  overflow-x: clip;
  // padding-bottom: 240px;
  @include MQ(MQ-980) {
    padding-top: 20px;
  }
  @include MQ(MQ-768) {
    padding-bottom: 150px;
  }
  // @include MQ(MQ-768) {
  //   padding-bottom: 160px;
  // }
  &:before {
    background: url(cream-wave.svg) repeat-x center / 100%;
    // height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    // top: -120px;
    content: "";
    // background-size: contain;
    z-index: 2;
    height: 214px;
    top: -158px;
    // filter: brightness(0) saturate(100%) invert(100%) sepia(56%) saturate(587%)
    // hue-rotate(316deg) brightness(105%) contrast(114%);
    // @include MQ(MQ-1440) {
    //   height: 114px;
    //   top: -95px;
    //   background-size: cover;
    // }
    // @include MQ(MQ-768) {
    //   height: 75px;
    //   top: -60px;
    //   background-size: cover;
    // }
    @include MQ(MQ-1330) {
      top: -145px;
    }
    @include MQ(MQ-980) {
      height: 155px;
      top: -100px;
    }
    @include MQ(MQ-768) {
      height: 65px;
      top: -55px;
      background-size: cover;
      background-position: left;
    }
  }
  &:after {
    width: 82px;
    height: 81px;
    content: "";
    position: absolute;
    left: 37%;
    z-index: 10;
    top: -110px;
    background: url(ufo.webp) no-repeat center / 100%;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-480) {
      width: 62px;
      height: 61px;
      top: -65px;
      left: 47%;
    }
  }
  .pagination-section {
    margin-top: 20px;
    .container-1240 {
      display: flex;
      justify-content: center;
    }
  }
}
.blog-category-dropdown {
  .dropdown {
    // margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .category-accordion {
    padding-top: 45px;
    // align-items: center;
    display: flex !important;
    @include MQ(MQ-768) {
      display: none !important;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.11px;
      text-align: left;
      text-transform: uppercase;
      display: inline-block;
    }
    ul.accordion {
      margin-left: -20px;
      width: calc(100% + 20px);
      margin-bottom: 23px;
      // padding-right: 40px;
      li {
        padding-left: 20px;
        margin-bottom: 25px;
        &:hover,
        &.current {
          a {
            background: $color-pale-peach;
          }
        }
        a {
          font-size: 14px;
          font-weight: 700;
          line-height: 1.315;
          letter-spacing: 1px;
          text-align: center;
          color: $color-black;
          padding: 12px 20px;
          border: solid 1px $color-black;
          background: $color-white;
          text-transform: uppercase;
          // margin-left: 15px;
        }
        &.rem {
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }
    ul.toggle-button {
      width: 73px;
      height: 33px;
      position: relative;
      top: -2px;
      // padding-left: 40px;
      .togglebtn {
        width: 33px;
        height: 33px;
        padding-left: 0;
        h3 {
          font-size: 0;
          width: 30px;
          height: 30px;
          cursor: pointer;
          position: relative;
          &:after {
            position: absolute;
            content: "";
            width: 30px;
            height: 30px;
            left: 0;
            top: 0;

            transition: 0.3 all ease;
          }
        }
        &.active {
          h3 {
            &:after {
              transform: rotate(45deg);
              transition: 0.3 all ease;
              left: -2px;
              top: -1px;
            }
          }
        }
      }
    }
  }
  @include MQ(MQ-768) {
    margin-bottom: 37px;
  }
}
.blog_wrapper {
  padding-top: 46.75px;
  @include MQ(MQ-980) {
    padding-top: 0px;
  }
  @include MQ(MQ-768) {
    padding-top: 22px;
  }

  .heading {
    padding-bottom: 13px;
    border-bottom: 2px solid #afafaf;
    .h5 {
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $color-black;
    }
  }
  .blog-list-view {
    margin-left: -44px;
    width: calc(100% + 44px);
    justify-content: center;

    li {
      display: flex;
      padding-left: 44px;
      width: 33.33%;
      margin-bottom: 37px;
      .article-card {
        &:before {
          top: -12px;
          width: 100%;
        }
      }
      &:nth-child(5n + 1) {
        .article-card::before {
          border: 2px solid $color-green !important;
        }
      }
      &:nth-child(5n + 2) {
        .article-card::before {
          border: 2px solid $color-pink;
        }
      }
      &:nth-child(5n + 3) {
        .article-card:before {
          border: 2px solid $color-orange;
        }
      }
      &:nth-child(5n + 4) {
        .article-card:before {
          border: 2px solid $color-yellow;
        }
      }
      &:nth-child(5n) {
        .article-card::before {
          border: 2px solid $color-purple;
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
      @include MQ(MQ-980) {
        width: 50%;
        .article-card {
          max-width: 100%;
          &:before {
            max-width: 100%;
          }
          .image-section {
            height: 32vw;
          }
        }
      }
      @include MQ(MQ-600) {
        width: 100%;
        max-width: 400px;
        .article-card {
          margin: 0 auto;
          .image-section {
            height: 70vw;
            max-height: 250px;
          }
        }
      }
    }
  }
}
// .blog-section {
//   padding-top: 40px;
//   .container-1246 {
//     max-width: 1246px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 20px;
//   }
//   .middle-section {
//     .container-1246 {
//       @include MQ(MQ-768) {
//         flex-direction: column;
//       }
//     }
//     .heading {
//       padding-bottom: 13px;
//       border-bottom: 2px solid #afafaf;
//       .h5 {
//         font-size: 12px;
//         font-weight: 600;
//         font-stretch: normal;
//         font-style: normal;
//         line-height: normal;
//         letter-spacing: normal;
//         text-align: left;
//         color: $color-black;
//       }
//     }
//     .featured-section {
//       //   max-width: 618px;
//       width: 50%;
//       padding-right: 15px;
//       @include MQ(MQ-768) {
//         width: 100%;
//         padding-right: 0;
//       }
//     }
//     .featured-blog {
//       width: 100%;
//       .article-card {
//         &:before {
//           display: none;
//         }
//       }
//       @include MQ(MQ-768) {
//         padding-top: 20px;
//       }
//       padding-top: 34px;

//       .image-section {
//         width: 100%;
//         height: 269px;
//         margin-bottom: 30px;
//         border-radius: 10px;
//         overflow: hidden;
//         display: block;
//         img {
//           @include img-object-cover;
//           position: relative;
//         }
//         @include MQ(MQ-768) {
//           max-height: 269px;
//           margin-bottom: 20px;
//           height: 40.78vw;
//         }
//       }
//       .content {
//         ul.tags-wrapper {
//           li {
//             padding: 7px 17px 7px 15px;
//             @include MQ(MQ-768) {
//               margin-bottom: 34px;
//             }
//             a {
//               line-height: normal;
//               font-size: 14px;
//               text-decoration: none !important;
//               text-transform: capitalize;
//               &:after {
//                 display: none;
//               }
//               @include MQ(MQ-480) {
//                 font-size: 12px;
//               }
//             }
//             // padding: 8px 17px 8px 15px;
//             background-color: $color-black;
//             border-radius: 30px;
//             display: inline-block;
//             margin-bottom: 16px;
//             line-height: normal;
//             border: 1px solid $color-black;
//             margin-right: 10px;
//             &:hover {
//               background-color: transparent;
//               a {
//                 text-decoration: none;
//               }
//             }
//             &:last-child {
//               margin-right: 0;
//             }
//             @include MQ(MQ-480) {
//               font-size: 12px;
//               // padding: 5px 17px 5px 15px;
//             }
//           }
//         }
//         h2 {
//           a {
//             font-family: var(--font-family-secondary);
//             @include MQ(MQ-480) {
//               font-size: 20px;
//             }
//           }
//         }
//         .description {
//           margin-top: 15px;
//         }
//         .link--primary {
//           display: block;
//           width: fit-content;
//           margin-top: 20px;
//         }
//       }
//     }
//     .latest-popular-posts {
//       width: 50%;
//       padding-left: 15px;
//       @include MQ(MQ-768) {
//         width: 100%;
//         padding-left: 0;
//         padding-top: 70px;
//       }

//       .latest-blog,
//       .popular-blog {
//         padding-top: 34px;
//         li {
//           &:last-child {
//             .article-card {
//               .inner-section {
//                 margin-bottom: 0;
//               }
//             }
//           }
//         }
//         .article-card {
//           .inner-section {
//             margin-bottom: 44px;
//             .image-section {
//               margin-right: 24px;
//               max-width: 192px;
//               min-height: 150px;
//               @include MQ(MQ-768) {
//                 margin-right: 0;
//                 width: 100%;
//                 max-width: 100%;
//                 height: 68vw;
//                 min-height: auto;
//                 max-height: 300px;
//               }
//             }
//             .content {
//               ul {
//                 .tags {
//                   margin-bottom: 8px;
//                   padding: 3px 12px 5px 12px;
//                   @include MQ(MQ-480) {
//                     margin-bottom: 4px;
//                   }
//                   a {
//                     font-size: 12px;
//                   }
//                 }
//               }
//               h3 {
//                 margin-bottom: 3px;
//                 a {
//                   font-size: 16px;
//                   line-height: 1.5;
//                   letter-spacing: 0.12px;
//                   font-family: var(--font-family-secondary);
//                 }
//               }
//               p {
//                 line-height: 1.29;
//                 letter-spacing: 0.01px;
//                 @include MQ(MQ-480) {
//                   font-size: 14px;
//                 }
//               }
//               .link--primary {
//                 display: block;
//                 width: fit-content;
//                 margin-top: 7px;
//               }
//             }
//           }
//         }
//       }
//       .popular-section {
//         padding-top: 40px;
//         @include MQ(MQ-768) {
//           padding-top: 60px;
//         }
//       }
//     }
//   }
//   .pagination-section {
//     margin-top: 20px;
//     margin-bottom: 70px;
//     @include MQ(MQ-768) {
//       margin-bottom: 36px;
//     }
//   }
// }
.featured-blog {
  .article-card {
    &:before {
      display: none;
    }
  }
}
.featured-blog {
  // background-color: $color-white;
  // padding: 100px 0 100px 0;
  // margin-top: 40px;

  // @include MQ(MQ-980) {
  //   padding: 30px 0 30px 0;
  //   margin-top: 20px;
  // }
  .half-image-half-content {
    padding-top: 20px !important;
    padding-bottom: 40px !important;
    .image-wrapper {
      width: 715px;
      margin-right: 100px;
      &::after {
        // display: none;
      }
      @include MQ(MQ-980) {
        width: 500px;
      }
      @include MQ(MQ-840) {
        width: 400px;
      }
      @include MQ(MQ-768) {
        width: 100%;

        margin-right: 0;
      }
      // .image-section {
      //   width: 100%;
      // }
    }
    .content {
      padding-right: 0 !important;
      font-weight: 400;
      &:after {
        width: 41px;
        height: 50px;
      }
      .tags {
        margin-bottom: 10px;
        .tag {
          color: $color-orange;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.44;
        }
      }

      
      .h3,h3 {
        padding-bottom: 0;
        padding-top: 0;
        max-width: 500px;
        display: block;
      }
      &:before {
        left: 15px;
        top: -120px;
        @include MQ(MQ-980) {
          display: none;
        }
      }
      &:after {
        right: 73px;
        bottom: -120px;
        @include MQ(MQ-980) {
          display: block !important;
          bottom: 0;
          width: 23px;
          height: 30px;
        }
        @include MQ(MQ-768) {
          right: 0;
        }
      }
      .artical-date-author {
        display: flex;

        align-items: center;
        margin-top: 21px;
        flex-wrap: wrap;
        @include MQ(MQ-480) {
          flex-direction: column;
          align-items: flex-start;
        }
        .date-category-section {
          display: flex;
          align-items: center;
          margin-right: 39px;
          margin-bottom: 15px;
          svg {
            width: 13.5px;
            height: 15px;
            @include MQ(MQ-480) {
              width: 11px;
              height: 13px;
            }
          }
          time {
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
            margin-left: 12px;
            @include MQ(MQ-480) {
              font-size: 11px;
            }
          }
        }
        .author {
          // margin-left: 39px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          @include MQ(MQ-480) {
            margin-left: 0;
            // margin-top: 20px;
          }
          svg {
            width: 13.5px;
            height: 15px;
            @include MQ(MQ-480) {
              width: 11px;
              height: 13px;
            }
          }
          span {
            font-size: 12px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 1px;
            text-align: left;
            text-transform: uppercase;
            margin-left: 12px;
            @include MQ(MQ-480) {
              font-size: 11px;
            }
          }
        }
      }
      .description {
        // margin-top: 17px;
        max-width: 100%;
      }
      .btn--primary {
        margin-top: 12px !important;
      }
    }
  }
  // .article-card {
  //   display: flex;
  //   align-items: center;
  //   width: 100%;
  //   max-width: 100%;
  //   border: 0;
  //   background: transparent;
  //   padding: 0;

  //   @include MQ(MQ-768) {
  //     flex-direction: column;
  //   }
  //   .inner-section {
  //     width: 100%;
  //     flex-direction: row;
  //   }
  // }

  .container-1260 {
    align-items: center;
  }

  // .image-section {
  //   width: 57.579%;
  //   min-height: 544px;
  //   // height: 37.65vw;
  //   position: relative;
  //   overflow: hidden;
  //   border-radius: 5px;

  //   img {
  //     @include img-object-cover;
  //   }

  //   @include MQ(MQ-768) {
  //     height: 56.25vw;
  //     // max-height: 482px;
  //     min-height: auto;
  //     width: 100%;
  //     margin-bottom: 40px;
  //   }
  // }

  // .content {
  //   // width: calc(100% - 737px);
  //   width: 50.7%;
  //   padding-left: 80px;
  //   position: relative;

  //   .tags span {
  //     // font-family: $font-family-secondary;
  //     font-size: 25px;
  //     font-weight: normal;
  //     font-stretch: normal;
  //     font-style: normal;
  //     line-height: 1.2;
  //     letter-spacing: normal;
  //     color: $color-black;
  //     margin-bottom: 5px;
  //     display: block;
  //     text-transform: capitalize;

  //     @include MQ(MQ-480) {
  //       font-size: 23px;
  //     }
  //   }

  //   .h3 {
  //     @include MQ(MQ-480) {
  //       font-size: 30px;
  //     }
  //   }

  //   p {
  //     margin-top: 20px;
  //   }

  //   .btn--secondary {
  //     width: 228px;
  //     margin-top: 20px;
  //     color: $color-white;
  //     &:hover {
  //       color: $color-black;
  //     }
  //     @include MQ(MQ-480) {
  //       width: 100%;
  //     }
  //   }

  //   @include MQ(MQ-768) {
  //     width: 100%;
  //     padding-left: 0 !important;
  //   }
  // }

  // @include MQ(MQ-980) {
  //   .content {
  //     padding-left: 40px;
  //   }
  // }
}
