
.collection {
  padding: 0px 0 55px;
  @include MQ(MQ-480) {
    padding-bottom: 60px;
  }
  .full-content {
    margin-top: 43px;
    @include MQ(MQ-767) {
      margin-top: 60px;
    }
  }
  .collection-section-title {
    margin: 60px 0;
    text-align: center;
  }
  .boost-pfs-filter-wrapper {
    margin-bottom: 0px !important;
    padding: 48px 0 0;
    @include MQ(MQ-767) {
      padding: 30px 0 0;
    }
  }
  &__product-list {
    margin-left: 0px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100%;
    @include MQ(MQ-767) {
      margin-left: 0px !important;
      width: 100% !important;
    }
    .product-card {
      width: calc(33.333% - 19px) !important;
      margin-left: 19px;
      margin-bottom: 46px !important;
      @include MQ(MQ-480) {
        margin-bottom: 30px !important;
      }
      padding: 0px;
      .boost-pfs-quickview-btn {
        display: none !important;
      }
      .boost-pfs-addtocart-product-form {
        width: 100% !important;
      }
      .boost-pfs-addtocart-btn {
        position: absolute;
        bottom: 12px;
        left: 12px;
        @include MQ(MQ-480) {
          display: none !important;
        }
        svg {
          display: none !important;
        }
        padding: 6px 14px !important;
        border-radius: 20px !important;
        background: $color-black !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        line-height: 1.5 !important;
        text-align: center !important;
        color: $color-white !important;
        width: auto;
      }
      .image-section {
        height: 320px !important;
        @include MQ(MQ-980) {
          height: calc(50vw - 189px) !important;
        }
      }
      @include MQ(MQ-980) {
        width: calc(50% - 40px) !important;
      }
      @include MQ(MQ-767) {
        width: calc(50% - 20px) !important;
        &:nth-child(odd) {
          margin-left: 0;
        }
      }
      @include MQ(MQ-480) {
        width: 100% !important;
        margin-left: 0px;
      }
      @include MQ(MQ-767) {
        padding-left: 0px !important;
        .image-section {
          max-height: none;
          height: calc(50vw - 25.5px) !important;
        }
      }
      @include MQ(MQ-480) {
        .image-section {
          height: 61vw !important;
        }
      }
    }
  }
  &__title-section {
    padding: 40px 0 0px;
    margin-bottom: -10px;
  }
 
  &__pagination-outer {
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    div,
    ul {
      width: 100%;
    }
   
  }

 
}



.search-section-section {
  background-color: $color-white !important;
  padding: 60px 0px 40px !important;
  text-align: left !important;
  .collection__product-list {
    padding: 40px 0 30px !important;
  }
  .form-section {
    margin-top: 24px !important;
    .btn--secondary {
      margin-top: 20px !important;
    }
  }
  .boost-pfs-search-container {
    max-width: 100% !important;
    padding: 0px !important;
  }
  h1 {
    font-family: var(--font-family-secondary) !important;
    font-size: 40px !important;
    font-weight: bold !important;
    line-height: 1.175 !important;
    letter-spacing: 0.4px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    @include MQ(MQ-480) {
      font-size: 30px !important;
      line-height: 1.32 !important;
      letter-spacing: 0.25px !important;
    }
  }
  .boost-pfs-search-form {
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px !important;
    @include MQ(MQ-480) {
      flex-direction: column;
      align-items: center;
    }
  }
  font-family: Karla;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: left;
  color: #787978;
  .boost-pfs-search-box {
    width: 100%;
    height: 40px !important;
    border-radius: 0px !important;
    border: 1px solid $color-border;
    border-radius: 40px !important;
    background-color: $color-white !important;
    padding: 12px 20px !important;
    font-family: var(--font-family-primary) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: normal !important;
    letter-spacing: 0.01px !important;
    color: $color-black !important;
    &::placeholder {
      font-family: var(--font-family-primary) !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      line-height: normal !important;
      letter-spacing: 0.01px !important;
      opacity: 1;
      color: $color-dark-gray !important;
    }
  }
  .btn--primary {
    max-width: 170px;
    margin: 0 auto !important;
    font-family: var(--font-family-primary) !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: normal !important;
    letter-spacing: 0.01px !important;
    text-align: center !important;
    width: fit-content !important;
    border: 1px solid $color-black !important;
    border-radius: 50px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    text-decoration: none !important;
    padding: 0px 17px 0px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease all !important;
    background-color: $color-black !important;
    border: 2px solid $color-black !important;
    color: $color-white !important;
    text-transform: capitalize !important;
    &:before {
      display: none !important;
    }
    &:hover {
      &::before,
      &:after {
        display: none !important;
      }
      color: $color-black !important;
      // background-color: $color-black;
      box-shadow: inset 0 -3.25em 0 0 $color-white !important;
      transition: 0.6s ease all !important;
      // box-shadow: inset 0 -3.25em 0 0 $color-white;
    }
    flex: none;
    margin-top: 20px !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
}

.collection-without-filter {
  .collection__product-list {
    padding: 40px 0 30px !important;
    margin-left: 60px !important;
    width: calc(100% + 30px) !important;
    @include MQ(MQ-480) {
      margin-left: -12px !important;
      width: calc(100% + 12px) !important;
    }
    .slide {
      width: 25% !important;
      @include MQ(MQ-980) {
        width: 33.333% !important;
      }
      @include MQ(MQ-767) {
        width: 50% !important;
      }
    }
  }
  .image-section {
    > a {
      position: initial;
    }
  }
  .pagination-section {
    .pagination {
      margin: 0px !important;
      padding: 0px !important;
      a,
      span {
        font-family: var(--font-family-primary);
        font-size: 14px !important;
        line-height: 1.57 !important;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px $color-white !important;
        letter-spacing: normal !important;
        color: $color-black !important;
        &.current {
          font-weight: 600 !important;
          text-shadow: none !important;
          border: solid 1px $color-black !important;
          &::after {
            display: none !important;
          }
        }
      }
      .prev,
      .next {
        width: 8px !important;
        height: 12px !important;
        a,
        span {
          border: none !important;
        }
        background: url("icon-arrow-right.png") no-repeat center / 8px !important;
      }
      .prev {
        margin-right: 10px;
        transform: rotate(180deg);
      }
      .next {
        margin-left: 10px;
      }
    }
  }
  .collection__pagination-outer {
    @include MQ(MQ-767) {
      margin-left: 0px !important;
    }
  }
}





/*Auto complete*/

// body {
//   .boost-pfs-search-box.ui-autocomplete-input {
//     border-radius: 0px !important;
//   }
// }




/*collection-product-list*/

.custom-collection-section {
  padding: 0px 0 80px;
  .pagination {
    padding-bottom: 0px;
  }
  @include MQ(MQ-480) {
    padding: 0px 0 60px;
  }
}

.collection-product-list {
  margin-top: 60px;
  width: calc(100% + 60px);
  margin-left: -60px;
  justify-content: center;
  @include MQ(MQ-600) {
    margin-top: 40px;
    width: 100%;
    margin-left: 0px;
  }
  li {
    width: calc(33.3333% - 60px);
    margin-left: 60px;
    margin-bottom: 60px;
    @include MQ(MQ-980) {
      width: calc(50% - 60px);
    }
    @include MQ(MQ-600) {
      width: 100%;
      margin-left: 0px;
    }
    .image-section {
      height: calc(33.3333vw - 60px);
      max-height: 400px;
      @include MQ(MQ-980) {
        height: calc(50vw - 60px);
        max-height: auto;
      }
      @include MQ(MQ-600) {
        height: calc(100vw - 60px);
      }
    }
    .product-card__product-title a {
      font-size: 30px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.5px;
      margin-bottom: 5px;
    }
  }
}

