.collection-hero-section {
  padding: 193px 0 170px;
  background-image: linear-gradient(
    109deg,
    #5ebe55 2%,
    #a8d24e 51%,
    #5abe50 100%
  );
  @include MQ(MQ-768) {
    padding: 130px 0 0;
  }
  position: relative;
  .container-1260 {
    position: relative;
    @include MQ(MQ-768) {
      flex-direction: column;
    }
  }
  .image-section {
    width: 246px;
    height: 418px;
    bottom: 0;
    right: 250px;
    position: absolute;
    z-index: 2;
    margin-bottom: -187px;
    @include MQ(MQ-1100) {
      right: 150px;
    }
    @include MQ(MQ-980) {
      right: 50px;
    }
    @include MQ(MQ-768) {
      position: relative;
      right: 0;
      margin: 0 auto;
      margin-bottom: -50px;
    }
    @include MQ(MQ-480) {
      width: 165px;
      height: 261px;
      margin-bottom: 0px;
      margin-top: 5px;
    }
    img {
      @include img-object-contain;
    }
    &::after {
      width: 43px;
      height: 52px;
      content: "";
      position: absolute;
      right: -100px;
      @include MQ(MQ-980) {
        right: -50px;
      }

      z-index: 1;
      top: 110px;

      background: url("star-large.webp") no-repeat center / 100%;
      animation-name: starRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-480) {
        top: auto;
        bottom: 30px;
        right: -80px;
        width: 24px;
        height: 29px;
      }
    }
  }
  &::before {
    width: 367.6px;
    height: 87.8px;
    content: "";
    position: absolute;
    left: 0px;
    z-index: 1;
    bottom: 74px;
    background: url("thread-hero-white.webp") no-repeat center / 100%;
    @include MQ(MQ-768) {
      display: none;
    }
  }
  &::after {
    width: 130px;
    height: 406px;
    content: "";
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 87px;
    background: url("thread-hero-white-2.webp") no-repeat center / 100%;
    @include MQ(MQ-768) {
      top: auto;
      bottom: -120px;
    }
  }
  .content {
    max-width: 455px;
    width: 100%;
    position: relative;

    &::before {
      width: 89px;
      height: 118px;
      content: "";
      position: absolute;
      right: -82px;
      z-index: 1;
      top: -88px;
      display: none;
      background: url("kite.svg") no-repeat center / 100%;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate-reverse;
      animation-timing-function: linear;
      animation-name: kites;
      @include MQ(MQ-768) {
        width: 54px;
        height: 70px;
        top: -29px;
        right: -10px;
      }
    }
    &::after {
      width: 63.9px;
      height: 51px;
      content: "";
      position: absolute;
      bottom: 29px;
      z-index: 1;
      right: -184px;
      background: url("icon-cloud.webp") no-repeat center / 100%;
      animation: 10s linear infinite;
      animation-name: animateCloud;
      @include MQ(MQ-768) {
        width: 50px;
        height: 41px;
        top: auto;
        bottom: -47px;
        right: 25px;
      }
    }
    * {
      color: #ffffff;
    }
    h1,
    .h1 {
      margin: 0 0 16px;
      font-size: 40px;
      font-weight: normal;
      line-height: 1;
      letter-spacing: 0.8px;
      // text-align: left;
      @include MQ(MQ-480) {
        font-size: 30px;
        margin-bottom: 7px;
      }
    }
  }
}

.collection-filter-section {
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 4;
  @include MQ(MQ-768) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .sort-by {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 20px;
    @include MQ(MQ-768) {
      margin-right: 0;
    }
    label {
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color-black;
      flex: none;
      margin-right: 13px;
    }
    select {
      width: 205px;
      max-width: 100%;
    }
  }

  .search-option {
    display: flex;
    justify-content: flex-end;
    @include MQ(MQ-768) {
      justify-content: flex-start;
    }
    a {
      padding: 10px 15px;
      font-family: var(--font-family-primary);
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-align: left;
      color: $color-black;
      border: solid 1px $color-original-black;
      background-color: $color-white;
      margin-right: 19px;
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &.active {
        background: #fbe195;
      }
    }
  }
  .item--count {
    display: flex;
    width: 100%;
    padding-bottom: 7px;
    @include MQ(MQ-768) {
      padding-bottom: 15px;
    }
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
  }
}

.collection {
  .container-1240 {
    padding: 0 20px;
  }
  padding: 60px 0 200px 0px;

  position: relative;
  background: $color-off-white-light;
  z-index: 2;
  @include MQ(MQ-768) {
    padding-bottom: 150px;
  }
  @include MQ(MQ-480) {
    padding-top: 20px;
  }
  .container-1260.graphics {
    position: relative;
    &::before {
      width: 37px;
      height: 45px;
      content: "";
      position: absolute;
      left: 78px;
      z-index: 1;
      top: 15px;
      background: url("star-border.svg") no-repeat center / 100%;
      @include MQ(MQ-768) {
        display: none;
      }
    }
    &::after {
      width: 26px;
      height: 34px;
      content: "";
      position: absolute;
      right: 155px;
      z-index: 3;
      top: -53px;
      background: url("star-large.webp") no-repeat center / 100%;
      animation-name: starRotate;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      @include MQ(MQ-768) {
        display: none;
      }
    }

    &.search {
      &::before {
        left: 300px;
        z-index: 4;
        top: -100px;
      }
      &::after {
        right: 430px;
        top: -70px;
      }
    }
  }
  &::before {
    // background: url("graphic-wave-inner-banner.svg") repeat left / 2065px;
    background: url(body-default-wave.svg) repeat-x top/100%;
    background-size: contain;
    height: 200px;
    width: 100%;
    position: absolute;
    left: 0;
    top: -125px;
    content: "";
    z-index: 2;
    // filter: brightness(0) saturate(100%) invert(100%) sepia(56%) saturate(587%)
    //   hue-rotate(316deg) brightness(105%) contrast(114%);
    @include MQ(MQ-1440) {
      height: 114px;
      top: -97px;
      background-size: cover;
    }
  }
  &::after {
    width: 82px;
    height: 81px;
    content: "";
    position: absolute;
    left: 37%;
    // margin: 0 auto;
    z-index: 2;
    // top: -90px;
    top: -111px;
    background: url("ufo.webp") no-repeat center / 100%;
    animation-name: flow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    @include MQ(MQ-768) {
      display: none;
    }
  }

  .full-content {
    margin-top: 43px;
    @include MQ(MQ-768) {
      margin-top: 60px;
    }
  }
  .collection-section-title {
    margin: 60px 0;
    text-align: center;
  }
  .boost-pfs-filter-wrapper {
    margin-bottom: 0px !important;
    padding: 48px 0 0;
    @include MQ(MQ-768) {
      padding: 30px 0 0;
    }
  }
  &__product-list {
    width: calc(100% + 39px) !important;
    margin-left: -39px;
    margin-top: 34px;
    display: flex !important;
    flex-wrap: wrap !important;
    @include MQ(MQ-768) {
      width: calc(100% + 20px) !important;
      margin-left: -20px;
    }
    @include MQ(MQ-600) {
      margin-left: 0px !important;
      width: 100% !important;
    }
    .product-card {
      width: calc(33.333% - 39px) !important;
      margin-left: 39px;
      margin-bottom: 39px !important;

      @include MQ(MQ-480) {
        margin-bottom: 30px !important;
      }

      .image-section {
        max-height: 324px !important;
        height: calc(33.333vw - 96px) !important;
        @include MQ(MQ-980) {
          max-height: none !important;
          height: calc(50vw - 80.5px) !important;
        }
      }

      @include MQ(MQ-980) {
        width: calc(50% - 20px) !important;
        margin-left: 20px;
      }
      @include MQ(MQ-600) {
        width: 100% !important;
        margin-left: 0px;
      }

      @include MQ(MQ-600) {
        .image-section {
          height: calc(100vw - 106px) !important;
        }
      }
    }
  }
  &__title-section {
    padding: 40px 0 0px;
    margin-bottom: -10px;
  }

  &__pagination-outer {
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 100%;
    div,
    ul {
      width: 100%;
    }
  }
}

.search-section {
  margin-top: -20px;

  .inner-hero-section {
    @include MQ(MQ-768) {
      padding-top: 130px !important;
    }
    .container-1260 {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 4;

      &::before {
        width: 63.9px;
        height: 51px;
        content: "";
        position: absolute;
        top: -78px;
        z-index: 1;
        left: 160px;
        background: url("icon-cloud.webp") no-repeat center / 100%;
        animation: 10s linear infinite;
        animation-name: animateCloud;
        @include MQ(MQ-768) {
          top: auto;
          bottom: -55px;
          left: 30px;
          right: auto;
          width: 16px;
          height: 22px;
          background: url(star-large-white.svg) no-repeat center/100%;
          animation-name: wstarRotate;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
      }
      &::after {
        width: 43px;
        height: 52px;
        content: "";
        position: absolute;
        right: 140px;

        z-index: 1;
        top: 50px;

        background: url("star-large.webp") no-repeat center / 100%;
        animation-name: starRotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @include MQ(MQ-1024) {
          right: 20px;
        }
        @include MQ(MQ-768) {
          top: -60px;
          left: auto;
          right: 20px;
          width: 53px;
          height: 70px;
          background: url("kite.svg") no-repeat center / 100%;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          -webkit-animation-direction: alternate-reverse;
          animation-timing-function: linear;
          animation-name: kites;
        }
      }
    }
  }
  form {
    position: relative;
    z-index: 3;
  }
  .search-form__input {
    z-index: 5;
    width: 100%;
    height: 55px !important;
    border-radius: 30px !important;
    border: 2px solid $color-white;
    border-radius: 40px !important;
    background-color: transparent !important;
    padding: 18px 110px 15px 26px !important;
    font-family: var(--font-family-primary) !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.57 !important;
    letter-spacing: normal !important;
    color: $color-white !important;
    &::placeholder {
      font-family: var(--font-family-primary) !important;
      font-size: 14px !important;
      font-weight: normal !important;
      line-height: 1.57 !important;
      letter-spacing: normal !important;
      color: $color-white !important;
      opacity: 1;
    }
  }
  .search-btn {
    width: 98.9px;
    height: 45px;
    padding: 16px 0px 15.3px 0px;
    border-radius: 30px;
    background-color: #81c573;
    font-family: var(--font-family-primary);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: 1px;
    color: $color-white !important;
    position: absolute;
    top: 5px;
    right: 5px;
    @include MQ(MQ-480) {
      font-size: 0;
      padding: 0;
      width: 45px;
      background: url("icon-search.svg") no-repeat center / 20px #81c573;
    }
  }

  .form-content {
    max-width: 661px;

    width: 100%;
  }
  h1 {
    color: $color-white;
    margin-bottom: 40px;
    @include MQ(MQ-768) {
      margin-bottom: 15px;
    }
  }
}

/*Auto complete*/

// body {
//   .boost-pfs-search-box.ui-autocomplete-input {
//     border-radius: 0px !important;
//   }
// }

/*collection-product-list*/

.custom-collection-section {
  padding: 0px 0 80px;
  .pagination {
    padding-bottom: 0px;
  }
  @include MQ(MQ-480) {
    padding: 0px 0 60px;
  }
}

.btn--atc {
  padding: 11.5px 35px 9.5px 12.5px;
  border: solid 1px $color-yellow;
  background: url("shopping-bag.svg") no-repeat right 15.6px center / 15px
    $color-white;
  font-family: var(--font-family-primary);
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-black);
  @include MQ(MQ-768) {
    padding: 9px 30px 7px 11px;
    background: url("shopping-bag.svg") no-repeat right 14px center / 12.3px
      $color-white;
    &:hover {
      background: url("shopping-bag.svg") no-repeat right 14px center / 12.3px
        $color-yellow;
    }
  }
  &:hover {
    background: url("shopping-bag.svg") no-repeat right 15.6px center / 15px
      $color-yellow;
  }
}

.btn--quick-view {
  width: 42px;
  height: 37px;
  border: solid 1px $color-yellow;
  background: $color-white;
  font-size: 12px !important;
  padding: 11.5px 20px 9.5px 20px;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  background: url("eye.svg") no-repeat center right 14px / 15px $color-white;
  @include MQ(MQ-768) {
    width: 38px;
    height: 34px;
    background: url("eye.svg") no-repeat center right 14px/ 12.3px $color-white;
    &:hover {
      background: url("eye.svg") no-repeat center right 14px/ 12.3px $color-yellow;
    }
  }
  &:hover {
    background: url("eye.svg") no-repeat center right 14px / 15px $color-yellow;
  }
}

.collection-top-section {
  padding-bottom: 33px;
  text-align: center;
  position: relative;

  z-index: 5;
  /*
  .outer {
    -ms-overflow-style: none;
   
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .outer::-webkit-scrollbar {
    display: none !important;
    width: 0px;
    background: transparent;
  }*/
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 30px);
    margin-left: -30px;
    margin-bottom: -30px;
    li {
      width: 111px;
      min-height: 71px;
      display: inline-block;
      background: $color-white;
      margin-bottom: 30px;
      border: 1px solid #ffe69f;
      &.active,
      &:hover {
        background: #fbe195;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        .icon {
          width: 32px;
          height: 32.5px;
          position: relative;
          margin-bottom: 6px;
          img {
            @include img-object-cover;
          }
        }
        span {
          font-size: 10.5px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.29;
          letter-spacing: 0.75px;
        }
      }
      margin-left: 30px;
    }
  }
}
