.collection-filter-section {
  justify-content: space-between;
  align-items: center;
  @include MQ(MQ-768) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }
  .sort-by {
    display: flex;
    align-items: center;
    flex: none;
    margin-right: 20px;
    @include MQ(MQ-768) {
      margin-right: 0;
    }
    label {
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-blue;
      flex: none;
      margin-right: 13px;
      @include MQ(MQ-480) {
        display: none;
      }
    }
    select {
      width: 260px;
      max-width: 100%;
    }
  }
  .item--count {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid rgba(25, 32, 78, 0.3);
    @include MQ(MQ-768) {
      border-bottom: none;
      justify-content: center;
    }
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.44px;
    padding: 16px 0 15px;
    @include MQ(MQ-768) {
      margin-top: 20px;
      padding: 0;
    }
  }
}
.custom-collection-section {
  padding: 50px 0 0;
  .collection {
    &__product-list {
      margin-left: -20px;
      flex-wrap: wrap;
      width: calc(100% + 20px);
      padding: 50px 0 0;
      .product-card {
        width: calc(100% / 3);
        padding-left: 20px;
        margin: 0 0 50px;
        .image-section {
          a {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
        .content {
          .js__quick-view-click {
            display: none;
          }
        }
      }
    }
  }
}
