.hero-banner-slider {
  position: relative;
  overflow: hidden;
  .hero-banner {
    position: relative;
    overflow: hidden;
    padding-bottom: 118px;
    padding-top: 154px;
    max-height: 810px;
    display: flex;
    align-items: center;
    &::before{
      width: 367.6px;
      height: 87.8px;
      content: '';
      position: absolute;
      left:0px;
      z-index: 1;
      bottom: 168px;
      background: url("thread-hero-white.webp") no-repeat center / 100%;
  }
  &::after{
    width: 130px;
    height: 406px;
    content: '';
    position: absolute;
    right:0px;
    z-index: 1;
    top: 87px;
    background: url("thread-hero-white-2.webp") no-repeat center / 100%;
}
    
    background-image: linear-gradient(117deg, #5ebe55 2%, #a8d24e 50%, #5abe50 98%);
    @include MQ(MQ-768) {
      height: 699px;
      padding-top: 115px !important;
      align-items: flex-start;
    }
    .full-link {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 8;
      height: 100%;
    }
   
    .video-section {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(17, 18, 19, 0.5);
        top: 0;
        left: 0;
        z-index: 2;
      }
      .video-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding-top: 0%;
        pointer-events: none;
      }
      iframe,
      video {
        min-height: 0;
        height: calc(100vh - 40px);
        @include iframe-bg();
        min-width: 150vw;
        @include MQ(MQ-1024) {
          min-width: 180vw;
        }
        @include MQ(MQ-980) {
          // min-width: 250vw;
          // min-height: 250vw;
          height: 100%;
        }
        @include MQ(MQ-480) {
          min-width: 350vw;
          // min-height: 350vw;
          height: 100%;
        }
      }
    }

    .image-section {
      width: calc(50% - 36px);
      margin-left: 36px;
      max-width: 514px;
      order: 2;
      &::after{
        width: 82px;
        height: 85px;
        content: '';
        position: absolute;
        right: -70px;
        z-index: 1;
        bottom: 8px;
        background: url("rocket.webp") no-repeat center / 100%;
    }
      img {
        @include img-object-cover;
        position: relative;
      }
    }
    .container-1260 {
      position: relative;
      &::before{
        width: 63.9px;
        height: 51px;
        content: '';
        position: absolute;
        top: -40px;
        z-index: 1;
        right: 450px;
        background: url("icon-cloud.webp") no-repeat center / 100%;
    }
    &::after{
      width: 42.6px;
     height: 51.3px;
      content: '';
      position: absolute;
      right: 120px;
      z-index: 1;
      top: 50px;
      background: url("star-large.webp") no-repeat center / 100%;
  }
      z-index: 3;
      @include MQ(MQ-768) {
        justify-content: center !important;
      }
      .content {
       width: 50%;
       padding-right: 33px;
       padding-top: 76px;
       position: relative;
       &::before{
        width: 89px;
        height: 118px;
        content: '';
        position: absolute;
        right: 37px;
        z-index: 1;
        top: -27px;
        background: url("kite.webp") no-repeat center / 100%;
    }
    &::after{
      width: 36px;
  height: 43.7px;
      content: '';
      position: absolute;
      right: 230px;
      z-index: 1;
      bottom: 124px;
      background: url("star-large-white.webp") no-repeat center / 100%;
  }
        .pre-title {
          margin-bottom: 20px;
         color: $color-pink;
        }
        h1{
          margin-bottom: 8.3px;
        }
        .btn--primary {
          margin-top: 28.7px;
         
        }
       
        h1,
        p {
          color: rgba(var(--color-foreground),1);
        }

        
      }
    }
    &.left-align {
      .container-1260 {
        .content {
          margin: 0;
          // @include MQ(MQ-768) {
          //   margin: 0 auto;
          //   text-align: center;
          //   .btn--primary {
          //     margin-left: auto;
          //     margin-right: auto;
          //   }
          // }
        }
      }
    }
    &.right-align {
      .container-1260 {
        display: flex;
        justify-content: flex-end;
        .content {
          margin: 0;
          // @include MQ(MQ-768) {
          //   margin: 0 auto;
          //   text-align: center;
          //   .btn--primary {
          //     margin-left: auto;
          //     margin-right: auto;
          //   }
          // }
        }
      }
    }
    &:hover {
      .btn--primary {
        color: $color-black !important;
        -webkit-transition: 0.6s ease all;
        transition: 0.6s ease all;
        -webkit-box-shadow: inset 0 -3.25em 0 0 $color-white;
        box-shadow: inset 0 -3.25em $color-white;
      }
    }
  }

  .swiper-button-prev-hero-banner,
  .swiper-button-next-hero-banner {
    width: 50px;
    height: 50px;
    left: 60px;
    position: absolute;
    top: calc(50% - 20px);
    z-index: 12;
    cursor: pointer;
    @include MQ(MQ-1200) {
      left: 20px;
    }
    @include MQ(MQ-768) {
      display: none;
    }
  }
  .swiper-button-next-hero-banner {
    right: 60px;
    left: auto;
    @include MQ(MQ-1200) {
      right: 20px;
    }
  }
  .swiper-button-next-hero-banner {
    svg {
      circle {
        fill: $color-white;
      }
      path {
        fill: $color-black;
        // stroke: $color-black;
      }
      .line {
        fill: $color-black;
        stroke: $color-black;
      }
    }
  }
  svg circle,
  path,
  line {
    transition: 0.5s;
  }
  svg:hover {
    circle {
      fill: $color-black;
    }
    path {
      fill: $color-white;
      // stroke: $color-white;
    }
    .line,
    line {
      stroke: $color-white;
      fill: $color-white;
    }
  }
  .padding-left-right {
    padding: 0 100px;
    @include MQ(MQ-1200) {
      padding: 0 60px;
    }
    @include MQ(MQ-768) {
      padding: 0;
    }
  }
}
