.inner-hero-section{
  padding: 193px 0 170px;
  background-image: linear-gradient(109deg, #5ebe55 2%, #a8d24e 51%, #5abe50 100%);
  position: relative;
  .container-1260{
    position: relative;
  }
  .image-section{
    width: 553.4px;
    height: 510px;
    bottom:0;
    right: 65px;
    position: absolute;
    margin-bottom:-232px;
    img{
      @include img-object-contain;
    }
  }
  &::before{
    width: 367.6px;
    height: 87.8px;
    content: '';
    position: absolute;
    left:0px;
    z-index: 1;
    bottom: 74px;
    background: url("thread-hero-white.webp") no-repeat center / 100%;
    @include MQ(MQ-480) {
      display: none;
    }
}
&::after{
  width: 130px;
  height: 406px;
  content: '';
  position: absolute;
  right:0px;
  z-index: 1;
  top: 87px;
  background: url("thread-hero-white-2.webp") no-repeat center / 100%;
  @include MQ(MQ-480) {
    top: 167px;
  }
}
.content{
  max-width: 455px;
  width: 100%;
  position: relative;
  &::before{
    width: 89px;
    height: 118px;
    content: '';
    position: absolute;
    right: -82px;
    z-index: 1;
    top: -88px;
    background: url("kite.webp") no-repeat center / 100%;
    @include MQ(MQ-480) {
      
    }
}
&::after{
  width: 63.9px;
  height: 51px;
  content: '';
  position: absolute;
  bottom: 29px;
  z-index: 1;
  right: -184px;
  background: url("icon-cloud.webp") no-repeat center / 100%;
  @include MQ(MQ-480) {
 
    top: auto;
    bottom: 270px;
    right: 25px;
  }
}
  *{
    color:#ffffff;
  }
  h1{
    margin:0 0 16px;
  }

}
}