.three-column-product-slider {
  background: $color-off-white;
  padding: 80px 40px 180px;
  transform: translate3d(0, 50px, 0) !important;
  @include MQ(MQ-480) {
    padding: 50px 0px 100px;
  }
  &.aos-animate {
    transform: none !important;
  }
 
  .top-section {
    width: 100%;
    justify-content: space-between;
    margin: 0 0 60px;
    align-items: flex-end;
    position: relative;
    &::before{
      width: 130px;
      height: 37px;
      content: '';
      position: absolute;
      right: 0px;
      left: 0;
      margin: 0 auto;
      z-index: 1;
      top: 12px;
      background: url("star-large.webp") no-repeat center right / 30px;
      @include MQ(MQ-480) {
        width: 25px;
        height: 30px;
        left: auto;
        margin: 0;
        top: 0px;
        background: url("star-large.webp") no-repeat center right / 25px;
      }
  }
  
    @include MQ(MQ-480) {
      margin: 0 0 30px;
    }
    .link--primary {
       height: 16px;
       @include MQ(MQ-768) {
        margin-top: 22px;
       }
    }
    
    .pre-title{
      margin-bottom: 22px;
      color: $color-orange;
      @include MQ(MQ-480) {
        margin-bottom: 15px;
      }
    }
   
  }
  .link--primary {
    height: 16px;
    @include MQ(MQ-768) {
      margin: 0 auto;
     margin-top: 22px;
    }
 }
  .inner {
    width: 100%;
    .slider-outer{
      width: 100%;
      overflow: hidden;
    }
    position: relative;
  
    @include MQ(MQ-480) {
    }
    .slider {
      position: relative;
      overflow: hidden;
      
    }
   
    .swiper-slide {
     z-index: 3;
     height: auto;
      .content {
      
      }
    }
    .swiper-button-prev-product-slider,
    .swiper-button-next-product-slider {
     
      position: absolute;
      width: 19px;
      height: 30px;
      right: -54px;
      top: calc(50% - 9.5px);
      z-index: 10;
      cursor: pointer;
      @include MQ(MQ-600) {
        display: none;
      }
      
     
    }
    .swiper-button-prev-product-slider {
       transform: rotate(180deg);
      left: -54px;
    }
    
  }

}
