{% section 'inner-hero-section' %}

<div class="default-page-content">
  <div class="container-1240">
    {% comment %} <h1 class="text-center">{{ page.title }}</h1> {% endcomment %}

    <div class="full-format">
      {{ page.content }}
    </div>
  </div>
</div>
