.contact-form-with-text-outer {
  position: relative;
  svg {
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 1;
    // display: none;
  }
  // &:before {
  //   position: absolute;
  //   content: "";
  //   width: 100%;
  //   height: 122px;
  //   left: 0;
  //   top: -81px;
  //   background: url(sky-blue-wave.png) repeat-x top / 100%;
  // }
  //   &:before {
  //     background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center / 1452px;
  //     height: 12vw;
  //     width: 100%;
  //     position: absolute;
  //     left: 0;
  //     top: -2px;
  //     z-index: 2;
  //     content: "";
  //     @media (min-width: 1440px) {
  //       background: url(wave-fullwidth-body-bgcolor.svg) repeat-x center / 100%;
  //       height: 6vw;
  //       top: -6px;
  //     }
  //     @include MQ(MQ-1300) {
  //       top: -12px;
  //     }
  //     @include MQ(MQ-1100) {
  //       top: -22px;
  //     }
  //     @include MQ(MQ-768) {
  //       // background-size: calc(1452px / 2);
  //       // top: -32px;
  //       background-size: contain;
  //       height: 11vw;
  //     }
  //     @include MQ(MQ-600) {
  //       height: 85px;
  //       top: -32px;
  //     }
  //     @include MQ(MQ-350) {
  //       top: -33px;
  //     }
  //   }
  // &:before {
  //   position: absolute;
  //   content: "";
  //   width: 65px;
  //   height: 87px;
  //   left: 25%;
  //   top: 80px;
  //   background: url(kits-2.svg) no-repeat center / 65px;
  //   z-index: 2;
  //   animation-duration: 6s;
  //   animation-iteration-count: infinite;
  //   -webkit-animation-direction: alternate-reverse;
  //   animation-timing-function: linear;
  //   animation-name: kites;
  // }
}
.contact-form-with-text {
  position: relative;
  text-align: center;
  background: url(full_width_bg_orange.webp) no-repeat center / cover;
  @include MQ(MQ-768) {
    background-size: cover;
  }
  &:before {
    width: 620px;
    height: 773px;
    content: "";
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: 0;
    background: url(thread-multi-white.webp) no-repeat center / 100%;
    @include MQ(MQ-980) {
      bottom: 10px;
      height: 673px;
      width: 520px;
    }
    @include MQ(MQ-768) {
      // bottom: auto;
      bottom: 10px;
      background-size: cover;
      // width:;
      width: 100%;
      height: 80%;
      left: 0px;
      z-index: 0;
      // background-position: center;
    }
  }
  &:after {
    width: 130px;
    height: 406px;
    content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    top: -58px;
    background: url(thread-white-2.svg) no-repeat center / 100%;
    // @include MQ(MQ-980) {
    //   top: -220px;
    // }
    // @include MQ(MQ-500) {
    //   top: -240px;
    //   right: 0px;
    // }
  }
  .container-1260 {
    padding-top: 162px;
    padding-bottom: 136px;
    position: relative;
    &::after {
      width: 124px;
      height: 85px;
      content: "";
      position: absolute;
      right: 0;
      top: 90px;
      z-index: 2;
      background: url(planet-orange.svg) no-repeat center/100%;
      -webkit-animation-name: rotate;
      animation-name: rotate;
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      display: none;
      @include MQ(MQ-980) {
        display: block;
        right: 30px;
        top: 60px;
      }
      @include MQ(MQ-768) {
        // right: 00px;
        width: 90px;
        height: 75px;
        transform: none;
      }
      @include MQ(MQ-480) {
        right: 10px;
      }
    }
    @include MQ(MQ-980) {
      flex-wrap: wrap;
    }
    @include MQ(MQ-768) {
      padding-bottom: 305px;
      padding-top: 96px;
    }
    @include MQ(MQ-500) {
      padding-bottom: 200px;
    }
  }
  .form-section {
    width: 68.66%;
    padding-right: 72px;
    position: relative;
    form {
      position: relative;
      z-index: 3;
    }
    @include MQ(MQ-1200) {
      padding-right: 40px;
      width: 60%;
    }
    @include MQ(MQ-980) {
      width: 100%;
      padding-right: 0;
      padding-bottom: 45px;
    }
    &::before {
      width: 64px;
      height: 51px;
      content: "";
      position: absolute;
      top: 30px;
      -webkit-transform: translateX(-100%);
      transform: translate(-100%);
      z-index: 1;
      left: -84px;
      background: url(icon-cloud.webp) no-repeat center/100%;
      -webkit-animation: 10s linear infinite;
      animation: 10s linear infinite;
      -webkit-animation-name: animateCloud;
      animation-name: animateCloud;
      @include MQ(MQ-1300) {
        left: -24px;
      }
      @include MQ(MQ-768) {
        left: 13px;
        top: -54px;
        width: 50px;
        height: 43px;
        transform: none;
      }
      // width: 65.6px;
      // height: 87px;
      // content: "";
      // position: absolute;
      // left: 272px;
      // z-index: 1;
      // top: -8.7px;
      // transform: translateY(-100%);
      // background: url(kite-orange.webp) no-repeat center / 100%;
      // @include MQ(MQ-980) {
      //   background-image: url(planet-orange.svg);
      //   width: 57px;
      //   height: 39.24px;
      //   left: unset;
      //   right: 110px;
      //   top: -40px;
      // }
      // @include MQ(MQ-768) {
      //   top: -11px;
      //   right: 72px;
      // }
      // @include MQ(MQ-500) {
      //   top: -21px;
      //   right: 62px;
      // }
    }
    // &::after {
    //   width: 124px;
    //   height: 85px;
    //   content: "";
    //   position: absolute;
    //   right: -20%;
    //   top: -90px;
    //   z-index: 1;
    //   background: url(planet-orange.svg) no-repeat center/100%;
    //   -webkit-animation-name: rotate;
    //   animation-name: rotate;
    //   -webkit-animation-duration: 10s;
    //   animation-duration: 10s;
    //   -webkit-animation-iteration-count: infinite;
    //   animation-iteration-count: infinite;
    //   @include MQ(MQ-1100) {
    //     right: 0;
    //     top: -50px;
    //   }
    //   @include MQ(MQ-768) {
    //     right: 00px;
    //     width: 90px;
    //     height: 75px;
    //     transform: none;
    //   }
    // }
  }
  .contact-info-section {
    text-align: left;
    width: 31.34%;
    margin-top: 24px;
    position: relative;
    @include MQ(MQ-1200) {
      width: 40%;
    }
    @include MQ(MQ-980) {
      width: 100%;
      margin-top: 0px;
    }
    &::after {
      width: 81px;
      height: 84px;
      content: "";
      position: absolute;
      top: -35.5px;
      z-index: 1;
      right: 0px;
      background: url(rocket.webp) no-repeat center / 100%;
      animation: fly 7s ease-in infinite;
      @include MQ(MQ-980) {
        display: none;
      }
    }
    h2 {
      margin-bottom: 20px;
      font-size: 30px;
      letter-spacing: 0.02em;
      @include MQ(MQ-480) {
        font-size: 25px;
      }
    }
    ul {
      li,
      a {
        margin-bottom: 20px;
        letter-spacing: 0.02em;
        font-weight: 400;
        .title {
          font-size: 14px;
          display: block;
          margin-bottom: 10px;
          letter-spacing: 1px;
          font-weight: 700;
        }
      }
      .address {
        max-width: 240px;
      }
    }
  }
  .kids-images {
    position: absolute;
    right: -48px;
    width: 532px;
    height: 330px;
    bottom: 0px;
    z-index: 0;
    @include MQ(MQ-980) {
      right: 0;
    }
    img {
      @include img-object-contain;
    }
    @include MQ(MQ-768) {
      width: 388px;
      right: 50%;
      transform: translateX(50%);
    }
    @include MQ(MQ-500) {
      width: 248px;
      bottom: -60px;
    }
  }
}
